{% macro render_entity_link (entity, mbid, name) %}
  {%- if mbid is defined and mbid is not none -%}
    <a href="https://listenbrainz.org/{{ entity }}/{{ mbid }}" target="_blank">
      {{ name|upper|e }}
    </a>
    <title>{{ name|e }}</title>
  {%- else -%}
    {{ name|upper|e }}
    <title>{{ name|e }}</title>
  {%- endif -%}
{% endmacro %}

{% macro render_image_link(entity, image, show_caption, rank=None, caption_text_color="#ffffff", caption_bg_color="#0000007a") %}
  {% if image.entity_mbid %}
  <a href="https://listenbrainz.org/{{ entity }}/{{ image.entity_mbid }}" target="_blank">
  {% endif %}
    <image
        x="{{ image.x }}"
        y="{{ image.y }}"
        width="{{ image.width }}"
        height="{{ image.height }}"
        preserveAspectRatio="xMidYMid slice"
        href="{{ image.url }}"
        clip-path="url(#clip-{{ image.x }}-{{ image.y }})"
    >
        {% if image.title and image.artist %}
        <title>
          {{- image.title|escape ~ " - " ~ image.artist|escape -}}
        </title>
        {% endif %}
    </image>
    <clipPath id="clip-{{ image.x }}-{{ image.y }}">
      <rect
        x="{{ image.x }}"
        y="{{ image.y }}"
        width="{{ image.width }}"
        height="{{ image.height }}">
      </rect>
    </clipPath>
    {% if show_caption %}
    <g class="caption" clip-path="url(#clip-{{ image.x }}-{{ image.y }})">
      <rect x="{{ image.x }}" y="{{ image.y + image.height - 30 }}" width="{{ image.width }}" height="30" fill="{{ caption_bg_color }}" />
      <text font-family="Sintony, sans-serif" font-size="10" fill="{{ caption_text_color }}">
        <tspan class="caption-rank" x="{{ image.x + 5 }}" y="{{ image.y + image.height - 19 }}">{% if rank is not none %}{{ rank }}{% endif %}</tspan>
        <tspan class="caption-listen-count" x="{{ image.x + 5 }}" y="{{ image.y + image.height - 7 }}">{% if image.listen_count %}{{ image.listen_count }}{% endif %}</tspan>
        <tspan class="caption-release" x="{{ image.x + image.width // 2 }}" y="{{ image.y + image.height - 19 }}">{% if image.title %}{{ image.title|truncate(18, true, '…')|escape }}{% endif %}</tspan>
        <tspan class="caption-artist" x="{{ image.x + image.width // 2 }}" y="{{ image.y + image.height - 7 }}">{% if image.artist %}{{ image.artist|truncate(18, true, '…')|escape }}{% endif %}</tspan>
      </text>
    </g>
    {% endif %}
  {% if image.entity_mbid %}
  </a>
  {% endif %}
{% endmacro %}
