# Create the mapping indexes (typesense, canonical data tables) each day at 4am
0 5 * * * listenbrainz /usr/local/bin/python /code/mapper/manage.py cron cron-create-all >> /code/mapper/lb-cron.log 2>&1

# Run the huesound color sync hourly
10 * * * * listenbrainz /usr/local/bin/python /code/mapper/manage.py cron cron-update-coverart >> /code/mapper/lb-cron.log 2>&1

# Rebuild the spotify metadata index every friday at 1 A.M.
0 1 * * 5 listenbrainz /usr/local/bin/python /code/mapper/manage.py cron cron-build-spotify-metadata-index >> /code/mapper/cron-spotify-metadata-index.log 2>&1

# Rebuild the apple music metadata index every friday at 2 A.M.
0 2 * * 5 listenbrainz /usr/local/bin/python /code/mapper/manage.py cron cron-build-apple-metadata-index >> /code/mapper/cron-apple-metadata-index.log 2>&1

# Rebuild the soundcloud music metadata index every friday at 3 A.M.
0 3 * * 5 listenbrainz /usr/local/bin/python /code/mapper/manage.py cron cron-build-soundcloud-metadata-index >> /code/mapper/cron-soundcloud-metadata-index.log 2>&1

# Rebuild similar tag data at 2am sundays
0 2 * * 0 listenbrainz /usr/local/bin/python /code/mapper/manage.py cron cron-build-tag-similarity >> /code/mapper/cron-tag-similarity.log 2>&1

# Build the mb entity caches from scratch on first thursday of every month, MB dumps run on Wed and Sat so avoid those days
# NOTE: This cron job files every thursday, but the python script ensures that it only runs during the first week of the month
0 15 * * 4 listenbrainz /usr/local/bin/python /code/mapper/manage.py cron-build-all-mb-caches >> /code/mapper/cron-mb-entity-cache.log 2>&1

# Update the mb entity caches incrementally every 4 hours
0 */4 * * * listenbrainz /usr/local/bin/python /code/mapper/manage.py cron cron-update-all-mb-caches >> /code/mapper/cron-mb-entity-cache.log 2>&1
