# Create the mapping indexes (typesense, canonical data tables) each day at 4am
0 5 * * * listenbrainz /usr/local/bin/python /code/mapper/manage.py cron cron-create-all >> /code/mapper/lb-canonical.log 2>&1

# Rebuild the spotify metadata index every friday at 1 A.M.
0 1 * * 5 listenbrainz /usr/local/bin/python /code/mapper/manage.py cron cron-build-spotify-metadata-index >> /code/mapper/cron-spotify-metadata-index.log 2>&1

# Rebuild the apple music metadata index every friday at 2 A.M.
0 2 * * 5 listenbrainz /usr/local/bin/python /code/mapper/manage.py cron cron-build-apple-metadata-index >> /code/mapper/cron-apple-metadata-index.log 2>&1

# Rebuild the soundcloud music metadata index every friday at 3 A.M.
0 3 * * 5 listenbrainz /usr/local/bin/python /code/mapper/manage.py cron cron-build-soundcloud-metadata-index >> /code/mapper/cron-soundcloud-metadata-index.log 2>&1

# Rebuild the internet archive metadata index every friday at 4 A.M.
0 4 * * 5 listenbrainz /usr/local/bin/python /code/listenbrainz/manage.py run_metadata_cache_seeder >> /code/mapper/cron-internetarchive-metadata-index.log 2>&1

# Rebuild similar tag data at 6am sundays
0 12 * * 2 listenbrainz /usr/local/bin/python /code/mapper/manage.py cron cron-build-tag-similarity >> /code/mapper/cron-tag-similarity.log 2>&1

# Build the mb entity caches from scratch on every thursday, MB dumps run on Wed and Sat so avoid those days
0 15 * * 1 listenbrainz /usr/local/bin/python /code/mapper/manage.py cron-build-all-mb-caches >> /code/mapper/cron-mb-entity-cache-full.log 2>&1

# Update the mb entity caches incrementally every 4 hours
0 */4 * * * listenbrainz /usr/local/bin/python /code/mapper/manage.py cron cron-update-all-mb-caches >> /code/mapper/cron-mb-entity-cache-incremental.log 2>&1
