# Create the mapping indexes (typesense, canonical data tables) each day at 4am
0 4 * * * listenbrainz /usr/local/bin/python /code/mapper/manage.py create-all >> /code/mapper/lb-cron.log 2>&1

# Run the huesound color sync hourly
10 * * * * listenbrainz /usr/local/bin/python /code/mapper/manage.py update-coverart >> /code/mapper/lb-cron.log 2>&1

# Rebuild the spotify metadata index every friday at 1 A.M.
0 1 * * 5 listenbrainz /usr/local/bin/python /code/mapper/manage.py build-spotify-metadata-index >> /code/mapper/cron-spotify-metadata-index.log 2>&1


# Build the mb metadata cache from scratch on first thursday of every month, MB dumps run on Wed and Sat so avoid those days
0 15 * * 4 listenbrainz [ $(date +\%d) -le 7 ] && /usr/local/bin/python /code/mapper/manage.py cron-build-mb-metadata-cache >> /code/mapper/cron-mb-metadata-cache.log 2>&1

# Update the mb metadata cache incrementally every 4 hours
0 */4 * * * listenbrainz /usr/local/bin/python /code/mapper/manage.py update-mb-metadata-cache >> /code/mapper/cron-mb-metadata-cache.log 2>&1
