version: "3.4"

# IMPORTANT NOTE: Volume paths mounted on containers are relative to the
# directory that this file is in (`docker/`) and so probably need to start with
# `../` to refer to a directory in the main code checkout

services:

  db:
    image: postgres:12.3
    command: postgres -F
    environment:
      POSTGRES_PASSWORD: 'postgres'

  redis:
    image: redis:5.0.3

  timescale:
    image: timescale/timescaledb:latest-pg12
    environment:
      POSTGRES_PASSWORD: 'postgres'

  listenbrainz:
    build:
      context: ..
      dockerfile: Dockerfile
      target: listenbrainz-dev
    command: py.test listenbrainz/tests/integration
    image: listenbrainz
    depends_on:
      - redis
      - db
      - timescale
      - rabbitmq

  timescale_writer:
    image: listenbrainz
    command: python3 -m "listenbrainz.timescale_writer.timescale_writer"
    depends_on:
      - redis
      - timescale
      - rabbitmq 

  rabbitmq:
    image: rabbitmq:3.6.5
