[DEFAULT]
LOGLEVEL = 'INFO' ; Default = INFO, Possible Values = DEBUG,INFO,WARNING,ERROR,CRITICAL


[DATABASE]
SQLALCHEMY_DATABASE_URI = "postgresql://listenbrainz@/listenbrainz" ; Primary database
TEST_SQLALCHEMY_DATABASE_URI = "postgresql://lb_test@/lb_test"      ; Database for testing


[KAFKA]
# Kafka Settings
KAFKA_SERVER = "localhost:9092"


[CASSANDRA]
# Cassandra settings
CASSANDRA_SERVER = "localhost"
CASSANDRA_KEYSPACE = "listenbrainz"
CASSANDRA_REPLICATION_FACTOR = 1

