server {
     root        /usr/share/nginx/www;
     server_name listenbrainz.org api.listenbrainz.org;
     access_log  /var/log/nginx/listenbrainz-combined.log combined;
     error_log   /var/log/nginx/listenbrainz-error.log notice;

     location /static {
          root /home/listenbrainz/listenbrainz-server/webserver;
          gzip on;
          gzip_http_version 1.0;
          gzip_comp_level 6;
          gzip_proxied any;
          gzip_types text/plain text/css application/json application/x-javascript text/javascript;
          gzip_buffers 16 8k;
          gzip_vary on;
     }

     location    / {
	  try_files $uri @lb;
     }
     location @lb {
          include uwsgi_params;
          uwsgi_pass unix:/tmp/listenbrainz.uwsgi.sock;
          gzip on;
          gzip_http_version 1.0;
          gzip_comp_level 6;
          gzip_proxied any;
          gzip_types text/plain application/json application/x-javascript text/javascript;
          gzip_buffers 16 8k;
          gzip_vary on;
     }
}
server {
     listen      178.63.74.66:443;
     root        /usr/share/nginx/www;
     server_name listenbrainz.org api.listenbrainz.org;
     access_log  /var/log/nginx/listenbrainz-ssl.log ssllog;
     access_log  /var/log/nginx/listenbrainz-ssl-combined.log combined;
     error_log   /var/log/nginx/listenbrainz-ssl-error.log notice;

     ssl on;
     ssl_certificate /etc/ssl/private/listenbrainz.crt;
     ssl_certificate_key /etc/ssl/private/listenbrainz.key;
     ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
     ssl_ciphers 'ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:AES:CAMELLIA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA';
     ssl_prefer_server_ciphers on;
     ssl_dhparam /etc/ssl/dhparams.pem;


     ssl_session_timeout 5m;

     location /static {
          root /home/listenbrainz/listenbrainz-server/webserver;
          gzip on;
          gzip_http_version 1.0;
          gzip_comp_level 6;
          gzip_proxied any;
          gzip_types text/plain text/css application/json application/x-javascript text/javascript;
          gzip_buffers 16 8k;
          gzip_vary on;
     }

     location    / {
	  try_files $uri @lb;
     }
     location @lb {
          include uwsgi_params;
          uwsgi_pass unix:/tmp/listenbrainz.uwsgi.sock;
          gzip on;
          gzip_http_version 1.0;
          gzip_comp_level 6;
          gzip_proxied any;
          gzip_types text/plain application/json application/x-javascript text/javascript;
          gzip_buffers 16 8k;
          gzip_vary on;
     }
}
