[Unit]
Description=The ListenBrainz Request Consumer for Spark

[Service]
WorkingDirectory=/home/request_consumer/listenbrainz-server/
ExecStart=/home/request_consumer/listenbrainz-server/docker/start-spark-request-consumer.sh
User=root
Environment=SPARK_HOME=/usr/local/spark

[Install]
WantedBy=multi-user.target
