{%- extends 'base.html' -%}
{%- block title -%}API Documentation - ListenBrainz{%- endblock -%}
{%- block content -%}
  <h2 class="page-title">API Documentation</h2>

  If you would like to use our API to submit/fetch listens from ListenBrainz, please take a look at
  <a href="https://listenbrainz.readthedocs.org">API documentation</a>.

  <h2>Client Libraries</h2>
  Client libraries have already been written for some languages:
  <ul>
    <li><em>Haskell</em>: <a href="http://hackage.haskell.org/package/listenbrainz-client"><code>listenbrainz-client</code></a></li>
  </ul>

{%- endblock -%}
