{%- extends 'base.html' -%}
{%- block title -%}API Documentation - ListenBrainz{%- endblock -%}
{%- block content -%}
  <h2 class="page-title">API Documentation</h2>

  If you would like to use our API to submit/fetch listens from ListenBrainz, please take a look at
  <a href="https://listenbrainz.readthedocs.org">API documentation</a>.

  <h2>Listen Submitters</h2>
    These are programs that submit listens to ListenBrainz.
  <ul>
    <li><em><a href="https://www.musicpd.org/">mpd</a></em>, a flexible, powerful, server-side application for playing music: <a href="https://github.com/kori/libra"><code>libra</code></a></li>
    <li><em><a href="https://wiki.gnome.org/Apps/Rhythmbox/">Rhythmbox</a></em>, a music playing application for GNOME: <a href="https://github.com/phw/rhythmbox-plugin-listenbrainz"><code>rhythmbox-plugin-listenbrainz</code></a></li>
    <li><em><a href="https://wiki.gnome.org/Apps/Lollypop">Lollypop</a></em>, a modern music player for GNOME</li>
    <li><em><a href="https://github.com/InputUsername/rescrobbled">Rescrobbled</a></em>, a universal Linux scrobbler for MPRIS enabled players</li>
    <li><em><a href="https://add0n.com/lastfm-scrobbler.html">Last.fm Scrobbler</a></em>, an extension for Firefox and Chrome</li>
    <li><em><a href="https://github.com/tgwizard/sls">Simple Last.fm Scrobbler</a></em>, for Android devices</li>
    <li><em><a href="https://github.com/amCap1712/vlc-listenbrainz-plugin">VLC Listenbrainz plugin</a></em>, cross-platform plugin for VLC player</li>
  </ul>

{%- endblock -%}
