{%- extends 'base.html' -%}
{%- block title -%}Contribute - ListenBrainz{%- endblock -%}
{%- block content -%}
  <h2 class="page-title">Contributing to ListenBrainz</h2>

  <h3>Donating</h3>
  <p>
    Listenbrainz is a free open source project that is not run for profit. If you would like to help the project out
    financially, consider <a href="https://metabrainz.org/donate">donating</a> to the MetaBrainz Foundation.
  </p>

  <h3>Developers</h3>
  <p>
     ListenBrainz is in its infancy and we need a lot of help to implement more features and to debug the existing
     features. If you feel like helping out and have experience with Python, Postgres and Redis,
     we'd love some help.
  </p>
  <p>
     Have a look at the <a href="https://github.com/metabrainz/listenbrainz-server">GitHub repository</a> for this
     project to get started. You may also consider heading to our IRC channel #metabrainz on irc.freenode.net and
     asking people there what should be worked on next. Finally, we also have a bug tracker that keeps track of our
     <a href="http://tickets.musicbrainz.org/browse/LB">current issues</a>.
  </p>

{%- endblock -%}
