{%- extends 'base.html' -%}
{%- block title -%}Status - ListenBrainz{%- endblock -%}
{%- block content -%}

  <h2 class="page-title">Current status</h2>

  <div class="row">

    <div class="col-md-7 col-lg-8">
      <h3>ListenBrainz Stats</h3>
      <table class="table table-border table-condensed table-striped">
        <thead>
          <tr>
            <th>Description</th>
            <th>Number</th>
          </tr>
        </thead>
        <tbody>
        {% if user_count %}
          <tr>
            <td>Number of users</td>
            <td>{{ user_count }}</td>
          </tr>
        {% endif %}
        {% if listen_count %}
          <tr>
            <td>Number of listens</td>
            <td>{{ listen_count }}</td>
          </tr>
        {% endif %}
        {% if listen_counts_per_day %}
          {% for data in listen_counts_per_day %}
          <tr>
            <td>Number of listens submitted {{ data['label'] }} ({{ data['date'] }})</td>
            <td>{{ data['listen_count'] }}</td>
          </tr>
          {% endfor %}
        {% endif %}
        </tbody>
      </table>

      <p>
        If you are curious about the state of our Listen ingestion pipelines, you can
        create yourself a free account on our <a href="https://stats.metabrainz.org">infrastructure
        statistics site</a>. In particular,
        the
        <a href="https://stats.metabrainz.org/d/000000059/rabbitmq?orgId=1&refresh=1m&var-queue_vhost=%2Flistenbrainz">
        RabbitMQ ListenBrainz view</a> shows how many listens we are currently processing, and the number of incoming listens currently queued for processing.
      </p>

      <h3>load average</h3>

      <p>
        Current server load average
      </p>
      <div class="well">
         {{ load }}
      </div>

    </div>

    <div class="col-md-5 col-lg-4">

      <p style="text-align: center">
        <img style="border-radius: 15px;"
             src="{{ url_for('static', filename='img/selfie.jpg') }}"
             width="250" />
      </p>

      <p style="text-align: center">
         Our server doesn't have a selfie. :(</br>
         Have a monkey selfie instead!
         </p>
      </p>

    </div>

  </div>

{%- endblock -%}
