{%- extends 'base.html' -%}
{%- block title -%}Downloads - ListenBrainz{%- endblock -%}
{%- block content -%}

  <h2 class="page-title">Live Data</h2>
  <p>
      As an alternative to a huge download which can be hard to manage, you may also query the ListenBrainz data live
      on Google's BigQuery service. We stream data to this dataset in real time and every user gets a free query allowance
      from Google, so this is by far the easiest way to explore the ListenBrainz data!
  </p>
  <p>
      <a href="https://console.cloud.google.com/launcher/details/metabrainz/listenbrainz">Explore ListenBrainz data on BigQuery</a>.
  </p>

  <h2>Data Downloads</h2>
  <p>
      You can download the ListenBrainz data snapshots from the following sites:
  </p>
  <ul>
      <li><a href="http://ftp.musicbrainz.org/pub/musicbrainz/listenbrainz/fullexport">HTTP download site (USA)<a></li>
      <li><a href="ftp://ftp.musicbrainz.org/pub/musicbrainz/listenbrainz/fullexport">FTP (USA)</a></li>
      <li><a href="ftp://ftp.eu.metabrainz.org/pub/musicbrainz/listenbrainz/fullexport">FTP (France)</a></li>
  </ul>
  <p>
      Currently the data dumps will be udpated every two weeks, on or about the 1st and the 15th of each month.
  </p>


{%- endblock -%}
