{%- extends 'base.html' -%}
{%- block title -%}Downloads - ListenBrainz{%- endblock -%}
{%- block content -%}

  <h2>Data Downloads</h2>
  <p>
      You can download the ListenBrainz data snapshots from the following sites:
  </p>
  <ul>
      <li><a href="http://ftp.musicbrainz.org/pub/musicbrainz/listenbrainz/fullexport">HTTP download site (USA)<a></li>
      <li><a href="ftp://ftp.musicbrainz.org/pub/musicbrainz/listenbrainz/fullexport">FTP (USA)</a></li>
      <li><a href="ftp://ftp.eu.metabrainz.org/pub/musicbrainz/listenbrainz/fullexport">FTP (France)</a></li>
  </ul>
  <p>
      Currently the data dumps will be updated every two weeks, on or about the 1st and the 15th of each month.
  </p>


{%- endblock -%}
