{%- extends 'base.html' -%}
{%- block title -%}FAQ - ListenBrainz{%- endblock -%}
{%- block content -%}
  <h2 class="page-title">Frequently Asked Questions</h2>

  <p>
    <strong>Q:</strong> Why do you call your data Listens?<br />
    <strong>A:</strong> The term <strong>scrobble</strong> is a trademarked term
    by Last.fm and we cannot use it. Instead we use the term <strong>listen</strong>.
  </p>

  <p>
    <strong>Q:</strong> Is it safe for the Last.fm importer to be run twice?<br />
    <strong>A:</strong> Yes, it is. Running it twice will not cause duplicates in your listen history.
  </p>

{%- endblock -%}
