{% extends 'base.html' %}

{% block title %}Agree to Terms - ListenBrainz{% endblock %}

{% block content %}
  <h2 class="page-title">Agree to Terms and Conditions</h2>

  <div class="well bg-danger" style="max-width: 600px; margin: 0 auto;">
    <p class="text-danger">Important!</p>
    <p>
      By continuing to use ListenBrainz, you grant the MetaBrainz Foundation permission to process your listen history (not your personal data from your profile) into data dumps we make publicly available under the <a
      href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 license</a> and into other tools such as music recommendation engines. If you do not wish to give the MetaBrainz Foundation permission to  process your listening history, you will need to request to delete your ListenBrainz account.
    </p>
    <form method="POST">
      <input type="radio" id="gdpr-agree" name="gdpr-options" value="agree" required> OK, I agree<br/>
      <input type="radio" id="gdpr-disagree" name="gdpr-options" value="disagree" required> No, take me to the account deletion page<br/>
      {% if request.args.get('next') %}
        <input type="hidden" name="next" value="{{ request.args.get('next') }}"/>
      {% endif %}
    </div>
    <br/>
    <div class="well" style="max-width: 600px; margin: 0 auto;">
      <button type="submit" class="btn btn-primary btn-lg btn-block">Submit choice!</a>
    </div>
  </form>
{% endblock %}
