{% extends 'base.html' %}

{% block title %}Agree to Terms - ListenBrainz{% endblock %}

{% block content %}
  <h2 class="page-title">Agree to General Data Protection Regulations</h2>

  <div class="well bg-danger" style="max-width: 600px; margin: 0 auto;">
      <p class="text-danger" style="font-size: 16pt;">Important!</p>
      <p>
        By signing into ListenBrainz, you grant the MetaBrainz Foundation permission to include your listening history
        in data dumps we make publicly available under the
        <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 license</a>. None of your private information
        from your user profile will be included in these data dumps.
      </p>
      <p>
        Furthermore, you grant the MetaBrainz Foundation permission to process your listening history and include it
        in new open source tools such as recommendation engines that the ListenBrainz project is building. For details
        on processing your listening history, please see our <a href="https://metabrainz.org/gdpr">GDPR compliance
        statement</a>.
      <p>
      </p>
        If you change your mind about processing your listening history, you will need to
        <a href="{{ url_for('login.musicbrainz')}}">delete your ListenBrainz account</a>.
      </p>

    <form method="POST">
      <input type="radio" id="gdpr-agree" name="gdpr-options" value="agree" required>
      <label for="gdpr-agree">OK, I agree</label><br/>
      <input type="radio" id="gdpr-disagree" name="gdpr-options" value="disagree" required>
      <label for="gdpr-disagree">No, take me to the account deletion page</label><br/>
      {% if request.args.get('next') %}
        <input type="hidden" name="next" value="{{ request.args.get('next') }}"/>
      {% endif %}
    </div>
    <br/>
    <div class="well" style="max-width: 600px; margin: 0 auto;">
      <button type="submit" class="btn btn-primary btn-lg btn-block">Submit choice!</a>
    </div>
  </form>
{% endblock %}
