{%- extends 'base-react.html' -%}

{% block head %}
  {{ super() }}
  <style type="text/css">
    /* Allow for full-width homepage  */
    #react-container {
        max-width: none;
    }
    body > .container-fluid {
      padding: 0;
    }
  </style>
{%- endblock -%}

{%- block content -%}

  {{ super() }}
{%- endblock -%}

{%- block footer -%}
<!-- No footer for the homepage -->
{%- endblock -%}

{% block scripts %}
{{ super() }}
<script src="{{ get_static_path('homepage.js') }}" type="text/javascript"></script>
{% endblock %}
