{%- extends 'base.html' -%}
{%- block content -%}
  <div id="homepage" class="row">

    <div class="col-md-7 col-lg-8">
      <img src="{{ url_for('static', filename='img/logo_big.svg') }}" id="big-logo" />
      <h2 class="page-title">Welcome to ListenBrainz!</h2>
      <p>
        ListenBrainz is an open repository of your music listening history.
        We're completely open-source and publish our data as open data.
      </p>
      <p>
        You can use ListenBrainz to track your music listening habits and
        share your taste with others using our visualizations. We also have an
        <a href="https://listenbrainz.readthedocs.io/en/production/dev/api/">API</a>
        if you want to do more with your data.
      </p>
      <p>
        To get started, you'll need to <a href="{{ url_for('login.index') }}">sign in</a> with
        a <a href="https://musicbrainz.org">MusicBrainz</a> account. If you don't have a MusicBrainz
        account, you can <a href="https://musicbrainz.org/register">create one</a>! Once you have an
        account, you can <a href="{{ url_for('profile.import_data') }}">import</a>
        data from Last.FM or connect your Spotify account to ListenBrainz to track your listening history.
      </p>
      <p>
        Need help? Ask our <a href="https://community.metabrainz.org/c/listenbrainz">community</a>!
      </p>
      <h2>About us</h2>
      <p>
        ListenBrainz is operated by the <a href="https://metabrainz.org">MetaBrainz Foundation</a>
        which has a long-standing history of curating, protecting and making music data available to the
        public. MetaBrainz commits itself to safe-guarding the ListenBrainz data indefinitely.
      </p>
      <p>
        We also make this incredibly useful data available to anyone who cares to play with it. You
        can use our API or our regular public <a href="https://listenbrainz.readthedocs.io/en/production/dev/listenbrainz-dumps/">data dumps</a>.
        All non-commercial use of this data is free, but commercial users are asked to <a href="https://metabrainz.org/supporters/account-type">support</a>
        us in order to help fund the project.
      </p>
      <p>
        For more information about this project and its goals, please take a look at our
        <a href="{{ url_for('index.goals') }}">goals page</a>.
      </p>

      <h2>Contributing</h2>
      <p>
        If you are interested in helping out, consider <a href="https://metabrainz.org/donate">donating</a>
        to the MetaBrainz Foundation.
      </p>
      <p>
        If you are interesting in contributing code or documentation, please have a look
        at the <a href="https://github.com/metabrainz/listenbrainz-server">code repository</a>
        or come visit us in the #metabrainz IRC channel on irc.freenode.net.
      </p>
    </div>

    <div class="col-md-5 col-lg-4">

      <div id="stats" class="panel panel-default">
        <div class="panel-heading"><strong>Data Statistics</strong></div>
        <div class="panel-body">

          <table class="table table-collapsed">
            <thead>
              <tr>
                <th>Description</th>
                <th>Number</th>
              </tr>
            </thead>
            <tbody>
            {% if listen_count %}
              <tr>
                <td>Number of Listens</td>
                <td>{{ "{:,}".format(listen_count) }}</td>
              </tr>
            {% endif %}
            </tbody>
          </table>
          <p style="text-align: center">
            <small>updated every 5 minutes</small><br />
            <small><a href="{{ url_for('index.current_status') }}">more on the current status page</a></small>
          </p>
        </div>
      </div>

      <div id="twitter-block">
        <a class="twitter-timeline" data-dnt="true" data-lang="en" href="https://twitter.com/ListenBrainz" data-widget-id="640261552604643328" data-height="450px">Tweets by @ListenBrainz</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
  </div>
{%- endblock -%}
