{%- extends 'base.html' -%}
{%- block title -%}Listens currently unavailable - ListenBrainz{%- endblock -%}
{%- block content -%}
  <h2 class="page-title">Listens currently unavailable</h2>

  <p>
     The database that contains listens for our users is currently offline
     for maintenance. Please try again in a few minutes.
  </p>

  <p>
     Please note: You may continue to submit listens during this time. We'll
     save them once our database is available again.
  </p>

  <p>
     You may find out more about the current status of our services by
     checking our <a href="https://twitter.com/ListenBrainz">Twitter
     feed</a>.
  </p>

{%- endblock -%}
