{%- extends 'base.html' -%}
{%- block title -%}Login currently unavailable - ListenBrainz{%- endblock -%}
{%- block content -%}
  <h2 class="page-title">Login currently unavailable</h2>

  <p>
     ListenBrainz login and sign up is currently unavailable due to database maintenance.
     Please try again in a few minutes.
  </p>

  <p>
     Please note: You may continue to submit listens during this time.
  </p>

  <p>
     You may find out more about the current status of our services by
     checking our <a href="https://twitter.com/ListenBrainz">Twitter
     feed</a>.
  </p>

{%- endblock -%}
