{% extends 'base.html' %}

{% block title %}Privacy Policy - ListenBrainz{% endblock %}

{% block content %}
  <h2 class="page-title">ListenBrainz Privacy Policy</h2>

  <h3>Important note</h3>

  <p>
    This privacy policy only addresses situations specific to ListenBrainz that are not covered
    by the MetaBrainz organization wide privacy policy. <b>We strongly urge you to read the
    full <a href="https://metabrainz.org/privacy">MetaBrainz privacy policy</a> before you
    read the remainder of this ListenBrainz specific privacy policy.</b>
  </p>

  <h3>Use of your YouTube profile information</h3>

  <p>
    The embedded music player that is present in a number of pages on ListenBrainz can
    <a href="{{ url_for('profile.music_services_details') }}">optionally be connected to
    play YouTube content</a>. During this connection process ListenBrainz will request
    permissions to view your YouTube profile data. Please note that YouTube does not have
    any permissions lesser than this permission; if we wish to play YouTube content on
    ListenBrainz pages, we are required to ask for this permission, even though we wish we
    didn't have to do this.
  </p>

  <p>
    ListenBrainz does not actually look at your YouTube profile. <b>We do not inspect, download
    or in any way save any data that is available in your YouTube profile. None, at all.</b>
  </p>

  <h4>Have a look for yourself</h4>

  <p> 
    If you wish to inspect our source code that is running on our servers, please take a look
    at our 
    <a href="https://github.com/metabrainz/listenbrainz-server/blob/master/listenbrainz/domain/youtube.py">
    implementation of how we interact with your YouTube profile</a>. Furthermore, in <a
    href="https://github.com/metabrainz/listenbrainz-server/blob/master/listenbrainz/webserver/static/js/src/utils.tsx">
    utils.tsx</a> you can inspect the function <em>searchForYoutubeTrack</em> which shows
    the single YouTube API function that ListenBrainz uses.
  </p>

  <h3>MetaBrainz Privacy Policy</h3>

  <p>
    The entirety of the <a href="https://metabrainz.org/privacy">MetaBrainz privacy policy</a> also
    applies to ListenBrainz, not only the portions covered here. We urge you to read this policy
    in full!
  </p>
    

{% endblock %}
