{%- extends 'base.html' -%}
{%- block title -%}FAQ - ListenBrainz{%- endblock -%}
{%- block content -%}
  <h2 class="page-title">Roadmap</h2>

  We've put together a very rough roadmap for this project:

  <h3>Short term</h3>

  <ul>
    <li>
       Launch the ListenBrainz beta in July 2017
    </li>
    <li>
       Observe for possible problems and fix them as they come up.
    </li>
    <li>
       Push the beta into full production as soon as all show-stopper (data loss) bugs are fixed.
    </li>
    <li>
       Make our Google Big Query copy of the ListenBrainz data available to the public. This data repository will
       be updated in real time with hopefully only a few seconds of latency.
    </li>
  </ul>

  <h3>Medium term</h3>

  <ul>
    <li>
     As part of a Google Summer of Code project, we're going to add statistics and graphs for users, artists and lots more.
     This will be released a the end of summer 2017.
    </li>
    <li>
      Data export: To export our data on a regular basis so that others can use it.
    </li>
  </ul>

  <h3>Long term</h3>

  <p>
     We have not worked out many long term plans yet. Clearly we are on the road to developing
     open source music recommendation engines, but that is still a ways off in the future.
  </p>

{%- endblock -%}
