{%- extends 'base.html' -%}
{%- block title -%}FAQ - ListenBrainz{%- endblock -%}
{%- block content -%}
  <h2 class="page-title">Roadmap</h2>

  We've put together a very rough roadmap for this project:

  <h3>Short term</h3>

  <ul>
    <li>
       Work to improve and extend the user data graphing features.
    </li>
  </ul>

  <h3>Medium term</h3>

  <ul>
    <li>
       Start working on an open source recommendation engine using data from ListenBrainz,
       <a href="https://acousticbrainz.org">AcousticBrainz</a> and <a href="https://musicbrainz.org">MusicBrainz</a>.
    </li>
    <li>
      Incremental data export: To export smaller data deltas on a more frequent basis than our full data dumps.
    </li>
  </ul>

  <h3>Long term</h3>
  <ul>
    <li>
        Total world domination. What other goals are open source projects allowed to have?
    </li>
  </ul>

  <br/>

  <p>
    We also have a <a href="https://trello.com/b/kNrJb7Jq/listenbrainz-planning">Trello</a> board to keep track of
    our short-term tasks and deadlines. Feel free to take a look!
  </p>

  <p>
     If you have any ideas that should be on our roadmap, please <a href="https://metabrainz.org/contact">let us know</a>!
  </p>

{%- endblock -%}
