{% extends 'base.html' %}

{% block title %}Sign in - AcousticBrainz{% endblock %}

{% block content %}
  <h2 class="page-title">Sign in</h2>
  <p>To sign in, use your MusicBrainz account, and authorize AcousticBrainz to access your profile data.</p>
  <hr />
  <div class="well" style="max-width: 600px; margin: 0 auto;">
    <a href="{{ url_for('login.musicbrainz', next=request.args.get('next')) }}"
       class="btn btn-primary btn-lg btn-block">Sign in with MusicBrainz</a>
  </div>
{% endblock %}
