# MusicBrainz OAuth
MUSICBRAINZ_CLIENT_ID = "CLIENT_ID"
MUSICBRAINZ_CLIENT_SECRET = "CLIENT_SECRET"

# Lastfm API
LASTFM_API_KEY = "USE_LASTFM_API_KEY"

# BigQuery support
# Enable/disable support. If enabled, the Application Credentials must reside in
# bigquery-credentials.json in the top level directory.
WRITE_TO_BIGQUERY = False
BIGQUERY_PROJECT_ID = "listenbrainz"
BIGQUERY_DATASET_ID = "listenbrainz_test"
BIGQUERY_TABLE_ID = "listen"


API_URL = 'https://api.listenbrainz.org' # this is used by the last.fm importer

LASTFM_PROXY_URL = 'http://0.0.0.0:8080/'
