.git

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
env
venv
/build

# Node
node_modules

# Logs
*.log
pip-log.txt
pip-delete-this-directory.txt

# Application data
/data
/pgdata

# Backups and dumps
/export/

# Test results
htmlcov
.coverage

# Vagrant
.vagrant

.transifexrc
