.git

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
env
venv
/build

# Logs
*.log
pip-log.txt
pip-delete-this-directory.txt

# Application data
/docker/data

# Test results
htmlcov
.coverage

# Vagrant
.vagrant

# Private credentials
credentials
