/.git*

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]

# Virtual environment
/env*/
/venv*/
/build*/

# Logs
**/*.log
**/pip-log.txt
**/pip-delete-this-directory.txt

# Test results
**/htmlcov/
**/.coverage

# Private credentials
/credentials

# Javascript packages
/node_modules/

# ListenBrainz local dump directory
/listenbrainz-export
