.kitchen
.vagrant
.DS_Store
*.pyc
*.swp
config.py
custom_config.py
*.log
.cache
env
bigquery-credentials.json
*.bak

# ListenBrainz application data
docker/data

# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Mm]an
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

# Javascript
node_modules