DEBUG = False  # set to False in production mode

SECRET_KEY = "CHANGE_ME"


# DATABASES

# Primary database
SQLALCHEMY_DATABASE_URI = "postgresql://messybrainz@/messybrainz"

# Database for testing
TEST_SQLALCHEMY_DATABASE_URI = "postgresql://mb_test@/mb_test"

# The name of a postgres user who has superuser privileges. Your local user should
# be able to connect to the database with this user.
PG_SUPER_USER = "postgres"


# MUSICBRAINZ

MUSICBRAINZ_USERAGENT = "messybrainz-server"
MUSICBRAINZ_HOSTNAME = None


# CACHE

MEMCACHED_SERVERS = ["127.0.0.1:11211"]
MEMCACHED_NAMESPACE = "MSB"


# LOGGING

#LOG_FILE_ENABLED = True
#LOG_FILE = "./messybrainz.log"

#LOG_EMAIL_ENABLED = True
#LOG_EMAIL_TOPIC = "MessyBrainz Webserver Failure"
#LOG_EMAIL_RECIPIENTS = []  # List of email addresses (strings)

#LOG_SENTRY_ENABLED = True
#SENTRY_DSN = ""


# MISCELLANEOUS

#BEHIND_GATEWAY = True
#REMOTE_ADDR_HEADER = "X-MB-Remote-Addr"

IP_FILTER_ON = False
IP_WHITELIST = [
    #'127.0.0.1',
]

# Mail server
# These variables need to be defined if you enabled log emails.
#SMTP_SERVER = "localhost"
#SMTP_PORT = 25
#MAIL_FROM_DOMAIN = "messybrainz.org"

# Set to True if Less should be compiled in browser. Set to False if styling is pre-compiled.
COMPILE_LESS = True

FILE_STORAGE_DIR = "./files"
