click==7.0
hetznercloud==1.1.1
hdfs == 2.5.8
Jinja2 == 2.10.3
pika==0.13.0
python-dateutil==2.8.0
numpy==1.18.1
git+https://github.com/metabrainz/brainzutils-python.git@v1.14.0
pytest == 5.3.4
pytest-cov == 2.8.1
py4j == 0.10.8.1
pyspark == 2.4.4
