Flask-Admin == 1.5.5
Flask-Testing == 0.8.0
Flask-Login == 0.4.1
Flask-WTF == 0.14.3
Flask-SQLAlchemy == 2.4.1
flask-socketio == 4.2.1
click == 7.0
jsonschema == 3.2.0
rauth == 0.7.3
setproctitle == 1.1.10
markupsafe == 1.1.1
blist == 1.3.6
pytz==2019.3
psycopg2-binary == 2.8.4
python-dateutil == 2.8.1
ujson == 1.35
redis == 3.4.1
yattag == 1.13.2
xmltodict == 0.12.0
influxdb == 5.2.3
oauth2client == 4.1.3
google-api-python-client==1.8.0
pika == 0.13.0
git+https://github.com/metabrainz/messybrainz-server.git@production#egg=messybrainz
git+https://github.com/metabrainz/brainzutils-python.git@v1.14.0
spotipy == 2.10.0
pyyaml == 5.3.1
eventlet == 0.25.1
Flask-CORS == 3.0.8
uWSGI == 2.0.18
