click==7.1.2
hdfs == 2.5.8
Jinja2 == 3.1.4
MarkupSafe==2.0.1
itsdangerous==2.0.1
kombu==5.1.0
python-dateutil==2.8.2
numpy==1.24.1
pydantic == 1.10.13
sentry-sdk == 2.8.0
unidecode == 1.2.0
more-itertools==8.8.0
pycountry==22.3.5
pycurl==7.45.2
urllib3==1.26.19
pandas==1.5.3
zstandard==0.21.0
pyarrow==14.0.1
