Flask == 0.10.1
Flask-UUID == 0.2
Flask-Testing == 0.4.2
Flask-Login == 0.2.11
Flask-WTF == 0.12
psycopg2 == 2.6.1
Jinja2 == 2.8
Werkzeug == 0.10.4
nose == 1.3.7
coverage == 3.7.1
click == 4.1
musicbrainzngs == 0.5
jsonschema == 2.5.1
rauth == 0.7.1
Fabric == 1.10.2
raven[flask] == 5.5.0
six == 1.9.0
pyyaml == 3.11
python-memcached == 1.57
setproctitle == 1.1.9
