#!/bin/bash

LISTENERBUS_CAPACITY="100000"
MAX_CORES="20"
EXECUTOR_CORES="5"
EXECUTOR_MEMORY="4g"
DRIVER_MEMORY="2g"
DRIVER_MAX_RESULT_SIZE="4g"
DRIVER_MEMORY_OVERHEAD="600m"
EXECUTOR_MEMORY_OVERHEAD="600m"
CONTAINER_NAME="listenbrainz-jobs-`whoami`"
