HDFS = {
'HDFS_HTTP_URI': 'http://hadoop-master:9870', # the URI of the http webclient for HDFS
'HDFS_CLUSTER_URI': 'hdfs://hadoop-master:9000' # the URI to be used with Spark
}

RABBITMQ = {
'RABBITMQ_HOST': "rabbitmq",
'RABBITMQ_PORT': 5672,
'RABBITMQ_USERNAME': "guest",
'RABBITMQ_PASSWORD': "guest",
'RABBITMQ_VHOST': "/",
'MAXIMUM_RABBITMQ_CONNECTIONS': 20,
'SPARK_EXCHANGE': "spark",
'SPARK_QUEUE': "spark"
}
