.releases-page {
  // FILTERS
  #filters-container {
    display: flex;
    flex-direction: column;

    #coverart-checkbox {
      // TODO add :checked color
      input[type="checkbox"] {
        transform: scale(1.5);
        margin: 0.5rem;
        &:checked::after {
          background: @orange;
          color: @white;
        }
      }

      label {
        display: inline;
        font-weight: 500;
      }
    }

    #release-filters {
      display: flex;
      flex-direction: column;
      user-select: none;

      #title-container {
        display: flex;
        margin-top: 2em;
        align-items: flex-end;

        #type-title {
          flex-grow: 1;
          text-transform: uppercase;
          font-size: large;
          font-weight: bold;
        }

        #clearall-btn {
          display: none;
          font-size: small;
          flex-grow: 2;
        }
      }

      #filters-list {
        text-transform: lowercase;

        .type-container {
          margin: 1rem 0;
          font-size: larger;
          &:hover {
            cursor: pointer;
            color: fade(@orange, 75%);
          }

          .type-name-inactive {
            margin-right: 0.25rem;
          }

          .type-name-active {
            margin-right: 0.25rem;
            color: @orange;
          }
        }
      }
    }
  }

  // CARDS
  .release-cards-grid {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);

    .release-card-container {
      display: flex;
      flex-direction: column;
      padding: 1rem;

      .release-date {
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        cursor: default;
      }

      .release-coverart {
        width: 12em;
        height: 12em;
        border-radius: 4px;
        user-select: none;
        aspect-ratio: 1;
        object-fit: cover;
        box-shadow: 4px 4px 8px -2px fade(@asphalt, 20%);
        transition: box-shadow 0.3s cubic-bezier(0, 0, 0.2, 1) 0.1s;

        &:hover {
          box-shadow: 8px 2px 20px -4px fade(@asphalt, 60%);
        }
      }

      .name-type-container {
        margin-top: 0.5rem;
        width: 12em;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
      }

      .release-name {
        // font-size: larger;
        flex-grow: 1;
        padding-right: 4px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .release-type-chip {
        padding: 2px 4px;
        border-radius: 4px;
        background: fade(@asphalt, 90%);
        color: #fff;
        line-height: 1.2;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: x-small;
        letter-spacing: 1px;
        cursor: default;
      }

      .release-artist {
        width: 12em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        a {
          font-weight: 500;
        }
      }
    }

    @media (max-width: @screen-xs) {
      grid-template-columns: repeat(1, 1fr);
      & > .release-card-container {
        & > .release-coverart {
          width: 15.5em;
          height: 15.5em;
        }
        & > .name-type-container {
          width: 15.5em;
        }
        & > .release-artist {
          width: 15.5em;
        }
      }
    }

    @media (min-width: @screen-xs) and (max-width: @screen-sm) {
      grid-template-columns: repeat(2, 1fr);
      & > .release-card-container {
        & > .release-coverart {
          width: 14.25em;
          height: 14.25em;
        }
        & > .name-type-container {
          width: 14.25em;
        }
        & > .release-artist {
          width: 14.25em;
        }
      }
    }

    @media (min-width: @screen-sm) and (max-width: @screen-md) {
      grid-template-columns: repeat(3, 1fr);
      & > .release-card-container {
        & > .release-coverart {
          width: 13.5em;
          height: 13.5em;
        }
        & > .name-type-container {
          width: 13.5em;
        }
        & > .release-artist {
          width: 13.5em;
        }
      }
    }

    @media (min-width: @screen-md) and (max-width: @screen-lg) {
      grid-template-columns: repeat(4, 1fr);
      & > .release-card-container {
        & > .release-coverart {
          width: 12em;
          height: 12em;
        }
        & > .name-type-container {
          width: 12em;
        }
        & > .release-artist {
          width: 12em;
        }
      }
    }
  }

  // TIMELINE
  // .releases-timeline {
  // }
}
