@import "theme/theme.less";
@import "listens-page.less";
@import "playlists.less";
@import "follow.less";
@import "recommendation-page.less";

@import "highlight.css"; // Styles for highlight.js

@icon-font-path:"/static/fonts/";

@pager-border-radius: @border-radius-base;

body {
  padding-bottom: 25px;
}

.table {
  > thead > tr > th { border-bottom-width: 1px; }
}
.table-nonfluid {
   width: auto !important;
}

.navbar {
  .nav {
    > li {
      > a { color: @blue; }
    }
  }
}

.btn {
  .glyphicon {
    margin-right: 4px;
  }
}

// Navbar
@grid-float-breakpoint: @screen-md-min; // Point at which the navbar becomes uncollapsed
.navbar {
  .beta {
    .pull-right;
    color: @red;
  }
  @logo-width: 166px + 15px;
  .navbar-variant(#353070, @logo-width);
  .import-link {
    > a {
      color: white !important;
      font-size: 1.5em !important;
      background-color: @orange !important;
      &:hover, &:focus {
        background-color: darken(@orange, 6.5%) !important;
      }
    }
  }
  .navbar-form {
    padding-right: 0px;
    .btn {
      background-color: @turquoise;
      margin-right: 0px;
    }
  }
}

// Content Wrapper
.wrapper {
  min-height: 70vh;
}

// Footer
.footer {
  height: 70px;
  img { height: 45px; }
}

h2.page-title { @media (max-width: @grid-float-breakpoint) { margin-top: 0px; } }

#homepage {
  #big-logo {
    .pull-left;
    .visible-lg;
    height: 128px;
    margin-top: 27px;
    margin-bottom: 6px;
    margin-right: 26px;
  }
  #twitter-block > iframe { width: 100%; }
}

#user-profile {
  #player {
    margin-top: 20px;
    width: 100%;
    height: 720px;
    @media (max-width: @grid-float-breakpoint) {
      height: 80px;
    }
  }
}

.mt-5 {
  margin-top: 5px
}

.mt-10 {
  margin-top: 10px
}

.mt-15 {
  margin-top: 15px
}

.mb-5 {
  margin-bottom: 5px
}

.mb-10 {
  margin-bottom: 10px
}

.mb-15 {
  margin-bottom: 15px
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Allows styling of elements other than <a> in Bootstrap dropdowns
.dropdown-menu > li > * {
  &:extend(.dropdown-menu>li>a all);
  background: inherit;
  border: none;
  width: 100%;
  text-align: left;
}

.full-page-loader {
  position: fixed;
  background: #000000a6;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
}
