@outer-padding: 0.7em;
@entity-icon-size: 1.2em;
@border-radius: 6px;
@black: #262626;
@boxes-background-color : #f7f7f7;

#metadata-viewer {
	padding: 0.25em;
	display: flex;
	flex-wrap: wrap;
	min-height: 100vh;
	.left-side{
		padding: @outer-padding;
		background-color: fadein(@black,30%);
		transition: background-color 0.3s;
		border-radius: @border-radius;
		flex:1;
		// min-width: 300px;
		// min-width: 60vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.album-art{
			height: 100%;
			display: flex;
			justify-content: space-around;
			max-height: calc(100vh - 130px);
			img {
				flex:1;
				max-width: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
		.track-info {
			display: flex;
			padding: @outer-padding 0;
			.track-name {
				font-size: 1.4em;
				line-height: 1em;
			}
			.artist-name{
				opacity:0.85;
			}
			> *:first-child{
				flex:3
			}
		}
		.love-hate{
			display: flex;
			justify-content: space-between;
			font-size: 0.9em;
			align-items: start;
			.fa-heart {
				stroke: @love;
				color:transparent;
				stroke-width: 1.3em;
				&:hover, &.loved {
					stroke: transparent;
					color: @love;
				}
			}
			
			.fa-heart-broken {
				stroke: @hate;
				color:transparent;
			    stroke-width: 1.3em;
				&:hover,&.hated {
					stroke: transparent;
					color: @hate;
				}
			}
		}
		.bottom{
			display: flex;
			align-items: center;
			padding-top: @outer-padding;
			.logo{
				height: 1.5em;
			}
			.support-artist-btn {
				margin-left: auto;
				.caret{
					margin-left: 1em;
				}
			}
		}
	}
	.right-side{
		flex:1.1;
		// max-width: calc(100% - 0.5em);
		// min-width: 300px;
		display: flex;
		flex-direction: column;
		margin: 0 0 0 0.5em;
		
		.content-box{
			padding: 0.4em;
			border-radius: @border-radius;
			box-shadow: 0px 0px 4px rgba(0,0,0, 0.1) inset;
			background-color: @boxes-background-color;
			
			&.white{
				background-color: white;
			}
			& + .content-box {
				margin-top: @outer-padding;
			}
		}
		
		> * {
			&.expanded{
				flex:1;
				.panel-heading .caret{
					transform: rotate(0deg);
				}
			}
			.panel-body{
				padding: @outer-padding;
			}
			.panel-heading{
				background: inherit;
				cursor: pointer;
				.date{
					font-size: 0.7em;
					margin-left:auto;
				}
				.caret {
					transform: rotate(-90deg);
					transition: transform ease-out 0.35s;
					margin-left: @outer-padding;
				}
				.panel-title{
					.name{
						font-size: 1.3em;
					}
					 > *{
						display: flex;
						align-items: center;
					}
				}
			}

			.credits-table {
				line-height: 2em;
				margin:0;
				> tbody >tr:first-of-type > td{
					border-top:none;
				}
				tr td+td{
					text-align: right;
				}
			}

			.tags-wrapper{
				display: flex;
				position: relative;
				.tags{
					flex:1;
					align-items: center;
					// horizontal scroll overflow with
					display: flex;
					overflow-x: auto;
					&::-webkit-scrollbar {
						// hidden scrollbar
						display: none;
					}
					.badge{
						flex: none;
						color: currentcolor;
						background-color: lightgrey;
					}
					.badge + .badge{
						margin-left:0.3em;
					}
				}
				.add-tag{
					flex:none;
					// Faded overlay to hide extra tags in .tags
					&:before{
						content: '';
						position: absolute;
						width: 60px;
						height: 80%;
						right: 75px;
						top:10%;
    					background: linear-gradient(to right,transparent,@boxes-background-color);
						pointer-events:none;
					}
				}
			}
		}
	}
	
}

.btn-outline{
	background:white;
	border: 1px solid @blue;
	border-radius: @border-radius;
}
.strong{
	font-weight: 600;
}

/* Entity icons, copied from MusicBrainz:
	https://github.com/metabrainz/musicbrainz-server/blob/75162fb76e8a55d6c578a527fbcbfab5d7e4c5c8/root/static/styles/entity-icons.less
*/
.artistheader, .releaseheader,
.recordingheader{
	&::before{
		display: inline-block;
		content: ' ';
		background-size: @entity-icon-size;
		background-repeat: no-repeat;
		height: @entity-icon-size;
		width: @entity-icon-size + 0.3em;
		vertical-align: text-bottom;
	}
}
.recordingheader::before {
	background-image: data-uri('../img/mb-entity-icons/recording.svg');
}
.releaseheader::before {
	background-image: data-uri('../img/mb-entity-icons/release.svg');
}
.artistheader::before {
	background-image: data-uri('../img/mb-entity-icons/artist.svg');
	&.group-icon{
	background-image: data-uri('../img/mb-entity-icons/group.svg');
	}
}

