.pill {
  display: inline-block;
  background-color: @blue;
  border-radius: 100px;
  margin: 2px 2px 5px 2px;
  > div {
    display: flex;
    margin: 5px;
    span {
      color: @white;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 6px;
      margin-right: 6px;
      font-style: normal;
    }
    button {
      background-color: @blue;
      color: @white;
      border: none;
      border-radius: 100px;
    }
  }
}
