#year-in-music {
	.accent{
		color:@orange;
	}
	> .row > *{
		margin-top: 2.5em;
		margin-bottom: 2.5em;
	}
	.card:not(.listen-card) > *{
		padding:0.6em;
	}
	.scrollable-area{
		box-shadow: inset 0px 11px 8px -10px #ccc;
		max-height: 500px;
		overflow-y: scroll;
	}
	#most-listened-year .graph{
		height: 300px;
	}
	
	#similar-users {
		.similar-users-list{
			margin: 0;
			padding: 0;
		}
	}
}