#year-in-music {
	> .row > *{
		margin-top: 1em;
		margin-bottom: 1em;
	}
	.card:not(.listen-card){
		padding:0.6em;
		&.flex-center{
			flex-direction: column;
		}
	}
	.scrollable-area{
		box-shadow: inset 0px 11px 8px -10px #ccc;
		max-height: 500px;
		overflow-y: scroll;
	}
	#most-listened-year .graph{
		height: 500px;
	}
	
	#similar-users {
		.similar-users-list{
			margin: 0;
			padding: 0;
		}
	}
}