#!/bin/bash

if [ "${CONTAINER_NAME}" = "listenbrainz-web-prod" ]
then
    rm -f /etc/service/cron/down
    sv restart cron

    exec uwsgi /etc/uwsgi/uwsgi.ini
fi

if [ "${CONTAINER_NAME}" = "listenbrainz-influx-writer-prod" ]
then
    cd /code/listenbrainz
    exec python3 -m listenbrainz.influx_writer.influx_writer
fi

if [ "${CONTAINER_NAME}" = "listenbrainz-bigquery-writer-prod" ]
then
    cd /code/listenbrainz
    exec python3 -m listenbrainz.bigquery_writer.bigquery_writer
fi

if [ "${CONTAINER_NAME}" = "listenbrainz-bigquery-job-runner-prod" ]
then
    cd /code/listenbrainz
    exec python3 -m listenbrainz.bigquery_job_runner.bigquery_job_runner
fi

if [ "${CONTAINER_NAME}" = "listenbrainz-api-compat-prod" ]
then
    exec uwsgi /etc/uwsgi/uwsgi-api-compat.ini
fi

if [ "${CONTAINER_NAME}" = "listenbrainz-follow-dispatch-prod" ]
then
    cd /code/listenbrainz
    exec python manage.py run_follow_server -h 0.0.0.0 -p 8081
fi

echo "init script has no clue which service to start. Set env var CONTAINER_NAME!"
