#artist-page {
	--bg-color: lightgrey;
	.artist-page-header {
		// max-height: 500px;
		padding: 2em;
		gap: 2em;
		linear-gradient(45deg, var(--bg-color), transparent)
		.cover-art {
			aspect-ratio: 1;
			height: 100%;
			max-height: 400px;
			flex-grow: 1;
			flex-shrink: 0;
			background: lightgray;
		    border-radius: 5px;
			>img{
				max-width: 100%;
			}
		}
		.artist-info {
			font-size: 1.5em;
			flex-grow: 2;
		}
		.listening-stats {
			font-size: 2em;
			flex-grow: 1;
		}
		.tags {
			margin-top: 0.5em;
		}
	}
	.artist-page-content {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
		"a b"
		"c c";
		gap: 2em;
		.full-width {
			grid-area: c;
		}
	}
}