#artist-page {
	--bg-color: #ebebde99; // default color
	.artist-page-header {
		// max-height: 500px;
		padding: 2em;
		gap: 2em;
		background: linear-gradient(45deg, var(--bg-color), transparent);
		.cover-art {
			aspect-ratio: 1;
			height: 100%;
			max-height: 400px;
			flex-grow: 1;
			flex-shrink: 0;
			background: lightgray;
		    border-radius: 5px;
			>img{
				max-width: 100%;
			}
		}
		.artist-info {
			font-size: 1.5em;
			flex-grow: 2;
		}
		.artist-rels {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		.top-listeners{
			max-width: 400px;
		}
	}
	.listening-stats {
		font-size: 1.6em;
		flex-grow: 1;
		.number {
			font-size: 1.5em;
		}
	}
	.tags {
		margin-top: 0.5em;
	}
	.artist-page-content {
		display: flex;
		flex-wrap: wrap;
		gap: 2em;
		
		.tracks {
			flex:3 400px;
		}
		.stats {
			flex: 1 250px;
			display: flex;
			flex-wrap: wrap;
			align-content: flex-start;
			gap: 3em;
		}
		.top-listeners,.listening-stats {
			flex:1;
		    flex-basis: 250px;
		}
		.albums {
			width:100%;
			.cover-art-container {
				overflow-x: scroll;
				width: 100%;
				display: grid;
				grid-gap: 3em;
				grid-auto-columns: 200px;
				grid-auto-flow: column;
				overflow-y: hidden;
				scroll-snap-type: x proximity;
				.cover-art{
					aspect-ratio: 1;
					background: lightgrey;
				}
			}
		}
	}
}