#fr-heading {
  margin-bottom: 0;
  font-size: 3rem;
  text-align: center;
  user-select: none;
}

#fr-subheading {
  margin-top: 0;
  font-size: 2rem;
  text-align: center;
  color: lighten(@asphalt, 20%);
  user-select: none;
}

.fresh-releases-pill-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid @asphalt;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.fresh-releases-row {
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.releases-page {
  // FILTERS
  .filters-main {
    top: 1rem;
    position: sticky;
    padding: 1rem 0;

    #filters-container {
      display: flex;
      flex-direction: column;

      #release-filters {
        display: flex;
        flex-direction: column;
        user-select: none;

        #title-container {
          display: flex;
          height: 2rem;
          margin-top: 2rem;
          align-items: center;

          #type-title {
            flex-grow: 1;
            text-transform: uppercase;
            font-size: large;
            font-weight: bold;
          }

          #clearall-btn-inactive {
            display: none;
            flex-grow: 2;
          }

          #clearall-btn-active {
            font-size: 2.5rem;
            flex-grow: 2;
            &:hover {
              font-weight: bold;
              color: @orange;
            }
          }
        }

        #filters-list {
          display: flex;
          flex-direction: column;
          text-transform: lowercase;

          input[type="checkbox"] {
            display: none;
          }

          .type-name-inactive {
            margin-top: 0.5rem;
            padding: 0.25rem 1rem;
            font-weight: normal;
            cursor: pointer;
            color: @asphalt;
            &:hover {
              font-weight: bold;
              color: @blue;
            }
          }

          .type-name-active {
            margin-top: 0.5rem;
            padding: 0.25rem 1rem;
            font-weight: bold;
            cursor: pointer;
            background-color: @orange;
            color: @white;
            border-radius: 4px;
          }
        }
      }
    }
  }

  // Mobile responsive filters
  @media (max-width: @screen-md) {
    .filters-main {
      display: block;
      padding: 1rem;
      font-size: small;
      position: sticky;
      top: 0;
      z-index: 50;
      background-color: @white;

      #filters-container {
        display: block;

        #coverart-checkbox {
          text-align: center;
        }

        #release-filters {
          display: block;

          &:before {
            content: "";
            height: 100%;
            width: 3rem;
            background: linear-gradient(
              90deg,
              rgba(255, 255, 255, 1) 50%,
              rgba(255, 255, 255, 0) 100%
            );
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
          }

          &:after {
            content: "";
            height: 100%;
            width: 3rem;
            background: linear-gradient(
              -90deg,
              rgba(255, 255, 255, 1) 50%,
              rgba(255, 255, 255, 0) 100%
            );
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
          }

          #title-container {
            display: none;

            #type-title {
              display: none;
            }

            #clearall-btn-inactive {
              display: none;
            }

            #clearall-btn-active {
              display: none;
            }
          }

          #filters-list {
            display: block;
            font-size: small;
            width: 100%;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;

            .type-name-inactive {
              margin: 0.5rem 0.25rem;
            }

            .type-name-active {
              margin: 0.5rem 0.25rem;
            }
          }
        }
      }
    }
  }

  // CARDS
  #release-card-grids {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .release-cards-grid {
    display: grid;
    justify-items: center;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(190px, max-content));

    .release-card-container {
      display: flex;
      flex-direction: column;

      .release-item {
        position: relative;
      }

      .release-information {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
      }

      .tags {
        font-size: smaller;
      }

      .listen-count {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
      }

      .listen-count-number {
        margin-left: 5px;
      }

      .cover-art-info {
        width: 100%;
        background-color: rgba(53, 48, 112, 0.9);
        padding: 0.5rem;
        color: white;
        text-align: center;
        display: flex;
        justify-content: space-between;
        margin-top: 1px;
      }

      .cover-art-info:last-child {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }

      .release-coverart-container:hover .hover-backdrop {
        background: linear-gradient(
          18deg,
          rgba(0, 0, 0, 0.8) -15.26%,
          rgba(0, 0, 0, 0.16) 119.11%
        );
        border-radius: 8px;
        opacity: 1;
      }

      .hover-backdrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.2s ease;
        z-index: 1;

        svg {
          width: 6rem;
          height: 6rem;
          color: #d9d9d9;
          opacity: 0.6;
        }
      }

      .release-date {
        text-transform: uppercase;
        text-align: right;
        font-weight: 500;
        font-size: smaller;
        cursor: default;
      }

      .release-coverart {
        width: 12em;
        height: 12em;
        border-radius: 8px;
        user-select: none;
        aspect-ratio: 1;
        object-fit: cover;
        box-shadow: 4px 4px 8px -2px fade(@asphalt, 20%);
        transition: box-shadow 0.3s cubic-bezier(0, 0, 0.2, 1) 0.1s;

        &:hover {
          box-shadow: 8px 2px 20px -4px fade(@asphalt, 60%);
        }
      }

      .name-type-container {
        margin-top: 0.5rem;
        width: 12em;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
      }

      .release-name {
        flex-grow: 1;
        padding-right: 4px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .release-type-chip {
        text-align: left;
        text-transform: uppercase;
        font-weight: 500;
        font-size: smaller;
        cursor: default;
      }

      .release-artist {
        width: 12em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        a {
          font-weight: 500;
        }
      }
    }
  }
}

// TIMELINE
.releases-timeline {
  flex: 0 0;
  display: flex;
  justify-content: center;
  top: 4rem;
  position: sticky;
  padding: 4rem 1rem;
  // width: 100%;
  // height: 100%;
  max-height: calc(100vh - 8em);

  @media (max-width: @screen-md) {
    height: unset;
    width: 100%;
    position: fixed;
    bottom: 0;
    top: calc(100vh - 100px);
    padding: 1rem 2rem 4rem;
    z-index: 50;
    background-color: @white;
    padding-right: 120px; // sidebar button on the right
  }
}

.release-card-grid-title {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: x-large;
  font-weight: 500;
}

.release-card-grid-title::before,
.release-card-grid-title::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #d9d9d9;
}

.release-card-grid-title:not(:empty)::before {
  margin-right: 1.75em;
}

.release-card-grid-title:not(:empty)::after {
  margin-left: 1.75em;
}

.spinner-container {
  margin: 12% 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.toggle-sidebar-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  width: 64px;
  height: 64px;
  padding: 10px;
  border-radius: 50%;
  border-color: black;
  cursor: pointer;
  background-color: #fff;
  color: #353070;

  @media screen and (min-width: @screen-md) {
    display: none;
  }
}

.toggle-sidebar-button.open {
  background-color: #353070;
  color: #fff;
}

.no-release {
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  img {
    width: 350px;
    height: 350px;
  }
}

#sidebar-fresh-release {
  background: #353070;
  color: white;

  p:first-of-type {
    font-size: 25px;
    font-weight: 900;
  }
}

.releases-page-container {
  display: flex;
  gap: 1.5em;
  @media screen and (min-width: @screen-md) {
    // make the sidebar flush with the right-hand side on larger sizes
    margin-right: -15px;
  }
  .releases-page {
    flex: 1;
  }
  .sidebar {
    flex: 0 0 250px;
  }
}

.sidebar {
  position: sticky;
  top: 0;
  height: max-content;
  max-height: 100vh;
  overflow-y: scroll;
  z-index: 9998;
  right: 0;

  @media screen and (max-width: @screen-md) {
    position: fixed;
    top: 0;
    right: -80%;
    height: 100%;
    width: 80%;
    max-width: 400px;
    background-color: #fff;
    overflow-y: auto;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    &.open {
      right: 0;
    }
  }

  .release-tags {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .tags {
    display: inline-block;
    margin: 2px 2px 5px;
    padding: 3px;
  }

  .release-tag-name {
    margin-right: 5px;
    font-weight: 500;
    font-size: 13px;
  }
}
