.genre-explorer-main-container {
  display: flex;
  flex-direction: column;

  .genre-explorer-header {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    padding: 2vh 0;

    @media screen and (max-width: @screen-sm) {
      justify-content: space-between;
    }

    #genre-search-button {
      margin-right: 10px;
      background-color: @blue;

      &:hover {
        background-color: @mb_blue_light;
        border-color: @mb_blue_dark;
      }
    }

    .share-buttons {
      margin-left: 30px;
      display: flex;
      align-items: center;
    }

    // Search box specific styles
    .dropdown-search {
      position: relative;

      input {
        min-width: 300px;

        @media screen and (max-width: @screen-sm) {
          min-width: 200px;
        }
      }

      .dropdown-search-suggestions {
        display: none; // hidden by default
        position: absolute;
        width: calc(100% - 55px);
        left: 0;
        top: 33px;
        z-index: 6;
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.175);
        list-style: none;
        border: 1px solid @gray-light;
        border: 1px solid rgba(0, 0, 0, 0.15);
        background-color: @white-background;
        overflow-y: auto;
        border-radius: 0;
        padding: 0;
        cursor: pointer;

        // Options within the dropdown menu
        > option {
          display: block;
          width: 100%;
          outline: inherit;
          padding: 5px 20px;
          font: inherit;
          text-align: left;
          background: none;
          color: inherit;
          border: none;
          cursor: pointer;

          &:hover,
          &:focus {
            color: #fff;
            background-color: #353070;
          }
        }
      }
    }

    // Show dropdown when parent is focused
    .dropdown-search:focus-within .dropdown-search-suggestions {
      display: block;
    }
  }

  .genre-explorer-content {
    flex: 1;
    display: flex;
    position: relative;
    overflow: hidden;

    .genre-graph-container {
      flex: 1;
      height: calc(100vh - @brainzplayer-height);
      max-height: 1120px;
      overflow: auto;

      .genre-graph-node {
        cursor: pointer;

        .centered-text {
          padding: 0 4px;
          overflow: hidden;
          display: flex;
          align-items: center;
          text-align: center;
          height: inherit;

          .centered-text-inner {
            width: 100%;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.1em;
            overflow-wrap: break-word;
            hyphens: auto;
          }
        }
      }
    }

    .sidebar-header {
      background: #353070;
      color: white;
      padding-top: 20px;

      p {
        font-size: 25px;
        font-weight: 900;
        margin-bottom: 5px;
      }
    }

    .genre-panel-info {
      padding: 1rem;
      height: min(fit-content, 200px);
      #genre-wiki {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        height: 70%;
        overflow: hidden;
        mask-image: linear-gradient(180deg, #000 60%, transparent);
        -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
      }

      .genre-mb-link {
        text-align: end;
        padding: 0.5em 0;

        #genre-mb-link-button {
          font-size: 14px;
          background-color: @blue;
          border: none;
          border-radius: 4px;
          color: @white;
          padding: 0.5em;
          text-decoration: none;
        }
      }
    }

    .spinner-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }

  .genre-playlist {
    padding: 20px;
  }

  .playlist-loader {
    margin-top: 20px;
  }
}
