@primary: #08949b;
@secondary: #0d696e;
@controlsHeight: 60px;
@love: #c62828;
@hate: @blue;
@player-min-height: 320px;
@card-shadow-color: #c0c0c0;
@listen-small-break: @screen-sm;
@cover-art-thumbnail-size: 66px;

#music-player {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 500px;
  min-height: @player-min-height;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 5px 5px 15px fadeout(@dark, 60%);

  .info {
    width: 100%;
    position: absolute;
    z-index: 2;
    transition: all 0.5s ease;
  }
  .info:not(.showControls) {
    bottom: -@controlsHeight;
  }
  &:hover .info,
  .info.showControls {
    bottom: 0;
    .currently-playing .progress {
      height: 0.6em;
    }
  }

  .currently-playing {
    text-align: center;
    padding-top: 10px;
    background: fadeout(@white, 15%);
    .song-name,
    .artist-name {
      text-transform: uppercase;
      font-weight: 400;
      margin: 0;
    }

    .song-name {
      font-size: 1.2em;
      letter-spacing: 2px;
      color: @dark;
    }

    .artist-name {
      font-size: 0.8em;
      letter-spacing: 1.5px;
      color: lighten(@dark, 15%);
      margin: 5px 0;
    }
    /** Progress **/
    .progress {
      height: 0.3em;
      background-color: rgba(205, 235, 255, 0.2);
      border: 0.5px solid fadeout(@dark, 70%);
      border-right: 0;
      border-left: 0;
    }

    .progress-bar {
      height: 100%;
      background-color: @primary;
      border-right: 1px solid @dark;
    }
  }

  .controls {
    background: fadeout(@white, 40%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: @secondary;
    font-size: 1.5em;
    height: @controlsHeight;
    .play {
      color: darken(@secondary, 10%);
      font-size: 1em;
    }
    > *:not(.play) {
      font-size: 0.8em;
    }
    > * {
      transition: all 0.5s ease;
      background: none;
      &:hover {
        color: lighten(@dark, 15%);
      }
    }
    .right {
      position: absolute;
      right: 10px;
    }
    .left {
      position: absolute;
      left: 10px;
    }
  }

  .content {
    position: relative;
    > *:not(.no-album-art) {
      position: relative;
      z-index: 1;
    }
    .connect-services-message {
      z-index: 2;
      text-align: center;
      position: absolute;
      top: 0;
      background: #ffffffd9;
      padding: 1em;
    }
    // Youtube iframe
    .youtube {
      padding-top: 100%;
      position: relative;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    .no-album-art {
      position: absolute;
      top: 0;
      min-height: @player-min-height;
      min-width: 100%;
      background-image: url(../img/logo_big.svg);
      background-repeat: no-repeat;
      background-position: center top;
      background-color: aliceblue;
      opacity: 0.3;
      text-align: center;
    }
  }
}

.listens-table > tbody {
  > tr {
    &.playing_now {
      background-color: #fffcca;
    }
    & > td {
      vertical-align: middle;
      &.playButton {
        padding: 0;
        & > * {
          font-size: 1.2em;
          padding-top: 0;
          padding-bottom: 0;
          opacity: 0;
          transition: opacity 0.3s ease-in-out;
        }
      }
    }

    &:hover > td.playButton > * {
      opacity: 1;
    }
  }
}

#listens {
  @media (min-width: @screen-phone) {
    padding: 0 10px;
  }
}

.card {
  background: white;
  border: 1px solid rgb(238, 238, 238);
  box-sizing: border-box;
  box-shadow: fade(@card-shadow-color, 10%) 0px 1px 1px,
    fade(@card-shadow-color, 15%) 0px 2px 2px,
    fade(@card-shadow-color, 20%) 0px 4px 4px;
  border-radius: 8px;
  height: 100%;
}
.listen-card {
  margin-bottom: 7px;
  a:focus,
  a:hover {
    text-decoration: underline;
  }

  &.playing-now {
    background-color: rgba(255, 252, 202, 0.3) !important ;
  }

  &.current-listen {
    background-color: rgba(217, 237, 247, 0.3) !important ;
    .play-button {
      opacity: 1;
    }
  }

  > * {
    padding: 10px;
    @media (min-width: @screen-phone) {
      padding: 15px;
    }
  }

  /** Special styles for compact size cards (i.e. charts etc.) **/
  &.compact {
    margin: 0;
    margin-bottom: 3px;
    > * {
      padding: 10px;
    }
    .main-content {
      .right-section {
        flex: 0;
        .listen-controls {
          flex-grow: 0;
          margin: unset;
        }
      }
      .listen-thumbnail {
        padding: 0;
        margin: -10px;
        margin-right: 10px;
        width: 56px;
        height: 56px;
        .not-mapped,
        .add-cover-art,
        .cover-art-fallback {
          min-width: 56px;
        }
        .add-cover-art > * {
          height: auto;
        }
      }
    }
  }
  .additional-content {
    border-top: 1px solid @gray-lighter;
    font-style: italic;
    width: 100%;

    .sent-to {
      padding-bottom: 10px;
    }
  }
  &.has-additional-content .main-content .listen-thumbnail img {
    border-bottom-left-radius: 0;
  }

  .main-content {
    display: flex;
    flex-wrap: wrap;

    > div {
      display: flex;
      flex: 1;
      justify-content: center;
    }

    .listen-thumbnail {
      flex: 0;
      padding: 0;
      margin: -10px;
      margin-right: 1em;
      width: @cover-art-thumbnail-size;
      > * {
        height: 100%;
        width: inherit;
        aspect-ratio: 1/1;
      }
      .add-cover-art,
      .not-mapped,
      .cover-art-fallback {
        background-color: @gray-lighter;
        min-width: @cover-art-thumbnail-size;
        height: inherit;
        display: flex;
        align-items: center;
        color: #cbcbcb;
        justify-content: center;
        > * {
          font-size: @cover-art-thumbnail-size / 2;
          max-width: @cover-art-thumbnail-size / 2;
          aspect-ratio: unset;
          border-radius: unset;
        }
      }
      img {
        height: inherit;
        width: inherit;
        object-fit: cover;
        border-radius: 7px 0 0 7px;
      }
      @media (min-width: @screen-phone) {
        margin: -15px;
        margin-right: 1em;
      }
      @media (min-width: @listen-small-break) {
        margin: -15px;
        margin-right: 1em;
      }
      &:not(:first-child) img {
        // If there is an element before the image, remove the rounded corners
        border-radius: 0;
      }
    }

    .listen-time {
      font-style: italic;
      font-size: 80%;
      &:extend(.text-muted);
      white-space: nowrap;
      text-align: end;
    }
    .username-and-timestamp {
      flex-direction: column;
      justify-content: center;
      padding-right: 1em;
      align-items: flex-end;
    }

    .listen-details {
      flex-direction: column;
      line-height: 1.3em;
      overflow: hidden;

      .username-and-timestamp {
        padding-right: initial;
      }
    }

    .title-duration {
      display: flex;
      flex-direction: row;
      align-items: center;
      > *:not(:first-child) {
        margin-left: 0.5rem;
      }
    }

    .right-section {
      flex-wrap: wrap-reverse;
      justify-content: flex-end;
      align-items: center;
      padding: 0;

      .listen-controls {
        margin-left: 1.5em;
      }
      > *:not(.dropdown-menu) {
        min-width: 1.5em;
        display: flex;
      }
    }

    .listen-controls {
      flex-wrap: nowrap;
      justify-content: space-around;
      position: relative; // This is need for dropdown menu positioning
      margin-left: auto; // align flexbox item at flex-end

      > * {
        align-self: center;
      }

      a {
        word-break: break-word;
      }

      > svg:hover {
        cursor: pointer;
      }

      .fa-heart,
      .fa-heart-broken,
      .fa-ellipsis-v {
        stroke-width: 40px;
        font-size: 18px;
        margin: 0% 7%;
        width: 1em;
      }

      .fa-heart,
      .fa-heart-broken {
        color: transparent;
        stroke: #8d8d8d;
      }

      .fa-ellipsis-v {
        color: #8d8d8d;
        stroke: #ffffff;

        &:hover {
          color: #46433a;
        }
      }

      .fa-heart {
        &:hover {
          stroke: @love;
        }

        &.loved {
          stroke: transparent;
          color: @love;
        }
      }

      .fa-heart-broken {
        &:hover {
          stroke: @hate;
        }

        &.hated {
          stroke: transparent;
          color: @hate;
        }
      }

      .dropdown-menu {
        min-width: 140px;
        border-radius: 4px;
        padding: 10px 0px;
        width: 260px;

        > a,
        > button {
          display: block; // necessary for <a> tags
          width: 100%;
          background: none;
          color: inherit;
          border: none;
          padding: 5px 20px;
          font: inherit;
          cursor: pointer;
          outline: inherit;
          text-align: left;

          &:hover {
            color: #ffffff;
            background-color: #eb743b;
          }
        }
      }

      .badge {
        flex-shrink: 0;
      }
    }
    .recommendation-controls {
      flex: 0 140px;

      &.open .dropdown-menu {
        display: flex;
        justify-content: space-around;

        > * {
          flex: 1;
          text-align: center;
        }
      }

      .btn {
        font-size: 1em;
        color: @blue;
        background-color: white;

        &:hover {
          background-color: @blue;
          color: white;
        }
      }

      .hate {
        color: #c62828;
      }

      .dislike {
        color: #f5873d;
      }

      .like {
        color: #b0e111;
      }

      .love {
        color: #32cd32;
      }

      .recommendation-icon {
        > span {
          stroke-width: 40px;
          font-size: 18px;
          flex: 1;
          text-align: center;
          margin: 0 0.4em;
        }

        &:hover .off,
        &.selected .off,
        & .on {
          display: none;
        }

        &:hover .on,
        &.selected .on {
          display: inline;
        }
      }
    }

    .play-button,
    .listen-controls > .icon-only {
      color: #8d8d8d;
      width: 2em;
      min-width: 2em;
      margin-left: 0;
      margin-right: 0.5em;
      padding: 0;
    }
    // If the user has an input method compatible with hovering (f.e. a mouse)
    // hide the play button by default and show it on card hover
    @media (hover: hover) {
      .play-button {
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
      }
      &:hover .play-button {
        opacity: 1;
      }
    }
  }

  &.deleted {
    animation: deleted-animation 0.3s linear forwards;
  }

  @keyframes deleted-animation {
    0% {
      opacity: 1;
      padding: inherit;
      height: inherit;
      margin: inherit;
      transform: scaleY(1);
    }

    50% {
      opacity: 0;
    }

    100% {
      opacity: 0;
      height: 0px;
      margin-top: -40px;
      transform: scaleY(0);
      display: none;
    }
  }
}

.input-group-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  > *:not(.form-control) {
    width: auto;
    line-height: 1.4;
  }
  > .form-control {
    flex: 1 1 120px;
  }
  > .input-group-btn {
    flex: 1;
    display: flex;
    > .btn {
      flex: 1 1 auto;
    }
  }
}

.input-group > .input-group-btn > .btn {
  margin-top: 0px;
  margin-bottom: 0px;
}

#listen-count-card {
  padding: 15px 50px;
  margin-bottom: 20px;
  text-align: center;

  font-size: 24px;

  hr {
    margin: 8px 0 16px 0;
    border-top: 1px solid #eeeeee;
  }
}

#navigation.pager {
  display: flex;
  flex-wrap: wrap;
  & > .date-time-picker {
    flex: 1;
    order: 0;

    @media (max-width: @screen-phone) {
      // on phones, put the datepicker below the arrow nav
      order: 1;
      margin-top: 10px;
    }
  }
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ellipsis-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#spacer {
  margin-top: 54px;
}

.empty-listens {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: @orange;

  .empty-text {
    text-align: center;
    margin: 4px 0px 0px;
    color: @asphalt;
  }

  .empty-action {
    margin-top: 12px;
    padding: 0px 8em;
    text-align: center;
    color: @asphalt;
  }

  @media (max-width: @screen-sm) {
    .empty-action {
      padding: 0px 6em;
    }
  }

  @media (max-width: @screen-xs) {
    .empty-action {
      padding: 0px 3em;
    }
  }
}

.add-listen-btn {
  border-radius: 3px;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.listen-header {
  display: flex;
  h3 {
    display: flex;
    flex-direction: column;
    flex: 0.61;
  }
}

@media (max-width: 992px) {
  .listen-header {
    display: flex;
    h3 {
      display: flex;
      flex-direction: column;
      flex: 0.99;
    }
  }
}
