.user-stats-card {
	margin-top: 20px;
}

.stats-full-width-graph {
	width: 100%;
	max-width: 100%;
	// Default height just in case, otherwise nivo charts don't get rendered
	height: 350px; // override this
	
	&.user-listening-activity {
		height: calc(100% * 0.3);
		aspect-ratio: 3.5;
	}
	&.user-listen-heatmap {
		height: calc(100% * 0.3);
		aspect-ratio: 3;
	}
	&.user-artist-map {
    	height: calc(100% * 0.6);
		aspect-ratio: 2;
		position: relative;
	}
	
}