.user-stats-card {
  margin-top: 20px;
}

.stats-full-width-graph {
  width: 100%;
  max-width: 100%;
  // Default height just in case, otherwise nivo charts don't get rendered
  height: 100px; // override this
  min-height: 250px;

  &.user-listening-activity {
    aspect-ratio: 3.5;
    min-height: 350px;
    height: calc(100% * 0.3);
  }
  &.user-listen-heatmap {
    aspect-ratio: 3;
    height: calc(100% * 0.3);
  }
  &.user-artist-map {
    aspect-ratio: 2;
    height: calc(100% * 0.6);
    position: relative;
  }
}

@bar-height: 5em;
.bar-chart {
  position: relative;
  width: 100%;
  margin-bottom: 1em;
  min-height: calc(25 * @bar-height); // 25 items on the graph
  > * {
    position: absolute;
    width: 100%;
    > div {
      svg + div {
        // Target the tooltip shown when hovering over graphs
        // See https://github.com/plouc/nivo/pull/2438
        z-index: 100 !important;
        min-width: 300px;
      }
    }
  }
  .graph-tooltip {
    z-index: 100;
    background: white;
    padding: 9px 12px;
    border: 1px solid #ccc;
  }
  foreignObject {
    width: 95%;
    height: @bar-height;
    padding: 0.5em;
    .graph-bar {
      align-items: center;
      height: 100%;
      gap: 0.6em;
      .position{
        margin: 0;
        flex: 0;
        border-right: 1px solid grey;
        padding-right: 0.6em;
        font-size: smaller;
      }
      align-items: center;
      // a {color: inherit;}
      > .graph-bar-text{
            overflow: auto;
      }
      .graph-bar-entity {
        font-weight: bold;
        color: darken(@light-grey,30%);
      }
      .graph-bar-artist {
        color: @light-grey;
        font-size: 0.8em;
      }
      .badge {
        flex: 0;
        flex-basis: auto;
      }
    }
    @media (max-width: @screen-phone) {
      // On mobile, show the position to the right of the bar to leave more space for the text
      overflow: visible;
      .graph-bar {
        position: relative;
        .position {
          position: absolute;
          border: none;
          right: 0;
          bottom: -0.4em;
        }
      }
    }
  }

}

.top-entity-listencards {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  .listen-card .main-content .right-section {
    flex: 0;
  }
}
