// Import Swiper styles
@import "/node_modules/swiper/swiper.less";
@import "/node_modules/swiper/modules/navigation/navigation.less";
@import "/node_modules/swiper/modules/effect-coverflow/effect-coverflow.less";

/* latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Inter.woff2") format("woff2");
}

@coverflow-image-height: 400px;
@2022red: #ff0e25;
@2022yellow: #ffcc49;

#year-in-music {
  // For coverflow arrow colors
  --swiper-theme-color: @blue;

  .accent {
    color: @orange;
  }
  > .row > * {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
  }
  .flex > .content-card {
    min-width: 355px;
    height: auto;
  }
  .content-card {
    margin-right: 15px;
    margin-left: 15px;
    > * {
      padding: 0.6em;
    }
  }
  .listen-card .badge {
    line-height: 1.5em;
    margin-right: 1em;
    background-color: @blue;
    align-self: center;
  }
  .scrollable-area {
    box-shadow: inset 0px 11px 8px -10px #ccc;
    max-height: 500px;
    overflow-y: scroll;
  }

  #header {
    align-items: center;
    #share-link {
      font-size: 0.7em;
    }
  }
  .graph-container {
    overflow-x: scroll;
    .graph {
      min-width: 700px;
    }
  }

  #calendar .graph {
    height: 200px;
    @media (min-width: @screen-desktop) {
      height: 250px;
    }
  }
  #most-listened-year .graph {
    height: 300px;
  }

  #similar-users {
    .similar-users-list {
      margin: 0;
      padding: 0;
    }
  }

  #top-entities .listen-card.row {
    margin-right: 0;
    margin-left: 0;
  }
  #user-artist-map .graph {
    width: max-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper {
    width: 100%;
    perspective: 900px;
    background-color: whitesmoke;

    .swiper-wrapper {
      padding: 1em 0;
      align-items: center;
    }
    .swiper-slide {
      max-width: @coverflow-image-height;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      > img {
        width: inherit;
        box-shadow: 0 4px 10px 0 fade(@black, 20%);
      }
      > div {
        // center text in album title + artist name container
        text-align: center;
        margin-top: 0.5em;
      }
    }
  }

  /* "Save as image" component */
  #savable-release-component {
    width: 500px;
    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      align-items: center;
      justify-items: center;
      img {
        max-width: 100%;
      }
    }
  }
  .savable-card {
    width: 450px;
    display: none;
    padding: 1rem;
    box-shadow: unset !important;
    .card-img-top {
      max-width: 60%;
    }
    .card-img-bottom {
      width: 45%;
    }
    .card-footer {
      padding: 1rem;
    }
    .list-container {
      text-align: initial;
      padding: 2rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      .listen-card {
        box-shadow: unset !important;
        margin: 0;
        a {
          color: inherit !important;
        }
        .right-section {
          display: none;
        }
        .main-content {
          padding: 0;
          .listen-thumbnail {
            margin: 0px 10px 0px 0px;
          }
        }
      }
    }
  }

  /* Styles specific to YIM 2022 */
  &.yim-2022 {
    --swiper-theme-color: @2022red;
    /* Main header section at the top with logo */
    #main-header {
      padding: 3em 2em;
      background: white;
      flex-direction: column;
      @media (max-width: @screen-sm) {
        // 80% of screen height minus menu bar and BrainzPlayer
        height: calc(80vh - 84px - 60px);
        .arrow-down {
          display: initial;
        }
      }
      .arrow-down {
        @media (min-width: @screen-sm) {
          display: none;
        }
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 12px solid @2022red;
      }
    }
    .header-image {
      padding: 1.5em;
      width: 700px;
      @media (max-width: @screen-sm) {
        min-height: 20vh;
      }
    }
    .header {
      margin-bottom: 1em;
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 48px;
      line-height: 56px;
      @media (max-width: @screen-sm) {
        font-size: 38px;
        .subheader {
          font-size: 20px;
        }
      }
      .subheader {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
      }
    }
    .link-section {
      padding: 0 1em;
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 1.6em;
      color: @2022yellow;
      > div {
        max-width: 500px;
      }
      .input-group {
        margin-top: 0.7em;
      }
    }
    .button {
      width: 2em;
      height: 2em;
      border-radius: 3px;
    }
    .red-section,
    .yellow-section {
      padding-top: 3em;
      padding-bottom: 3em;
      width: 100%;
    }
    .yim-share-button-container {
      text-align: center;
      margin-top: 2em;
      margin-bottom: 2em;
    }
    .yim-share-button {
      border: none;
      width: 2em;
      height: 2em;
      line-height: 2em;
      font-size: 1.5em;
    }
    .red-section {
      background-color: @2022red;
      &::after,
      &::before {
        background: @2022red;
      }
      .header,
      .no-data {
        color: @2022yellow;
      }
      .yim-share-button {
        color: @2022red;
        background-color: @2022yellow;
      }
    }
    .yellow-section {
      background-color: @2022yellow;
      &::after,
      &::before {
        background: @2022yellow;
      }
      .header,
      .no-data {
        color: @2022red;
      }
      .yim-share-button {
        color: @2022yellow;
        background-color: @2022red;
      }
    }
    .flex > .content-card {
      min-width: 300px;
      height: auto;
    }
    .cover-art-mosaic {
      width: 100vw;
      max-height: 42em;
    }
    .content-card .img-header {
      max-height: 17em;
      padding: 2.5em;
    }

    .small-cards-container {
      margin-top: 1.5em;
      > * {
        min-width: calc(100vw - 60px);
        margin-bottom: 1em;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 24px;
        line-height: 1.3;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .cover-art-composite {
      padding-left: 0;
      padding-right: 0;
      .composite-image img {
        width: 100%;
        content-visibility: auto;
      }
    }
    .closing-remarks {
      padding: 3em 2em;
      font-size: 1.3em;
      color: @white;
      font-family: "Roboto", sans-serif;
      font-weight: 200;
      text-align: center;
      .bold {
        font-weight: 400;
      }
      a,
      a:visited,
      a:hover {
        color: @white;
        text-decoration: underline;
        font-weight: 300;
      }
    }

    .share-modal .modal-body {
      overflow-x: auto;
    }
    .alert {
      margin: 0;
      padding: 2em;
    }
    .thanks-kc-green {
      font-weight: 300;
      color: @white;
      font-size: smaller;
      text-align: center;
    }
  }
}
