// Import Swiper styles
@import "/node_modules/swiper/swiper.less";
@import "/node_modules/swiper/modules/navigation/navigation.less";
@import "/node_modules/swiper/modules/effect-coverflow/effect-coverflow.less";

/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Inter.woff2") format('woff2');
}

@coverflow-image-height: 400px;
@2022red: #ff0e25;
@2022yellow: #ffcc49;

#year-in-music {
  // For coverflow arrow colors
  --swiper-theme-color: @blue;

  .accent {
    color: @orange;
  }
  > .row > * {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
  }
  .flex > .content-card {
    min-width: 355px;
    height: auto;
  }
  .content-card {
    margin-right: 15px;
    margin-left: 15px;
    > * {
      padding: 0.6em;
    }
  }
  .listen-card .badge {
    line-height: 1.5em;
    margin-right: 1em;
    background-color: @blue;
    align-self: center;
  }
  .scrollable-area {
    box-shadow: inset 0px 11px 8px -10px #ccc;
    max-height: 500px;
    overflow-y: scroll;
  }

  #header {
    align-items: center;
    #share-link {
      font-size: 0.7em;
    }
  }

  #calendar .graph {
    height: 200px;
    @media (min-width: @screen-desktop) {
      height: 250px;
    }
  }
  #most-listened-year .graph {
    height: 300px;
  }

  #similar-users {
    .similar-users-list {
      margin: 0;
      padding: 0;
    }
  }

  #top-entities .listen-card.row {
    margin-right: 0;
    margin-left: 0;
  }

  .swiper {
    width: 100%;
    perspective: 900px;
    background-color: whitesmoke;

    .swiper-wrapper {
      padding: 1em 0;
      align-items: center;
    }
    .swiper-slide {
      max-width: @coverflow-image-height;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      > img {
        width: inherit;
        box-shadow: 0 4px 10px 0 fade(@black, 20%);
      }
      > div {
        // center text in album title + artist name container
        text-align: center;
        margin-top: 0.5em;
      }
    }
  }

  /* "Save as image" component */
  #savable-release-component {
    width: 500px;
    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      align-items: center;
      justify-items: center;
      img {
        max-width: 100%;
      }
    }
  }
  .savable-card {
    width: 450px;
    display: none;
    padding: 1rem;
    box-shadow: unset !important;
    .card-img-top {
      max-width: 60%;
    }
    .card-img-bottom {
      width: 45%;
    }
    .card-footer {
      padding: 1rem;
    }
    .list-container {
      text-align: initial;
      padding: 2rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      .listen-card {
        box-shadow: unset !important;
        margin: 0;
        a {
          color: inherit !important;
        }
        .right-section {
          display: none;
        }
        .main-content {
          padding: 0;
          .listen-thumbnail {
            margin: 0px 10px 0px 0px;
          }
        }
      }
    }
  }
  
  /* Styles specific to YIM 2022 */
  &.yim-2022 {
    /* Main header section at the top with logo */
    #header {
      padding: 3em 0;
      background:white;
    }
    .header {
      margin: unset;
      text-align: center;
      font-family: "Roboto";
      font-weight: 700;
      font-size: 48px;
      line-height: 56px;
      .subheader {
        font-family: "Roboto";
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
      }
    }
    .share-section {
      margin: unset;
      text-align: center;
      font-family: "Roboto";
      font-weight: 300;
      font-size: 1.6em;
      color: @2022yellow;
      >div{max-width: 500px;}
      .input-group {
        margin-top: 0.7em;
      }
    }
    .button {
      width: 2em;
      height: 2em;
      border-radius: 3px;
    }
    .red-section,.yellow-section{
      padding: 5em;
      position: relative;
      margin-left: -15px;
      margin-right: -15px;
      &:extend(.container);
      // &::after, &::before{
      //   content: "";
      //   width: 50vw;
      //   height: 100%;
      //   position: absolute;
      //   top: 0;
      //   z-index: -1;
      // }
      // &::after{
      //   left: 100%;
      // }
      // &::before{
      //   right: 100%;
      // }
    }
    .red-section {
      background-color: @2022red;
      &::after, &::before{
        background: @2022red;
      }
      .header {
        color: @2022yellow;
      }
      .button {
        color: @2022red;
        background-color: @2022yellow;
      }
    }
    .yellow-section {
      background-color: @2022yellow;
      &::after, &::before{
        background: @2022yellow;
      }
      .header {
        color: @2022red;
      }
      .button {
        color: @2022yellow;
        background-color: @2022red;
      }
    }
    
    .cover-art-mosaic {
      width: 100vw;
      max-height: 42em;
    }
    .content-card .img-header {
      max-height: 15em;
    }
    .content-card + .content-card{
      margin-top: 2.5em;
    }
    .small-cards-container {
      > * {
        font-family: "Roboto",sans-serif;
        font-weight: 300;
        font-size: 24px;
        line-height: 1.3;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .cover-art-composite{
      // position: relative;
      padding-left:0;
      padding-right:0;
      > img{
        max-width: 100vw;
        // left: calc(50% + 15px);
        // position: absolute;
        // transform: translateX(-50vw);
        // padding-bottom: 60px;
      }
    }
  }
}

