{% extends 'base-react.html' %}

{% block title %}
    User "{{ user.musicbrainz_id }}" - ListenBrainz
{% endblock %}

<!-- these props are used in the navbar to highlight the navbar items -->
{% set user = user %}
{% set active_page = "profile" %}
{% set my_profile = current_user.id == user.id %}

{% block content %}
  <div id="user-profile">
      <div class="profile-on-mb">
          See profile on&nbsp;
          <img
                  src="/static/img/musicbrainz-16.svg"
                  alt="MusicBrainz Logo"
          />
          <a href="https://musicbrainz.org/user/{{ user.musicbrainz_id }}">
              MusicBrainz
          </a>
      </div>
    <ul class="nav nav-tabs" role="tablist">
        <li class="username"><div>{{ user.musicbrainz_id }}</div></li>
        <li {{ 'class=active' if active_section=='listens' }}><a href="{{ url_for('user.profile', user_name=user.musicbrainz_id) }}">Listens</a></li>
        <li {{ 'class=active' if active_section=='reports' }}><a href="{{ url_for('user.reports', user_name=user.musicbrainz_id) }}">Reports</a></li>
        <li {{ 'class=active' if active_section=='charts' }}><a href="{{ url_for('user.charts', user_name=user.musicbrainz_id) }}">Charts</a></li>
        <li {{ 'class=active' if active_section=='taste' }}><a href="{{ url_for('user.taste', user_name=user.musicbrainz_id) }}">Taste</a></li>
        <li {{ 'class=active' if active_section=='playlists' }}><a href="{{ url_for('user.playlists', user_name=user.musicbrainz_id) }}">Playlists</a></li>
        <li {{ 'class=active' if active_section=='recommendations' }}><a href="{{ url_for('user.recommendation_playlists', user_name=user.musicbrainz_id) }}">Recommendations</a></li>
      </ul>

    {% block profile_content %} {% endblock %}

  </div>

  {{ super() }}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ get_static_path('userPageHeading.js') }}" type="text/javascript"></script>
{% endblock %}
