{% extends 'base.html' %}

{% block title %}User "{{ user.musicbrainz_id }}" - ListenBrainz{% endblock %}

{% block content %}
  <div id="user-profile">
    <h2 class="page-title">{{ user.musicbrainz_id }}</h2>


    <ul class="nav nav-tabs" role="tablist">
        <li {{ 'class=active' if section=='listens' }}><a href="{{ url_for('user.profile', user_name=user.musicbrainz_id) }}">Listens</a></li>
        <li {{ 'class=active' if section=='info' }}><a href="{{ url_for('user.info', user_name=user.musicbrainz_id) }}">Info</a></li>
    </ul>

    {% block profile_content %} {% endblock %}

  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/lib/jquery.timeago.js') }}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $("abbr.timeago").timeago();
    });
  </script>
{% endblock %}
