{% extends 'base.html' %}
{% block title %}Export for "{{ user.musicbrainz_id }}" - ListenBrainz{% endblock %}

{% block content %}
    <h3>Export from ListenBrainz</h3>
    <p>
      <strong> Notes about the ListenBrainz export process : </strong>
    </p>
    <p>
        Export your listen history in JSON format and download it. Click Download to proceed.
    </p>
    <p>
      <form action="{{url_for("profile.export_data")}}" method='POST'>
        <button class="btn btn-warning btn-lg" type="submit">Download Listens</button>
      </form>
    <br>
    <p>
        Export your recording feedback (your loved and hated recordings) in JSON format and download it. Click Download to proceed.
    </p>
    <p>
      <form action="{{url_for("profile.export_feedback")}}" method='POST'>
        <button class="btn btn-warning btn-lg" type="submit">Download Feedback</button>
      </form>
    </p>
{% endblock %}
