{% extends 'base.html' %}

{% block title %}Import for "{{ user.musicbrainz_id }}" - ListenBrainz{% endblock %}

{% block content %}
  <h2 class="page-title">Import to user {{ user.musicbrainz_id }}</h2>
  {% if current_user.is_authenticated() and current_user == user %}

    <p>
        Most users will want to import from Last.fm directly. <em>If you've been submitting data to ListenBrainz alpha that has not been added to Last.fm, please
        read this whole page before proceeding!</em>
    </p>

    <h3>Direct import from Last.fm</h3>
      <p>
        The Last.fm importer manually steps through your listen history and imports the listens
        one page at a time. Should it fail for whatever reason, it is safe to restart the import
        process. Running the import process multiple times <strong>does not</strong> create duplicates in your
        ListenBrainz listen history.
      </p>
      <p>
        Clicking the "Import now!" button will import your profile now without the need to open lastfm.<br/>
        You need to keep this page open for the tool to work, it might take a while to complete. Though, you can continue doing your work. :)
      <br/>
      We need to know your Last.fm username:
      <div class="well">
        <form onsubmit="return lastfm_import();">
          <input id = "lastfm_input" type="text" name="lastfm_username" size="30" placeholder="Last.fm Username">
          <input type="submit" value="Import now!">
        </form>
      </div>

    <p>If you want to reset your previous import timestamp, click below</p>
    <p>
      <span class="btn btn-info btn-lg" style="width: 300px"><a href="{{ url_for("user.reset_latest_import_timestamp") }}" style="color: white;">Reset Import Timestamp</a></span>
    </p>



    <h3> Import from ListenBrainz Alpha </h3>
      <p>
        <strong>Most users should not use this option! Please read this section carefully to ensure that this is the right option for you!</strong>
      </p>
      <p> The alpha version of the ListenBrainz site had one significant oversight: It imported listens from Last.fm using the Last.fm web page which only had <i>minute resolution</i> on the listen data. ListenBrainz really needs the more detailed <i>second resolution</i> data that is available from Last.fm API. To fix this problem and to preserve the data that some users may have submitted to ListenBrainz Alpha, please consider the two options carefully:
        <ol>
          <li>You have only used ListenBrainz to import data from Last.fm and have not submitted new listens to ListenBrainz directly. For this case, we recommend that you do a clean import of your Last.fm history from the Last.fm import above.
          <li>If you have submitted listens to ListenBrainz Alpha that are not in Last.fm, you can do an import from ListenBrainz Alpha into ListenBrainz Beta (the site you're using right now). Click the "Import Now!" button below to start this process. Please note that if you have both Last.fm imported data and your own submitted data, the Last.fm data that was previously imported will continue to have <i>minute resolution</i> timestamps.
        </ol>
      It is safe to import from the alpha more than once, your data will not be duplicated.
      If you have questions about this, please feel free to <a href="https://metabrainz.org/contact">contact us</a>.
    </p>
    <div class="well">
    {% if alpha_import_status == "WAITING" %}
      <p> <strong> Your request to import data from ListenBrainz alpha is in a queue and we will get to it as soon as possible! You can reload this page or click <a href = {{ url_for('user.import_data') }}>here</a> to know the status of the request. </strong> </p>
    {% elif alpha_import_status == "DONE" %}
      <p><strong>Your listen import from ListenBrainz Alpha has completed successfully!</strong></p>
    {% endif %}
    {% if alpha_import_status == "NO_REQUEST" or alpha_import_status == "DONE" %}
      <a href={{ url_for("user.import_from_alpha") }} style="color: white">
        <p>
          <span class="btn btn-warning btn-lg" style="width: 400px">Import Now!</span>
        </p>
      </a>
    {% endif %}
    </div>

    <h3>Import a Last.fm backup file</h3>

    <p>Import your listens from a Last.fm backup file (.zip)</p>
    <div class="well">
      <form action="upload" method="POST" enctype=multipart/form-data>
        <input type="file" name="file">
        </br>
        <input type="submit" value="Upload">
      </form>
    </div>

    <h3>User token</h3>
    <p>
      If you would like to use an external program to import into ListenBrainz you will need the following
      user token:
    </p>

    <div class="well">
      {{ user.auth_token }}
    </div>

    <p>If you want to reset your token, click below</p>
    <p>
      <span class="btn btn-info btn-lg" style="width: 200px"><a href="{{ url_for("user.reset_token") }}" style="color: white;">Reset token</a></span>
    </p>

  {% endif %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript">
    function lastfm_import() {
      var lastfm_username = document.getElementById("lastfm_input").value;
      var xhr = new XMLHttpRequest();
      // do not need to encode scraper_url because it is the result of a url_for call on the server
      xhr.open('GET', '{{ scraper_url }}?user_token={{ user.auth_token }}&lastfm_username='+ encodeURIComponent(lastfm_username));
      xhr.onload = function(content) {
        eval(xhr.response);
      };
      xhr.send();
      return false;
    }
  </script>
{% endblock %}
