{% extends 'base.html' %}

{% block title %}Import for "{{ user.musicbrainz_id }}" - ListenBrainz{% endblock %}

{% block content %}
  <h2 class="page-title">Import to user {{ user.musicbrainz_id }}</h2>
  {% if current_user.is_authenticated and current_user == user %}

    <p>
        Most users will want to import from Last.fm directly.
    </p>

    <h3>Direct import from Last.fm</h3>
      <p>
        The Last.fm importer manually steps through your listen history and imports the listens
        one page at a time. Should it fail for whatever reason, it is safe to restart the import
        process. Running the import process multiple times <strong>does not</strong> create duplicates in your
        ListenBrainz listen history.
      </p>
      <p>In order for this to work, you must disable the &#34;Hide recent listening information&#34;
        setting in your Last.fm <a href="https://www.last.fm/settings/privacy">Privacy Settings</a>.
      </p>
      <p>
        Clicking the "Import now!" button will import your profile now without the need to open lastfm.<br/>
        You need to keep this page open for the tool to work, it might take a while to complete. Though, you can continue doing your work. :)
      </p>
      We need to know your Last.fm username:
      <div class="well">
        <form onsubmit="return lastfm_import();">
          <input id="lastfm_input" type="text" name="lastfm_username" size="30" placeholder="Last.fm Username">
          <input id="import_button" type="submit" value="Import now!">
        </form>
      </div>

    <h3> Import from Spotify </h3>

    <p>
      ListenBrainz can automatically import songs from Spotify as you listen to them.
    </p>
    <p>
      This is a beta feature and we're still testing code and ironing out bugs. Please make sure that the Spotify
      import is not the only way you're archiving your listen history.
    </p>
    <p>
      Importing the same listens from two different sources such as Last.FM and Spotify may cause the creation
      of duplicates in your listen history. If you opt into our automatic Spotify import, please do not use the
      Last.FM import or submit listens from other ListenBrainz clients. This is a temporary limitation while we
      find better ways to deduplicate listens.
    </p>
    <p>
      <a href={{ url_for('profile.connect_spotify') }}>Connect your Spotify account to ListenBrainz.</a>
    </p>
    
  {% endif %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript">
    function lastfm_import() {
      var lastfm_username = document.getElementById("lastfm_input").value;
      var xhr = new XMLHttpRequest();
      // do not need to encode scraper_url because it is the result of a url_for call on the server
      xhr.open('GET', '{{ scraper_url }}?user_token={{ user.auth_token }}&lastfm_username='+ encodeURIComponent(lastfm_username));
      xhr.onload = function(content) {
        eval(xhr.response);
      };
      xhr.send();
      return false;
    }
  </script>
  <script type="text/javascript">
    //disables the import button when no username is entered
    $(document).ready(function() {
      $("#import_button").prop("disabled", true);
      $("#lastfm_input").on("input", function() {
        if($("#lastfm_input").val() == "") {
          $("#import_button").prop("disabled", true);
        } else {
          $("#import_button").prop("disabled", false);
        }
      });
    });
  </script>
{% endblock %}
