{% extends 'base-react.html' %}

{% block title %}Missing MusicBrainz Data of "{{ user.musicbrainz_id }}" - ListenBrainz{% endblock %}

{% block content %}
    <h2 class="page-title">Missing MusicBrainz Data of {{ user.musicbrainz_id }}</h2>
    <p>
        MusicBrainz is the music encyclopedia that ListenBrainz uses to display more information about your music,
        entirely built by a passionate open-source community.
        <br/>
        The songs (or “recordings”) below don’t seem to exist yet in MusicBrainz. Please take a few minutes to submit
        this new data and help us improve this community resource and everyone’s experience on ListenBrainz.
    </p>
    <div id="react-container"></div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ get_static_path('missingMBData.js') }}" type="text/javascript"></script>
{% endblock %}
