{% extends 'base-react.html' %}

{% block title %}Missing MusicBrainz Data of "{{ user.musicbrainz_id }}" - ListenBrainz{% endblock %}

{% block content %}
  <h2 class="page-title">Missing MusicBrainz Data of {{ user.musicbrainz_id }}</h2>
  {% if current_user.is_authenticated and current_user == user %}

    <h3>Directly export missing MusicBrainz data</h3>
      <p>Share a hand to the community effort of gathering and marking all known music in existence! Such small submissions help
         us grow more :D.
      </p>
      <div class="row">
      <div class="well col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div id="react-container">
        </div>
      </div>
      </div>
  {% endif %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ get_static_path('missingMBData.js') }}" type="text/javascript"></script>
{% endblock %}
