{% extends 'base.html' %}
{% from 'macros.html' import service_permission_button %}
{% block title %}External Music Services - ListenBrainz{% endblock %}

{% block content %}
    <div id="user-profile">
        <h2 class="page-title">Connect with third-party music services</h2>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Spotify</h3>
            </div>
            <div class="panel-body">
                <p>
                    Connect to your Spotify account to read your listening history, play music on ListenBrainz (requires
                    Spotify Premium) or both. We encourage users to choose both options for the best experience, but you
                    may also choose only one option.
                    For music playing, make sure your browser allows autoplaying media on listenbrainz.org.
                    If you have a Spotify account connected, you'll have much better results. Otherwise, we will search for a match on YouTube.
                    If you ever face an issue, try disconnecting and reconnecting your Spotify account and make sure you select the permissions to 'record listens and play music' or 'play music only'.
                </p>
                <br/>
                <div class="music-service-selection">
                    <form action="{{ url_for('profile.music_services_disconnect', service_name='spotify') }}"
                          method="post">
                        {{ service_permission_button("spotify", current_spotify_permissions, "both",
                        "Activate both features (Recommended)",
                        "We will record your listening history permanently and make it available for others to view and explore. "
                        "Discover and play songs directly on ListenBrainz, and import/export your playlist to and from Spotify.") }}

                        {{ service_permission_button("spotify", current_spotify_permissions, "listen",
                        "Play music on ListenBrainz",
                        "Discover and play songs directly on ListenBrainz, and import/export your playlist to and from Spotify. "
                        "Note: Full length track playback requires Spotify Premium") }}

                        {{ service_permission_button("spotify", current_spotify_permissions, "import",
                        "Record listening history",
                        "We will record your listening history permanently and make it available for others to view and explore.") }}

                        {{ service_permission_button("spotify", current_spotify_permissions, "disable",
                        "Disable",
                        "Spotify integration will be disabled. You won't be able to import your listens or listen to music on "
                        "ListenBrainz using Spotify.") }}
                    </form>
                </div>

                <h3>A note about permissions</h3>

                <p>
                    In order to enable the feature to record your listens you will need to grant the permission to view
                    your recent listens and your current listen.
                </p>

                <p>
                    In order to play tracks on the ListenBrainz pages you will need to grant the permission to play
                    streams from your account and create playlists. Oddly enough, Spotify also requires the permission
                    to read your email address, your private information and your birthdate in order to play tracks.
                    These permissions are required to determine if you are a premium user and can play full length
                    tracks or will be limited to 30 second previews. However, <b>ListenBrainz will never read these
                    pieces of data</b>. We promise! Please feel free to
                    <a href="https://github.com/metabrainz/listenbrainz-server/blob/master/listenbrainz/spotify_updater/spotify_read_listens.py">
                        inspect our source</a> code yourself!
                </p>

                <p>
                    You can revoke these permissions whenever you want by unlinking your Spotify account.
                </p>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">CritiqueBrainz</h3>
            </div>
            <div class="panel-body">
                <p>
                    Connect to your CritiqueBrainz account to publish reviews for your Listens directly from
                    ListenBrainz. Your reviews will be independently visible on CritiqueBrainz and appear publicly
                    on your CritiqueBrainz profile unless removed. To view or delete your reviews, visit your
                    CritiqueBrainz profile.
                </p>
                <br/>
                <div class="music-service-selection">
                    <form action="{{ url_for('profile.music_services_disconnect', service_name='critiquebrainz') }}"
                          method="post">
                        {{
                                service_permission_button(
                                "critiquebrainz",
                                current_critiquebrainz_permissions,
                                "review",
                                "Reviews",
                                "You will be able to publish mini-reviews for your Listens directly from ListenBrainz.")
                        }}
                        {{
                                service_permission_button(
                                "critiquebrainz",
                                current_critiquebrainz_permissions,
                                "disable",
                                "Disable",
                                "You will not be able to publish mini-reviews for your Listens directly from ListenBrainz.")
                        }}
                    </form>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Youtube</h3>
            </div>
            <div class="panel-body">
                <p>
                    ListenBrainz integrates with YouTube to let you play music tracks from ListenBrainz pages.
                    You do not need to do anything to enable this. ListenBrainz will automatically search for
                    tracks on YouTube and play one if it finds a match.
                </p>
            </div>
        </div>
    </div>

{% endblock %}
