{% extends 'user/base.html' %}
<!-- 
     this template now supports a mode argument that is either "listens" or "follow", since Mr_Monkey says that the
     two pages will share a lot in common and that will make supporting these two pages easier. 
-->
{% block profile_content %}

    <div style="margin-top:20px">
    	<img src="{{ url_for('static', filename='img/musicbrainz-16.svg') }}" />
    	<b><a href="https://musicbrainz.org/user/{{ user.musicbrainz_id }}">See profile on MusicBrainz</a></b>
    </div>


    <div id="react-listens">
    </div>

{% endblock %}

{% block scripts %}
  {{ super() }}
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script type="text/javascript" charset="utf-8">
      console.log("Connecting!");
      var socket = io.connect("{{ web_sockets_server_url }}");
      socket.on('connect', function() {
          console.log("Connected!");
          socket.emit("json", {user: '{{ user.musicbrainz_id }}', 'follow': ['{{ user.musicbrainz_id }}']});
          console.log("Emitted!");
      });
      socket.on('listen', function(data) {
          console.log('New listen!');
          console.log(data);
      });
      socket.on('playing_now', function(data) {
          console.log('New now playing notification!')
          console.log(data);
      });
  </script>
  <script id="react-props" type="application/json">{{ props|safe }}</script>
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  <script src="{{ url_for('static', filename='js/profile.js') }}" type="text/babel"></script>
  <script defer src="https://sdk.scdn.co/spotify-player.js" integrity="sha384-9+35Jl48gpiB6tCwoWpqdtwv584KTRdaUpt87P/4A19odvUlJVvmgQ2mAI2iIOkC" crossorigin="anonymous"></script>
{% endblock %}
