{% extends 'user/base.html' %}
<!-- 
     this template now supports a mode argument that is either "listens" or "follow", since Mr_Monkey says that the
     two pages will share a lot in common and that will make supporting these two pages easier. 
-->
{% block profile_content %}

    <div style="margin-top:20px">
    	<img src="{{ url_for('static', filename='img/musicbrainz-16.svg') }}" />
    	<b><a href="https://musicbrainz.org/user/{{ user.musicbrainz_id }}">See profile on MusicBrainz</a></b>
    </div>


    <div id="react-listens">
    </div>

{% endblock %}

{% block scripts %}
  {{ super() }}
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
  <script id="react-props" type="application/json">{{ props|safe }}</script>
  <script src="{{ url_for('static', filename='js/dist/main.js') }}" type="text/javascript"></script>
{% endblock %}
