{% extends 'base.html' %}

{% block title %}Link spotify account - ListenBrainz{% endblock %}

{% block content %}
  <div id="user-profile">
    <h2 class="page-title">Link Spotify Account</h2>

    <p>ListenBrainz has two different integrations with Spotify. We provide users the ability to play music from Spotify on certain pages and the ability to import the songs that you listen to on Spotify automatically.</p>
    <p>We ask permission to read your recently listened songs to import them and a few other permissions to be able to play music from Spotify on ListenBrainz. You can revoke these permissions whenever you want by unlinking your Spotify account.</p>
    <p>We provide the choice of only opting in to any one of the features (or both).</p>

    {% if account %}
      <p>Your account is linked. Click the button below to unlink it</p>
      <form method="POST">
        <input type="hidden" name="delete" value="yes" />
        <input class="btn btn-primary btn-lg" type="submit" value="Unlink" />
      </form>

      {% if account.error_message %}
        <h3>Import Errors</h3>
        <p>There was an error while importing listens from your Spotify account:</p>
        <div class="alert alert-danger">
          <p> {{account.error_message}} </p>
        </div>
      {% endif %}

      <h3>Activity Status</h3>
      {% if not account.active %}
        <p>ListenBrainz is currently not importing your Spotify listens. This may be due to errors,
        please unlink and link your Spotify account to try again.</p>
      {% endif %}

      {% if not account.last_updated %}
        <p>We haven't gotten around to importing your listens yet, please check back later!</p>
      {% else %}
      <p>We imported your listens <abbr class="timeago" title="{{last_updated}}">{{last_updated}}</abbr> and the last song we imported was listened to <abbr class="timeago" title="{{latest_listened_at}}">{{latest_listened_at}}</abbr>.</p>
      {% endif %}

    {% else %}
      <p><a href="{{ only_listen_url }}">Log in with Spotify (only listen to music).</a></p>
      <p><a href="{{ only_import_url }}">Log in with Spotify (import listens).</a></p>
      <p><a href="{{ both_url }}">Log in with Spotify (both).</a></p>
    {% endif %}

  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/lib/jquery.timeago.js') }}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $("abbr.timeago").timeago();
    });
  </script>
{% endblock %}
