{% extends 'base.html' %}

{% block title %}Link spotify account - ListenBrainz{% endblock %}

{% block content %}
  <div id="user-profile">
    <h2 class="page-title">Link Spotify Account</h2>

    <p>
       ListenBrainz integrates with Spotify to bring you two features:
    </p>
    
    <ol>
       <li>
         <p><b>Record your listening history into ListenBrainz.</b></p>
         <p>We will record your listening history permanently and make it available for others to view and explore.</p>
       </li>
       <li>
         <p><b>Play music tracks from various ListenBrainz pages.</b></p>
         <p>We are building a number of music discovery features on the ListenBrainz pages and allowing full length 
         track playback allows you to use these features.</p>
       </li>
    </ol>

    <p>
    We encourage user to choose both of the options above for the best experience, but you may also choose only one option.
    </p>

    <h4>A note about permissions</h4>

    <p>We provide users the ability to play music from Spotify on certain pages and the ability to import the songs that you listen to on Spotify automatically.</p>
    <p>We ask permission to read your recently listened songs to import them and a few other permissions to be able to play music from Spotify on ListenBrainz. You can revoke these permissions whenever you want by unlinking your Spotify account.</p>

    <h3>Account Linking Status</h3>
    {% if account %}
      <p>Your account is linked. Click the button below to unlink it</p>
      <form method="POST">
        <input type="hidden" name="delete" value="yes" />
        <input class="btn btn-primary btn-lg" type="submit" value="Unlink" />
      </form>

      {% if account.error_message %}
        <h3>Import Errors</h3>
        <p>There was an error while importing listens from your Spotify account:</p>
        <div class="alert alert-danger">
          <p> {{account.error_message}} </p>
        </div>
      {% endif %}

      <h3>Activity Status</h3>
      {% if not account.record_listens %}
        <p>ListenBrainz is currently not importing your Spotify listens. This may be due to errors,
        please unlink and link your Spotify account to try again.</p>
      {% endif %}

      {% if not account.last_updated %}
        <p>We haven't gotten around to importing your listens yet, please check back later!</p>
      {% else %}
      <p>We imported your listens <abbr class="timeago" title="{{last_updated}}">{{last_updated}}</abbr> and the last song we imported was listened to <abbr class="timeago" title="{{latest_listened_at}}">{{latest_listened_at}}</abbr>.</p>
      {% endif %}

    {% else %}
      <p>
      Your account is currently not linked. To link your account, please choose one of the following:
      </p>
      <p><a href="{{ both_url }}" class="btn btn-primary btn-lg">Link my account to record listens and play music</a></p>
      <p><a href="{{ only_listen_url }}" class="btn btn-primary btn-lg">Link my account to play music only</a></p>
      <p><a href="{{ only_import_url }}" class="btn btn-primary btn-lg">Link my account to recording listens only</a></p>
    {% endif %}

  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/lib/jquery.timeago.js') }}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $("abbr.timeago").timeago();
    });
  </script>
{% endblock %}
