{%- extends 'base-react.html' -%}

{% block title %}
ListenBrainz Year in Music {{ year }} for {{ user_name }}
{% endblock %}

{% block head %}
   {{ super() }}
   <meta name="description" content="Check out the music review for {{ year }} that @ListenBrainz created from my listening history!" />
   <meta name="twitter:card" content="summary_large_image"></meta>
   <meta name="twitter:site" content="@listenbrainz" />
   <meta property="og:url" content="{{ url_for("user.year_in_music", user_name=user_name) }}" />
   <meta property="og:type" content="website">
   <meta property="og:title" content="ListenBrainz Year in Music for {{ user_name }}" />
   <meta property="og:description" content="Check out the music review for {{ year }} that @ListenBrainz created from my listening history!" />
   <meta property="twitter:url" content="{{ url_for("user.year_in_music", user_name=user_name) }}" />
   <meta property="twitter:title" content="ListenBrainz Year in Music for {{ user_name }}" />
   <meta property="twitter:domain" content="listenbrainz.org">
   <meta property="twitter:description" content="Check out the music review for {{ year }} that @ListenBrainz created from my listening history!" />
   {% if year == 2021 %}
     <meta property="og:image" content="https://listenbrainz.org/static/img/year-in-music-2021.png" />
     <meta property="twitter:image" content="https://listenbrainz.org/static/img/year-in-music-2021.png" />
    {% elif year == 2022 %}
     <meta property="og:image" content="https://listenbrainz.org/static/img/year-in-music-22/yim22-logo.png" />
     <meta property="twitter:image" content="https://listenbrainz.org/static/img/year-in-music-22/yim22-logo.png" />
     <style type="text/css">
        /* Allow for full-screen backgrounds using ::before and ::after elements in css
            without ending up with horizontal scrolling  */
        body>.container {
            margin:0;
            padding:0;
            width: 100%;
        }
        section.footer{
            display: none;
        }
     </style>
   {% endif %}
{% endblock %}

{% block content %}

    <div id="react-container"></div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ get_static_path(year_in_music_js_file) }}" type="text/javascript"></script>
{% endblock %}
