{% from 'macros.html' import print_message %}

<!DOCTYPE html>
<html>
<head>
  {%- block head -%}
    <meta charset="utf-8" />
    <title>{% block title %}AcousticBrainz{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16.png') }}" type="image/png" />
    <link rel="icon" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32.png') }}" type="image/png" />
    <link rel="icon" sizes="64x64" href="{{ url_for('static', filename='img/favicon-64.png') }}" type="image/png" />
    <link rel="icon" sizes="128x128" href="{{ url_for('static', filename='img/favicon-128.png') }}" type="image/png" />
    <link rel="icon" sizes="256x256" href="{{ url_for('static', filename='img/favicon-256.png') }}" type="image/png" />

    {% if config.COMPILE_LESS %}
      <link href="{{ url_for('static', filename='css/main.less') }}" rel="stylesheet/less" type="text/css" />
      <script src="{{ url_for('static', filename='js/lib/less.min.js') }}"></script>
    {% else %}
      <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" media="screen" />
    {% endif %}
  {%- endblock -%}
</head>

<body>
  {%- include 'navbar.html' -%}

  <div class="container">

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            {{ print_message(message, category) }}
        {% endfor %}
    {% endwith %}

    {%- block wrapper -%}
        {%- block content -%}
          <!-- Page content -->
        {%- endblock -%}
    {%- endblock -%}
    <div class="clearfix"></div>

    {%- block footer -%}
      <hr />
      <div class="footer clearfix">
        <ul class="list-inline pull-left">
          <li><a href="http://blog.musicbrainz.org/category/acousticbrainz/">Blog</a></li>
          <li><a href="https://twitter.com/AcousticBrainz">Twitter</a></li>
          <li><a href="http://github.com/metabrainz/acousticbrainz-server/">GitHub</a></li>
          <li><a href="http://tickets.musicbrainz.org/browse/AB">Bug Tracker</a></li>
        </ul>
        <ul class="list-inline pull-right">
          <li><a href="http://mtg.upf.edu" title="UPF"><img src="/static/img/mtg_upf.png" /></a></li>
          <li><a href="https://musicbrainz.org" title="MusicBrainz"><img src="{{ url_for('static', filename='img/musicbrainz.svg') }}" /></a></li>
        </ul>
      </div>
    {%- endblock -%}
  </div>

  {%- block scripts -%}
    <script src="{{ url_for('static', filename='js/lib/jquery-2.1.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
  {%- endblock -%}
</body>
</html>
