PATH=/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin

# Request user stats every day at 12:00
0/10 * * * * listenbrainz_stats_cron /usr/local/bin/python /code/listenbrainz/manage.py spark request_all_user_stats

# Request full data dump import into spark cluster on 8th and 22nd every month
00 00 8,22 * * listenbrainz_stats_cron /usr/local/bin/python /code/listenbrainz/manage.py spark request_import_full

# Full Data dumps creation for backup and public use
00 12 1,15 * * lbdumps /code/listenbrainz/admin/create-dumps.sh full

# Incremental listen data dumps at 00:00 every Monday and Thursday
00 00 * * 1,4 lbdumps /code/listenbrainz/admin/create-dumps.sh incremental
