version: "3.4"

# IMPORTANT NOTE: Volume paths mounted on containers are relative to the
# directory that this file is in (`docker/`) and so probably need to start with
# `../` to refer to a directory in the main code checkout

services:

  db:
    image: timescale/timescaledb:2.2.0-pg11
    command: postgres -F
    tmpfs:
      - /var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: 'postgres'

  redis:
    image: redis:6.2.2

  listenbrainz:
    build:
      context: ..
      dockerfile: Dockerfile
      target: listenbrainz-dev
    command: pytest listenbrainz/tests/integration
    volumes:
      - ..:/code/listenbrainz:z
    depends_on:
      - redis
      - db
      - rabbitmq

  timescale_writer:
    image: listenbrainz
    command: python3 -m "listenbrainz.timescale_writer.timescale_writer"
    depends_on:
      - redis
      - db
      - rabbitmq 

  rabbitmq:
    image: rabbitmq:3.6.5
