version: "3.4"

# IMPORTANT NOTE: Volume paths mounted on containers are relative to the
# directory that this file is in (`docker/`) and so probably need to start with
# `../` to refer to a directory in the main code checkout

services:

  namenode:
    build:
      context: ..
      dockerfile: Dockerfile.spark
    image: listenbrainz-spark-dev
    command: bash -c "hdfs namenode -format && hdfs namenode"
    expose:
      - "9000"
      - "9870"

  datanode:
    image: listenbrainz-spark-dev
    command: bash -c "hdfs datanode"
    depends_on:
      - namenode

  request_consumer:
    image: listenbrainz-spark-dev
    depends_on:
      - namenode
      - datanode
    command: dockerize -wait tcp://namenode:9000 -timeout 60s bash -c "cp listenbrainz_spark/config.py.sample listenbrainz_spark/config.py; PYTHONDONTWRITEBYTECODE=1 python -m pytest -c pytest.spark.ini"
    volumes:
      - ..:/rec
