version: "3.4"

# IMPORTANT NOTE: Volume paths mounted on containers are relative to the
# directory that this file is in (`docker/`) and so probably need to start with
# `../` to refer to a directory in the main code checkout

services:

  db:
    image: timescale/timescaledb:1.7.4-pg12
    command: postgres -F
    environment:
      POSTGRES_PASSWORD: 'postgres'

  redis:
    image: redis:6.2.2

  rabbitmq:
    image: rabbitmq:3.6.5

  listenbrainz:
    build:
      context: ..
      dockerfile: Dockerfile
      target: listenbrainz-dev
    volumes:
      - ..:/code/listenbrainz:z
    depends_on:
      - redis
      - db
      - rabbitmq
 
  frontend_tester:
    build:
      context: ..
      dockerfile: docker/Dockerfile.webpack
    volumes:
      - ../listenbrainz/webserver/static:/code/static:z
