{%- extends 'base-react.html' -%}

{% block title %}
Album covers of {{ year }} - ListenBrainz
{% endblock %}

{% block head %}
   {{ super() }}
    <style type="text/css">
        /* Allow for full-screen backgrounds using ::before and ::after elements in css
            without ending up with horizontal scrolling  */
        body {
            padding-bottom: 0;
        }
        body>:not(nav){
            padding-bottom: 0;
        }
        #react-container {
            margin: -21px -15px 0;
            padding:0;
            height: 100vh;
        }
        section.footer{
            display: none;
        }
    </style>
    {% if year == 2022 %}
    <style type="text/css">
        #react-container {
            background-color: #ff0e25;
        }
    </style>
    {% elif year == 2023 %}
    <style type="text/css">
        #react-container {
            background-color: #F0EEE2;
        }
    </style>
    {% endif %}
{% endblock %}

<!-- these props are used in the navbar to highlight the navbar items -->
{% set active_page = "explore" %}

{% block content %}
    <div class="secondary-nav">
        <ol class="breadcrumb">
            <li><a href="{{ url_for('explore.index') }}">Explore</a></li>
            <li class="active">Cover Art Collage {{year}}</li>
        </ol>
    </div>
    <div id="react-container"></div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ get_static_path('coverArtComposite{{year}}.js') }}" type="text/javascript"></script>
{% endblock %}
