{%- extends 'base-react.html' -%}

<!-- these props are used in the navbar to highlight the navbar items -->
{% set active_page = "explore" %}

{% block content %}
  <div class="secondary-nav">
    <ol class="breadcrumb">
      <li class="active">Explore</li>
    </ol>
  </div>
    
  {% block profile_content %}
    
      <div id="react-container" role="main"></div>
    
  {% endblock %}


  {{ super() }}
{% endblock %}


{% block scripts %}
  {{ super() }}
  <script src="{{ get_static_path('explore.js') }}" type="text/javascript"></script>
{% endblock %}
