{%- extends 'base-react.html' -%}

<!-- these props are used in the navbar to highlight the navbar items -->
{% set active_page = "explore" %}

{%- block title -%}Art Creator - ListenBrainz{%- endblock -%}

{% block content %}

<div class="secondary-nav">
    <ol class="breadcrumb">
        <li><a href="{{ url_for('explore.index') }}">Explore</a></li>
        <li class="active">Art Creator</li>
    </ol>
</div>
{{ super() }}
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ get_static_path('artCreator.js') }}" type="text/javascript"></script>
{% endblock %}