{%- extends 'base.html' -%}
{%- block title -%}Status - ListenBrainz{%- endblock -%}
{%- block content -%}

  <h2 class="page-title">Current status</h2>

  <div class="row">

    <div class="col-md-7 col-lg-8">
      <h3>Incoming listens</h3>

      <table>
        <tr>
           <td>Number of listens in submission queue:</td><td>{{ listens }}</td></tr>
           <td>Number of listens currently being inserted:</td><td>{{ listens_pending }}</td></tr>
        </tr>
      </table>
      <p>
      (values close to 0 indicate that everything is well)

      <h3>load average</h3>

      <p>
        Current server load average
      </p>
      <div class="well"> 
         {{ load }}
      </div>

    </div>

    <div class="col-md-5 col-lg-4">

      <p style="text-align: center">
         <img style="border-radius: 15px;" 
              src="{{ url_for('static', filename='img/selfie.jpg') }}"
              width="250"></img>
      </p>

      <p style="text-align: center">
         Our server doesn't have a selfie. :(</br>
         Have a monkey selfie instead!
         </p>
      </p>

    </div>

  </div>

{%- endblock -%}
