{%- extends 'base.html' -%}
{%- block title -%}Status - ListenBrainz{%- endblock -%}
{%- block content -%}

  <h2 class="page-title">Current status</h2>

  <div class="row">

    <div class="col-md-7 col-lg-8">
      {% for s in stats %}
          <h3>{{ s.desc }}</h3>
          <table class="table table-border table-condensed table-striped">
            <thead>
              <tr>
               <th>description</th>
               <th>number</th>
               <th>ideal number</th>
             </tr>
            </thead>
            <tbody>
              <tr>
                <td>number of listens:</td>
                <td>{{ s.data.listens }}</td>
                <td>less than 1M</td>
              </tr>
              <tr>
                <td>number of listen ref counts:</td>
                <td>{{ s.data.refcounts }}</td>
                <td>about the same as listens</td>
              </tr>
              <tr>
                <td>number of listen consumer ids:</td>
                <td>{{ s.data.listen_ids }}</td>
                <td>near 0</td>
              </tr>
              <tr>
                <td>number of pending listen consumer ids:</td>
                <td>{{ s.data.listen_ids_pending }}</td>
                <td>near 0</td>
              </tr>
              <tr>
                <td>number of consumers:</td>
                <td>{{ s.data.num_consumers }}</td>
                <td>between 1 and 5</td>
              </tr>
            </tbody>
          </table>
      {% endfor %}

      <h3>load average</h3>

      <p>
        Current server load average
      </p>
      <div class="well"> 
         {{ load }}
      </div>

    </div>

    <div class="col-md-5 col-lg-4">

      <p style="text-align: center">
         <img style="border-radius: 15px;" 
              src="{{ url_for('static', filename='img/selfie.jpg') }}"
              width="250"></img>
      </p>

      <p style="text-align: center">
         Our server doesn't have a selfie. :(</br>
         Have a monkey selfie instead!
         </p>
      </p>

    </div>

  </div>

{%- endblock -%}
