{%- extends 'base.html' -%}
{%- block title -%}Goals - ListenBrainz{%- endblock -%}
{%- block content -%}
  <h2 class="page-title">Goals</h2>

  Notes: Your data is public. Do not submit your listens to ListenBrainz if you need to keep them private.

  <p>The ListenBrainz project has a number of goals:</p>
  <ol>
    <li>
       A public store of your Listen history. We feel that a listen history has a tremendous
       amount of personal value and in aggregate has a huge amount of value for developers who wish
       to create better music technologies, like recommendation systems.
    </li>
    <li>
       A permanent store of your Listen history. MetaBrainz, the non-profit that runs 
       <a href="http://musicbrainz.org">MusicBrainz</a> and ListenBrainz has a long
       history of curating and making data available to the public in a useful and meaningful manner. We promise
       to safe guard your Listen history permanently.
    </li>
    <li>
       To make data dumps of this listen history available for download. We want everyone who is interested
       in this data to have access to the data and to use it in any manner they wish.
    </li>
  </ol>

  <p>(more seriously, we'll outline our goals soon!)</p>
{%- endblock -%}
