{%- extends 'base.html' -%}
{%- block title -%}Goals - ListenBrainz{%- endblock -%}
{%- block content -%}
  <h2 class="page-title">Goals</h2>

  <p>The ListenBrainz project has a number of goals:</p>
  <ol>
    <li>
       A public store of your Listen history. We feel that a listen history has a tremendous
       amount of personal value and in aggregate has a huge amount of value for developers who wish
       to create better music technologies, like recommendation systems.
    </li>
    <li>
       A permanent store of your Listen history. MetaBrainz, the non-profit that runs 
       <a href="https://musicbrainz.org">MusicBrainz</a> and ListenBrainz has a long
       history of curating and making data available to the public in a useful and meaningful manner. We promise
       to safeguard your Listen history permanently.
    </li>
    <li>
       To make data dumps of this listen history available for download. We want everyone who is interested
       in this data to have access to the data and to use it in any manner they wish.
    </li>
    <li>
       To share listen histories in a distributed fashion. We plan to allow anyone to connect to ListenBrainz
       and to tap into a live feed of listen data as we receive it. We hope that Last.fm will work with us
       to make an interconnection with Last.fm possible. We welcome anyone scrobbling to us and we plan to share the listens
       shared with us to anyone else who wants them. We envision smaller music communities with a specific focus
       to install their own ListenBrainz server to collect listen data for their specific focus. We hope that
       these smaller communities will also share their data in the same manner in which we share our data.
    </li>
  </ol>

  <h3>Anti-goals</h3>

  <p>The project also has a number of anti-goals (things it doesn't try to be):</p>
  <ol>
    <li>
        A store for people's private listen history. The point of this project is to build a public, shareable
        store of listen data. As we build out our sharing features, building a private listen store will become
        possible, but that is not part of our goals.
    </li>
    <li>
        A closed platform. We aim to make everything open and to encourage a community of sharing and participation.
    </li>
  </ol>

{%- endblock -%}
