{%- extends 'base.html' -%}
{%- block title -%}FAQ - ListenBrainz{%- endblock -%}
{%- block content -%}
  <h2 class="page-title">Roadmap</h2>

  We've put together a very rough roadmap for this project:

  <h3>Short term</h3>

  <ul>
    <li>
       Launch the ListenBrainz alpha at the Future Music Forum in Barcelona on September 17, 2015.
    </li>
    <li>
       Observe the first batch of users break our server. See how it fails and then fix it.
    </li>
    <li>
       Get some rest after our marathon of starting this project.
    </li>
  </ul>

  <h3>Medium term</h3>

  <ul>
    <li>
      Add listen counts: Right now we can't show the number of listens a user has.
    </li>
    <li>
      More data views: Show more data views that highlight artists, releases and other users.
    </li>
    <li>
      Listen sharing: To share listens with others real time and to consume listen streams from others.
    </li>
    <li>
      Data export: To export our data on a regular basis.
    </li>
    <li>
      Data import: Import of old Last.fm archives.
    </li>
  </ul>

  <h3>Long term</h3>

  <p>
     We have not worked out many long term plans yet. Clearly we are on the road to developing
     open source music recommendation engines, but that is still a ways off in the future.
  </p>
{%- endblock -%}
