.card {
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid lightgrey;
    box-shadow: rgba(192, 192, 192, 0.1) 0px 1px 1px 0px,
        rgba(192, 192, 192, 0.15) 0px 2px 2px 0px,
        rgba(192, 192, 192, 0.2) 0px 4px 4px 0px;
    font-family: Sintony, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    max-width: 650px;
    min-width: 350px;
}

.card>* {
    padding: 15px;
}

.card .main-content {
    display: flex;
}

.card .main-content>div {
    display: flex;
    justify-content: center;
    flex: 1 1 0%;
}

.card .main-content>div.listen-thumbnail {
    min-width: 66px;
    flex: 0;
    margin: -15px;
    margin-right: 2em;
    aspect-ratio: 1;
    display: block;
}

.card .main-content .listen-thumbnail>a {
    height: 100%;
    width: inherit;
    aspect-ratio: 1;
    display: block;
}

.card .main-content .listen-thumbnail>a img {
    height: inherit;
    width: inherit;
    object-fit: cover;
}


.card .main-content .listen-details {
    flex-direction: column;
    line-height: 1.3em;
    overflow: hidden;
}

.card .main-content .title-duration {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card .main-content .title-duration>:not(:first-child) {
    margin-left: 2em;
}

.card a {
    color: inherit;
}

.ellipsis-2-lines {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card .main-content .right-section {
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
}

.text-muted {
    color: #8d8d8d;
}

.card .main-content .username-and-timestamp {
    flex-direction: column;
    justify-content: center;
    padding-right: 1em;
    align-items: flex-end;
}

.card .main-content .right-section> :not(.dropdown-menu) {
    min-width: 1.5em;
    display: flex;
}

.card .main-content .listen-time {
    color: #8d8d8d;
    font-style: italic;
    font-size: 80%;
    text-align: end;
    white-space: nowrap;
}

.additional-content {
    border-top: 1px solid #dbccc6;
    font-style: italic;
}

/* Styles for pinned recording cards */

.pinned-recording-card .text-muted {
    color: #cccccc;
}

.pinned-recording-card .main-content .listen-time {
    color: #e6e6e6;
}

.pinned-recording-card>* {
    background-color: rgb(53, 48, 112);
    color: rgb(255, 255, 255);
}

.pinned-recording-card .additional-content {
    border-top-color: #8c87cc;
}

.pinned-recording-card .main-content>.pinned-recording-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 1 0%;
}

.pinned-recording-card .main-content>.pinned-recording-icon .icon {
    font-size: 1.6em;
    margin: auto;
}