{% extends 'base-react.html' %}

{% block title %}User "{{ user.musicbrainz_id }}" - ListenBrainz{% endblock %}

{% block content %}
  <div class="secondary-nav dragscroll nochilddrag">
    <ul class="nav nav-tabs" role="tablist">
      <li class="username"><div>{{ user.musicbrainz_id }}</div></li>
      <li {{ 'class=active' if active_section=='info' }}><a href="{{ url_for('recommendations_cf_recording.info', user_name=user.musicbrainz_id) }}">Tracks you might like</a></li>
      <li {{ 'class=active' if active_section=='raw' }}><a href="{{ url_for('recommendations_cf_recording.raw', user_name=user.musicbrainz_id) }}">Raw Recommendations</a></li>
    </ul>
  </div>
  <div id="cf-recommendations" role="main">

    {% block recs_content %}
        {% if not error_msg %}
        <div style="margin-top:20px">
            <p>Your raw tracks playlist was last updated on <b>{{ last_updated }}</b>.</p>
        </div>
        {% endif %}
        {% if error_msg %}
            <div>
                <h2>Error</h2>
                <p>{{ error_msg }}</p>
          </div>
        {% endif %}

    {% endblock %}

  </div>

  {{ super() }}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ get_static_path('recommendationsPlayground.js') }}" type="text/javascript"></script>
    
  <!-- This dragscroll library will need to be replaced with a React hook once we move to a SPA -->
  <script src="{{ url_for('static', filename='js/lib/dragscroll.js') }}"></script>
{% endblock %}
