<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Candidate Set</title>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>
</head>
<body>
	<center>
		<h1>Data Preprocessing to generate recommendations</h1>
	</center>
	<p>To get personalized recommendations for users, candidate sets are generated for each user consisting of recording ids and the user id using the underlying procedure.</p>
    <p>Total time taken to generate candidates set for all users: <b>{{ total_time }}m</b></p>
	{% for user_name, data in user_data.items() -%}
	<p>Similar artists set for <b>{{ user_name }}</b></p>
		<table>
			<tr>
				<th>Top Artist</th>
				<th>Similar artist</th>
				<th>Score</th>
			</tr>
			{% for i in data -%}
			<tr>
				<td>{{ i[0] }}</td>
				<td>{{ i[1] }}</td>
				<td>{{ i[2] }}</td>
			</tr>
			{% endfor -%}
		</table>
	{% endfor -%}
</body>
</html>
