<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Candidate Set</title>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>
</head>
<body>
	<center>
		<h1>Data Preprocessing to generate recommendations</h1>
	</center>
	<p>To get personalized recommendations for users, candidate sets are generated for each user consisting of recording ids and the user id using the underlying procedure.</p>
    <p>Total time taken to generate candidates set for all users: <b>{{ total_time }}m</b></p>
	{% for user_name, data in user_data.items() -%}
	<p><center><h4>{{ user_name }}</h4></center></p>
        <p>Top Artist</p>
            <table>
                <tr>
                    <th>Top artist name</th>
                    <th>Top artist credit id</th>
                </tr>
                {% for i in data['top_artist'] -%}
                <tr>
                    <td>{{ i[0] }}</td>
                    <td>{{ i[1] }}</td>
                </tr>
                {% endfor -%}
            </table>
        <p>Similar Artist</p>
            <table>
                <tr>
                    <th>Similar artist name</th>
                    <th>Similar artist credit id</th>
                </tr>
                {% for i in data['similar_artist'] -%}
                <tr>
                    <td>{{ i[0] }}</td>
                    <td>{{ i[1] }}</td>
                </tr>
                {% endfor -%}
            </table>
        <p>Top Artist Candidate Set</p>
            <table>
                <tr>
                    <th>Top artist credit id</th>
                    <th>Top artist name</th>
                    <th>MB artist credit id</th>
                    <th>MB artist credit mbids</th>
                    <th>MB recording mbid</th>
                    <th>MSB artist credit name matchable</th>
                    <th>MSB recording name matchable</th>
                    <th>Recording id</th>
                </tr>
                {% for i in data['top_artist_candidate_set'] -%}
                <tr>
                    <td>{{ i[0] }}</td>
                    <td>{{ i[1] }}</td>
                    <td>{{ i[2] }}</td>
                    <td>{{ i[3] }}</td>
                    <td>{{ i[4] }}</td>
                    <td>{{ i[5] }}</td>
                    <td>{{ i[6] }}</td>
                    <td>{{ i[7] }}</td>
                </tr>
                {% endfor -%}
            </table>
        <p>Similar Candidate Set</p>
		    <table>
    			<tr>
    				<th>Similar artist credit id</th>
                    <th>Similar artist name</th>
                    <th>MB artist credit id</th>
                    <th>MB artist credit mbids</th>
                    <th>MB recording mbid</th>
                    <th>MSB artist credit name matchable</th>
                    <th>MSB recording name matchable</th>
                    <th>Recording id</th>
    			</tr>
    			{% for i in data['similar_artist_candidate_set'] -%}
    			<tr>
    				<td>{{ i[0] }}</td>
    				<td>{{ i[1] }}</td>
    				<td>{{ i[2] }}</td>
                    <td>{{ i[3] }}</td>
                    <td>{{ i[4] }}</td>
                    <td>{{ i[5] }}</td>
                    <td>{{ i[6] }}</td>
                    <td>{{ i[7] }}</td>
    			</tr>
    			{% endfor -%}
		    </table>
	{% endfor -%}
</body>
</html>
