<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Recommendations</title>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>
</head>
<body>
	<center>
		<h1>Generating recommendations</h1>
	</center>
	<p>Time taken to generate recommendations for each user:</p>
	<table>
		<tr>
			<th>user name</th>
			<th>total time taken to generate recommendations (min)</th>
		</tr>
		{% for user_name, user in recommendations.items() -%}
		<tr>
			<td>{{ user_name }}</td>
			<td>{{ user['total-time'] }}m</td>
		</tr>
		{% endfor -%}
	</table>
	<p>Time taken in generating recommendations for all the above listed users: <b>{{ time.total_recommendation_time }}h</b></p>
	<p><b>Note</b>: Total time lapsed data processing and generating recommendations is <b>{{ total_time }}h</b></p>
	<p>Three dataframes namely, users_df, recordings_df, playcounts_df are loaded from HDFS in <b>{{ time.dataframes }}m</b></p>
	<p>user_df can be depicted as:</p>
	<table>
		<col width="80">
		<col width="80">
		<tr>
			<th>user_id</th>
			<th>user_name</th>
		</tr>
	</table>
	<p>recordings_df can be depicted as:</p>
	<table>
		<tr>
			<th>track_name</th>
			<th>recording_msid</th>
			<th>artist_name</th>
			<th>artist_msid</th>
			<th>release_name</th>
			<th>release_msid</th>
			<th>recording_id</th>
		</tr>
	</table>
	<p>playcounts_df can be depicted as :</p>
	<table>
		<col width="80">
		<tr>
			<th>user_id</th>
			<th>recording_id</th>
			<th>count</th>
		</tr>
	</table>
	<p><b>all_recordings: </b>recordings_df (dataframe) is used to create a new dataframe called all_recordings which contains all the recording_ids as contained in recordings_df. Number of elements in all_recordings are equal to number of rows in recordings_df = <b>{{ all_recordings_count }}</b></p>
	<p><i><b>Note: </b>As 'rows' are to dataframes similarily 'elements' are to RDDs</i></p>
	<p>all_recordings can be depicted as: </p>
	<table>
	<col width="80">
		<tr>
			<th>recording_id</th>
		</tr>
		<tr>
			<td>1</td>
		</tr>
		<tr>
			<td>2</td>
		</tr>
		<tr>
			<td>3</td>
		</tr>
	</table>
	<p>Model used to generate recommendations is <b>{{ best_model }}</b> i.e. best model. Time taken to load best model is <b>{{ time.load_model }}m</b></p>
	<p>Sub-steps in generating recommendations for every user are as follows:</p>
	<ul>
		<li><p><b>get_user_id: </b>A query<b>(get_user_id)</b> is processed to get user id from the user name provided for whom the recommendations shall be generated.</p></li>
		<li><p><b>user_playcounts: </b>From the user id retrieved a user-playcounts dataframe is generated for every user, purpose of this dataframe is to get recording_ids of only those tracks that the user has ever listened to. The schema for user-playcounts dataframe is as follows:</p>
		<table>
		<col width="150">
		<tr>
			<th>user_id</th>
			<th>recording_id</th>
			<th>count</th>
		</tr>
		<tr>
			<td>1</td>
			<td>1</td>
			<td>2</td>
		</tr>
		</table>
		<p><i>Since 'rob' has listened to one track of the three tracks ever listened by any user and the recording_id of that track is 1</i></p>
		</li>
		<li>
			<p><b>candidate_recordings: </b>A new dataframe called candidate_recordngs is created by subtracting user_recordings from all_recordings, therefore candidate_recordings will contain recording_ids of only those tracks that the user has <b>never</b> listened to.</p>
			<p>candidate_recordings can be depicted as: </p>
			<table>
			<col width="150">
				<tr>
					<th>recording_id</th>
				</tr>
				<tr>
					<td>2</td>
				</tr>
				<tr>
					<td>3</td>
				</tr>
			</table>
			<p><i>'rob' has never listened to tracks with recording ids as 2 and 3. Therefore, he will be recommedned tracks from amongst these two.</i></p>
			<p>The candiate_recordings dataframe is later converted to an RDD. This RDD would then be used to predict recommendations for a user ensuring only new tracks (tracks that are new to a user) are recommended to a user</p>
		</li>
		<li>
			<p><b>predictAll : </b>candidate_recordings is fed to Spark's inbuilt function 'predictAll' to predict tracks for users from the provided pool of recording_ids. The function returns recommended recording_ids. Let's say recording_id = 3 has been recommeded to 'rob'</p>
		</li>
		<li>
			<p><b>recommendations: </b>The last step is to lookup for information (track_name, artist_name etc) corresponding to the recommended recording_ids which can be retrieved using recordings_df dataframe. The following track will be recommended to 'rob': </p>
			<blockquote>
				<p>['Stand by me', 'b9da2ed1-6291-4b05-9e5e-b87551a8e75f', 'Ben E. King', '837555ba-012e-45f1-9a9c-9628da13ee54', 'Billboard Presents: Family Friendship Classics', '0fede8ca-7b38-455b-bde3-8a098c43031']</p>
			</blockquote>
		</li>
	</ul>
	<p>Following are the recommendations generated for the above listed users: </p>
	{% for user_name, user in recommendations.items() -%}
	<center>
		<h2>Recommendations for <b>{{ user_name }}</b></h2>
	</center>
	<table style="width:100%">
		<tr>
			{% for col in column -%}
			<th>{{ col }}</th>
			{% endfor -%}
		</tr>
		{% for recommended_recordings in user['recordings'] -%}
		<tr>
			{% for entity in recommended_recordings -%}
			<td>{{ entity }}</td>
			{% endfor -%}
		</tr>
		{% endfor -%}
	</table>
	{% endfor -%}
	<p><i><b>Note: </b>Number of rows in a dataframe or number of elements in an RDD (count information) is not included because it leades to unnecessary computation time.</i></p>
</body>
</html>