<div>
    <img src="cid:{{ lb_logo_cid }}" alt="ListenBrainz" style="float: right; margin-left: 4px;" width="180">
</div>
<div>
    <p>
        Dear {{ user_name }},
    </p>
    <p>
        The ListenBrainz team would like to wish you happy holidays!
    </p>
    <p>
        You have been sending us your listen history during 2021 and we wanted to thank you for doing that!
    </p>
    <p>
        We have been working hard to create useful features that are based on your data and we’re proud to
        announce that we’ve created a <a href="{{ year_in_music }}">personalised Year in Music report</a>
        for you. Unlike the report from a certain large streaming service, we don’t indulge in weird fonts
        and too many splashy colours, but we do aim to create more insights to your listening experience
        in 2021.
    </p>
    <p>
        The Year in Music report summarises your statistics of 2021, identifies your most active listening
        day of the week, listening activity over the year, lists users who listen to similar music to you
        and includes up to 4 playlists for you to enjoy.
    </p>
    <p>
        The Top Discoveries of 2021, Tracks Released in 2021 and Top Recordings of 2021 are all playlists
        that review your listening habits of 2021. However, we’ve included one more playlist, the Top Missed
        Recordings playlist, which selects tracks that users similar to you listened to, but you didn’t. This
        is a discovery playlist and it may not flow as smoothly as the other playlists, but we’ve found it
        quite helpful to discover new music that we’ve not listened to yet.
    </p>
    <p>
        We hope that you enjoy your Year in Music review, but we also wanted to point out that we have some
        of these features available on the ListenBrainz web site all year round:
    </p>
    <ul>
        <li>
            <a href="{{ feed }}">User feed page</a>, which shows activity from your friends, including similar
            users, pinned tracks, recommended tracks and more.
        </li>
        <li><a href="{{ statistics }}">Statistics page</a>, which shows your listening statistics.</li>
        <li>
            <a href="{{ feedback }}">Feedback page</a> and <a href="{{ pins }}">pins page</a> which show
            tracks you loved (or hated!)
        </li>
        <li>
            <a href="{{ playlists }}">Playlists, both your own</a> and ones
            <a href="{{ collaborations }}">generated for you</a>
        </li>
    </ul>
    <p>
        In the new year we hope to start generating more playlist recommendations based on your listening
        history – stay tuned for that!
    </p>
    <p>
        Thanks for being part of it – we really appreciate it.
    </p>
    <p>
        Happy Holidays and a Happy New Year!
    </p>
    <p>
        Sincerely,
        <br>
        The ListenBrainz team: akshaaatt, alastairp, lucifer, mayhem and monkey.
    </p>
</div>
