#!/bin/bash

DUMP_THREADS=4
DUMP_BASE_DIR='/mnt/dumps'
PRIVATE_DUMP_BASE_DIR='/private/dumps'

# Where to back things up to, who should own the backup files, and what mode
# those files should have.
# The backups include a full database export, and all replication data.
BACKUP_DIR=/mnt/backup
BACKUP_USER=root
BACKUP_GROUP=root
BACKUP_DIR_MODE=700
BACKUP_FILE_MODE=600

PRIVATE_BACKUP_DIR=/private/backup

# Same but for the files that need to copied to the FTP server,
# for public consumption
FTP_DIR='/mnt/ftp/'
FTP_USER=root
FTP_GROUP=root
FTP_DIR_MODE=755
FTP_FILE_MODE=644


# rsync to FTP server configuration
RSYNC_FULLEXPORT_HOST='10.2.2.28'
RSYNC_FULLEXPORT_PORT='65415'
RSYNC_FULLEXPORT_DIR="$FTP_DIR/fullexport"
RSYNC_INCREMENTAL_DIR="$FTP_DIR/incremental"
RSYNC_FULLEXPORT_KEY='/home/listenbrainz/.ssh/rsync-listenbrainz-dumps-full'
RSYNC_INCREMENTAL_KEY='/home/listenbrainz/.ssh/rsync-listenbrainz-dumps-incremental'
