{% extends 'base.html' %}

{% block title %}Reset token - ListenBrainz{% endblock %}

{% block content %}
  <h3 class="page-title">Reset token</h3>
  <p>Are you sure you want to reset your token? If you do, you will need
  to change it any apps that you have added it to.</p>
  <form method="post">
      <input type="hidden" name="reset" value="yes">
      <p>
         <button type="submit" class="btn btn-info btn-lg" style="width: 200px">Yes, change it</button>
      <p>
  </form>

{% endblock %}
