/* Buttons */

.btn-icon {
  padding: 0.5em;
  font-size: 1.5em;
  height: 2em;
  line-height: 1em;
  border-radius: 5px;
  text-align: center;
  display: inline-block;

  &+* {
    margin-left: 0.4em;
  }
}

.btn-transparent {
  --bs-btn-border-width: 0;
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-hover-color: var(--bs-link-hover-color);
  background: transparent;
  border: none;
  outline: none;
}

.btn-rounded {
  --bs-btn-border-radius: 3em;
}

.btn-small-rounding,
.btn.dropdown-toggle {
  --bs-btn-border-radius: #{$btn-border-radius-lg};
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    --bs-btn-border-radius: #{$btn-border-radius-lg};
  }
}

.btn-link {
  color: var(--bs-link-color);
  border-color: transparent;
  text-decoration: none;

  &:hover {
    color: var(--bs-link-hover-color);
    text-decoration: underline;
  }

  &:focus {
    text-decoration: underline;
  }
}

// Fix button height inside an input group
.input-group>.btn {
  margin: 0;
}
a.btn.btn-outline-info {
  color: var(--bs-body-color);
  border-color: var(--bs-border-color);

  &:hover {
    color: var(--bs-link-hover-color);
    border-color: var(--bs-border-color);
  }
}