@use "sass:map";

.events-explorer-pill-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;

  @media screen and (max-width: map.get($grid-breakpoints, "lg")) {
    justify-content: center;
  }
}

.events-explorer-row {
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.events-page {
  #events-explorer-grids {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.events-explorer-cards-grid {
  display: grid;
  justify-items: center;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(190px, max-content));
}

.events-timeline {
  flex: 0 0;
  display: flex;
  justify-content: center;
  top: 4rem;
  position: sticky;
  padding: 4rem 1rem;
  max-height: calc(100vh - 8em);

  @media (max-width: map.get($grid-breakpoints, "lg")) {
    height: unset;
    width: 100%;
    position: fixed;
    bottom: 0;
    top: calc(100vh - 100px);
    padding: 1rem 2rem 4rem;
    z-index: 50;
    background-color: $white;
    padding-right: 120px; // sidebar button on the right
  }
}

.rc-slider.events-timeline-slider-horizontal .rc-slider-mark-text {
  transform: translateY(4px) rotateZ(45deg) !important;
}

.events-explorer-grid-title {
  padding: 0.3em 0;
  position: sticky;
  top: 0;
  z-index: 90;
  background: $white;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: x-large;
  font-weight: 500;
}

.events-explorer-grid-title::before,
.events-explorer-grid-title::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid $hr-border-color;
}

.events-explorer-grid-title:not(:empty)::before {
  margin-right: 2em;
}

.events-explorer-grid-title:not(:empty)::after {
  margin-left: 2em;
}

.events-explorer-spinner-container {
  margin: 12% 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.no-events {
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  img {
    width: 350px;
    height: 350px;
  }
}

.events-page-container {
  display: flex;
  gap: 1.5em;
  @media screen and (min-width: map.get($grid-breakpoints, "lg")) {
    // make the sidebar flush with the right-hand side on larger sizes
    margin-right: -15px !important;
  }
  .events-page {
    flex: 1;
  }
  .sidebar-events-explorer {
    max-height: 85vh;

    @media screen and (max-width: map.get($grid-breakpoints, "lg")) {
      max-height: calc(100vh - $brainzplayer-height);
    }
  }
}

.sidebar-events-explorer {
  .event-genres {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .event-genre {
    display: inline-block;
    margin: 2px 2px 5px;
    padding: 3px;
  }

  .event-genre-name {
    margin-right: 5px;
    font-weight: 500;
    font-size: 13px;
  }
}
