.lb-follow-button {
  // This isn't named 'follow-button' because some ad blocker rules
  // remove elements with this class name.
  &:not(:first-child) {
    margin-left: 10px;
  }
  font-family: "Sintony", sans-serif;
  color: $white;
  border: 2px solid $blue;
  background: $blue;
  font-weight: bold;
  padding: 5px 8px;
  border-radius: 4px;
  transition: color 0.42s, background 0.42s;
  text-align: center;

  &.icon-only {
    > .text {
      width: 0px;
      margin-left: 0px;
      display: inline-block;
      vertical-align: inherit;
      transition: width 0.42s, margin-left 0.42s;
      overflow-x: hidden;
    }

    &:hover,
    &:focus {
      background: white;
      color: $blue;
      border-color: $blue;

      > .text {
        width: 4.75em;
        margin-left: 5px;
      }
    }
  }

  &.block {
    width: 85px;

    &.following,
    &:hover,
    &:focus {
      background: $white;
      color: $blue;
      border-color: $blue;
    }

    svg {
      display: none;
    }
  }
}

.card-user-sn {
  margin-bottom: 20px;

  hr {
    margin: 0px 2em;
    border-top: 1px solid $hr-border-color;
  }
}

.follower-following-list,
.similar-users-list {
  max-height: 350px;
  padding: 10px;
  overflow-y: auto;
  border-radius: 2px;
  box-shadow: inset 0px 11px 8px -10px $gray-400;

  > * {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 5px 10px;

    > .lb-follow-button {
      margin-left: auto;
    }

    &:not(:first-child) {
      border-top: 1px solid $hr-border-color;
      padding-top: 12px;
    }
  }
}

.follower-following-empty,
.similar-users-empty {
  padding: 10px 20px;
}

.musicbrainz-profile-button {
  color: $white;
  background: $blue;
  padding: 5px 8px;
  border-radius: 4px;
  transition: background 0.42s;
}
