@use "sass:math";

/* Footer */
.footer {
  background: $nav-background-color;
  color: #000000;
  padding-bottom: 10px;
  margin-top: 2rem;
  border-top: 3px solid;
  border-image: linear-gradient(to right, $blue, $gradient-orange) 1;

  ul {
    line-height: 2;
  }

  li {
    vertical-align: middle;
  }
}
