@use "sass:map";

.genre-explorer-main-container {
  display: flex;
  flex-direction: column;

  .genre-explorer-header {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap: 1em;
    padding: 2vh 0;

    @media (max-width: map.get($grid-breakpoints, "sm")) {
      justify-content: space-between;
    }

    .genre-search-box {
      flex-grow: 1;
      max-width: 400px;
    }
  
  }

  .genre-explorer-content {
    flex: 1;
    display: flex;
    position: relative;
    overflow: hidden;

    .genre-graph-container {
      flex: 1;
      height: calc(100vh - $brainzplayer-height);
      max-height: 1120px;
      overflow: auto;

      .genre-graph-node {
        cursor: pointer;

        .centered-text {
          padding: 0 4px;
          overflow: hidden;
          display: flex;
          align-items: center;
          text-align: center;
          height: inherit;

          .centered-text-inner {
            width: 100%;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.1em;
            overflow-wrap: break-word;
            hyphens: auto;
          }
        }
      }
    }

    .sidebar-header {
      background: #353070;
      color: white;
      padding-top: 20px;

      p {
        font-size: 25px;
        font-weight: 900;
        margin-bottom: 5px;
      }
    }

    .genre-panel-info {
      padding: 1rem;
      height: min(fit-content, 200px);
      #genre-wiki {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        height: 70%;
        overflow: hidden;
        mask-image: linear-gradient(180deg, #000 60%, transparent);
        -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
      }

      .genre-mb-link {
        text-align: end;
        padding: 0.5em 0;

        #genre-mb-link-button {
          font-size: 14px;
          background-color: $blue;
          border: none;
          border-radius: 4px;
          color: $white;
          padding: 0.5em;
          text-decoration: none;
        }
      }
    }

    .spinner-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }

  .genre-playlist {
    padding: 20px;
  }

  .playlist-loader {
    margin-top: 20px;
  }
}
