@use "sass:map";
@use 'sass:color';

/* latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../../fonts/Inter.woff2") format("woff2");
}

@property --gradientColor1 {
  syntax: "<color>";
  initial-value: magenta;
  inherits: false;
}

@property --gradientColor2 {
  syntax: "<color>";
  initial-value: #00ff00;
  inherits: false;
}

$coverflow-image-height: 400px;

#year-in-music {
  // For coverflow arrow colors
  --swiper-theme-color: #{$blue};
  margin-left: -1em;
  margin-right: -1em;
  background: linear-gradient(
      to right,
      var(--gradientColor1),
      var(--gradientColor2)
    ),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 398 398' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='5.77' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  transition: --gradientColor1 1.5, --gradientColor2 1.5;
  background-blend-mode: multiply;

  .accent {
    color: $orange;
  }
  > .row > * {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
  }
  .flex > .content-card {
    min-width: 355px;
    height: auto;
  }

  .listen-card {
    color: initial;
    .badge {
      line-height: 1.5em;
      margin-right: 1em;
      background-color: $blue;
      align-self: center;
    }
  }

  #header {
    align-items: center;
    #share-link {
      font-size: 0.7em;
    }
  }
  .graph-container {
    overflow-x: auto;
    .graph {
      min-width: min(700px, 100%);
      width: 100%;
    }
  }

  #calendar,
  #most-listened-year,
  #user-artist-map {
    > h3 {
      padding: 0.6em;
    }
    .graph-container {
      overflow: visible;
    }
  }
  #calendar .graph {
    height: 200px;
    @media (min-width: map.get($grid-breakpoints,"md")) {
      height: 250px;
    }
  }
  #most-listened-year .graph {
    height: 300px;
  }

  #top-entities .listen-card.row {
    margin-right: 0;
    margin-left: 0;
  }
  #user-artist-map .graph {
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    .user-artist-map {
      width: 100%;
      max-height: 70vw;
      height: auto;
      > div {
        min-height: 300px;
        max-height: 700px;
      }
    }
  }
  #top-albums .swiper {
    width: 100%;
    perspective: 900px;
    background-color: whitesmoke;

    .swiper-wrapper {
      padding: 1em 0;
      align-items: center;
    }
    .swiper-slide {
      max-width: $coverflow-image-height;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      > img {
        width: inherit;
        box-shadow: $card-box-shadow;
      }
      > div {
        // center text in album title + artist name container
        text-align: center;
        margin-top: 0.5em;
      }
    }
  }

  /* "Save as image" component */
  #savable-release-component {
    width: 500px;
    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      align-items: center;
      justify-items: center;
      img {
        max-width: 100%;
      }
    }
  }
  .savable-card {
    width: 450px;
    display: none;
    padding: 1rem;
    box-shadow: unset !important;
    .card-img-top {
      max-width: 60%;
    }
    .card-img-bottom {
      width: 45%;
    }
    .card-footer {
      padding: 1rem;
    }
    .list-container {
      text-align: initial;
      padding: 2rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      .listen-card {
        box-shadow: unset !important;
        margin: 0;
        a {
          color: inherit !important;
        }
        .right-section {
          display: none;
        }
        .main-content {
          padding: 0;
          .listen-thumbnail {
            margin: 0px 10px 0px 0px;
          }
        }
      }
    }
  }

  /* Main header section at the top with logo */
  #main-header {
    padding: 3em 2em 0;
  }
  .no-yim-message {
    margin: 4vh auto;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 24px;
    max-width: 480px;
  }
  .header {
    margin-bottom: 1em;
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: var(--headerColor);
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    @media (max-width: map.get($grid-breakpoints,"sm")) {
      font-size: 38px;
      .subheader {
        font-size: 20px;
      }
    }
    .subheader {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
    }
  }
  .link-section {
    padding: 0 1em;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
  }
  .button {
    width: 2em;
    height: 2em;
    border-radius: 3px;
  }
  .yim-share-button-container {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .yim-share-button {
    border: none;
    width: 2.2em;
    height: 2.2em;
  }
  .flex > .content-card {
    min-width: 300px;
    height: auto;
  }
  .cover-art-mosaic {
    width: 100vw;
    max-height: 42em;
  }

  .small-cards-container {
    margin-top: 1.5em;
    > * {
      min-width: calc(100vw - 60px);
      margin-bottom: 1em;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 24px;
      line-height: 1.3;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .cover-art-composite {
    padding-left: 0;
    padding-right: 0;
    .composite-image img {
      width: 100%;
      content-visibility: auto;
    }
  }
  .closing-remarks {
    padding: 3em 2em;
    font-size: 1.3em;
    color: var(--headerColor);
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    text-align: center;
    .bold {
      font-weight: 400;
    }
    a,
    a:visited,
    a:hover {
      color: inherit;
      text-decoration: underline;
      font-weight: 300;
    }
  }

  .share-modal .modal-body {
    overflow-x: auto;
  }
  .alert {
    margin: 0;
    padding: 2em;
  }

  .btn {
    border-radius: 5px;
  }
  #main-header {
    background: unset;
    text-align: center;
    .header-image {
      position: relative;
      max-width: min(90vw, 900px);
      aspect-ratio: 4.5;
      padding: 1.5em;
      margin-left: auto;
      margin-right: auto;
      // @media (max-width: map.get($grid-breakpoints,"sm")) {
      //   min-height: 20vh;
      // }
      > img {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  #discovery-playlist,
  #missed-playlist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .heading .img-header {
      max-width: 450px;
      max-width: min(80%, 450px);
    }
  }
  #overview object {
    max-width: min(500px, 90%);
    height: auto;
  }
  #buddies {
    display: flex;
    justify-items: center;
    align-items: center;
    .card-container {
      flex: 1;
      scroll-snap-type: x mandatory;
    }
    .buddy {
      scroll-snap-align: start;
      text-align: center;
      max-width: fit-content;
      .value {
        overflow-wrap: anywhere;
        font-size: 1.5em;
      }
      .img-container {
        display: flex;
        width: 270px;
        height: 270px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .link-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    input.form-control {
      height: 2.8rem;
    }
  }
  .header .subheader {
    margin-top: 1rem;
  }
  .yim-share-button,
  .btn-info {
    color: var(--headerColor);
    &:hover {
      background-color: color.adjust($blue, $lightness: 6%, $space: hsl);
    }
  }
  .lb-follow-button {
    border: none;
  }
  .user-name {
    line-break: anywhere;
    color: var(--headerColor);
  }
  .user-name,
  .hashtag {
    text-transform: uppercase;
    letter-spacing: 1em;
    font-size: 2em;
    font-weight: 900;
    font-family: "Inter", "Roboto", sans-serif;
    text-align: center;
    @media (max-width: map.get($grid-breakpoints,"sm")) {
      letter-spacing: 1rem;
    }
  }
  .color-picker {
    position: relative;
    gap: 1em;
    padding: 2rem;
    display: inline-flex;
    justify-content: center;
    margin: auto;
    .pick-color-caption {
      position: absolute;
      left: max(-15vw, -180px);
      top: -15px;
    }
    .color-selector {
      width: 2em;
      height: 2em;
      border-radius: 50%;
    }
  }

  .graph-container {
    border-radius: 8px;
    overflow: hidden;
    .graph {
      color: var(--selectedColor);
      overflow-x: auto;
      overflow-y: hidden;
      > * {
        min-width: 550px;
      }
    }
  }
  .swiper,
  .similar-users-list,
  .graph-container {
    background-color: var(--cardBackgroundColor);
  }
  .masked-image {
    display: inline-block;
    background-color: var(--selectedColor);
    mask-size: 98%; /* edges might get cut off if you use 100% */
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: 98%; /* edges might get cut off if you use 100% */
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    > img {
      opacity: 0;
      display: block;
    }
  }
  .section {
    margin-top: 4em;
    margin-bottom: 2em;
  }
  .small-stats {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    padding: 3em;
    > .small-stat {
      flex: 1 max(28%, 200px);
    }
  }
  .small-stat {
    font-size: 1.8rem;
    text-align: center;
    font-weight: lighter;
    font-family: "Roboto", sans-serif;
    .value {
      position: relative;
      font-size: 2.3em;
      font-weight: 600;
      line-height: 1.5;
      margin-bottom: 0.2em;
      &:not(:last-child)::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: calc(50% - 1.5em);
        width: 3em;
        height: 1px;
        border-bottom: 1px solid var(--accentColor);
      }
    }
  }
  .scrollable-area {
    max-height: 500px;
    overflow-y: auto;
    position: relative;
    scrollbar-width: thin;
    &::after {
      content: " ";
      width: 100%;
      position: sticky;
      display: block;
      bottom: -10px;
      height: 50px;
      background: linear-gradient(
        0deg,
        var(--cardBackgroundColor),
        transparent
      );
    }
  }

  --cardBackgroundColor: #fefff5;
  --accentColor: $blue;
  --headerColor: var(--cardBackgroundColor);
  --selectedColor: var(--accentColor);
  --swiper-navigation-color: var(--accentColor);
  --buttonCollor: var(--accentColor);

  color: var(--accentColor);
  .card-bg {
    background: var(--cardBackgroundColor);
    border-radius: 8px;
  }
  .content-card {
    // margin-right: 15px;
    // margin-left: 15px;
    margin-inline: 4em;
    border: 1px solid var(--headerColor); // fallback
    border: 1px solid color-mix(in srgb, var(--headerColor) 50%, transparent);
    border-radius: 8px;
    > * {
      padding: 0.6em;
      margin-inline: -4em;
    }
    position: relative;
    background: transparent;
    box-shadow: none;
    color: var(--accentColor);
    z-index: 0;
    display: flex;
    flex-direction: column;
    padding: 1em;
    .heading {
      // min-height: 300px;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      line-height: 56px;
      color: var(--headerColor);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // aspect-ratio: 1;
      .img-header {
        padding: 0.5rem;
        margin-bottom: auto;
        margin-top: auto;
        width: 100%;
        max-width: 400px;
        max-width: min(60%, 400px);
        min-width: 200px;
      }
      @media (max-width: map.get($grid-breakpoints,"sm")) {
        font-size: 38px;
      }
    }
    h3,
    h4 {
      color: var(--headerColor);
      font-weight: 700;
      margin-inline: initial;
      text-align: center;
      a {
        color: inherit;
        font-weight: initial;
      }
    }
  }
  .small-stat {
    font-weight: 300;
  }
  .btn-info,
  .yim-share-button {
    background-color: var(--buttonCollor);
  }
  .swiper,
  .graph-container {
    background-color: var(--backgroundColor);
  }
}
