#stats-art-creator {
  display: flex;
  gap: 15px;
  margin-right: -15px;
  margin-top: -$nav-bottom-padding;

  .artwork-container {
    margin: auto;
    padding: 15px 0;
    text-align: center;
  }

  .stats-art-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
    justify-items: center;
    justify-content: center;

    .gallery-tile {
      max-width: 100px;
      border: none;
      pointer-events: none;

      &.selected {
        border: 3px solid $orange;
      }
    }
  }

  .custom-presets-panel {
    margin-bottom: 4px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    max-height: 140px;
    overflow-y: scroll;
    padding: 0px 15px 30px 4px;
    align-items: start;
    justify-items: center;

    @supports not selector(::-webkit-scrollbar) {
      scrollbar-width: thin;
      scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
    }

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.2);
      border-radius: 2px;
    }

  }

  .settings-navbar {
    margin-left: auto;
    max-width: 320px;
    overflow-y: scroll;

    @supports not selector(::-webkit-scrollbar) {
      scrollbar-width: thin;
      scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
    }

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.2);
      border-radius: 2px;
    }
  }

  /*Color Picker*/
  .color-picker {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: none;
    cursor: pointer;

    .color-half {
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;

      &:first-child {
        left: 0;
      }

      &:last-child {
        left: 50%;
      }
    }
  }

  .custom-preset-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 24px;
    width: 24px;

    &.preset-selected {
      box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #194b9d;
      z-index: 1;
    }

    .delete-preset-btn {
      position: absolute;
      top: -5px;
      right: -5px;
      border-radius: 50%;
      border: none;
      color: #1e3050;
      font-size: 14px;
      cursor: pointer;
      opacity: 0;
      transition: opacity 0.2s ease-in-out, transform 0.1s;
      padding: 0;
      width: 14px;
      height: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      z-index: 2;
    }

    &:hover .delete-preset-btn {
      opacity: 1;
    }
  }

  .save-preset-btn {
    border-radius: 5px;
  }

  .preview {
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: min(700px, 55vw);
    aspect-ratio: 1;
    height: auto;
  }

  select.borderless {
    background: transparent;
    border: none;
    font-weight: bold;
  }

  .cl-toggle-switch {
    position: relative;
  }

  .cl-switch {
    position: relative;
    display: inline-block;
    padding-left: 0;

    /* Input */
    >input {
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      z-index: -1;
      position: absolute;
      right: 6px;
      top: -8px;
      display: block;
      margin: 0;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background-color: rgba(0, 0, 0, 0.38);
      outline: none;
      opacity: 0;
      transform: scale(1);
      pointer-events: none;
      transition: opacity 0.3s 0.1s, transform 0.2s 0.1s;

      /* Checked */
      &:checked {
        right: -10px;
        background-color: $gray-600;
      }

      &:focus {
        opacity: 0.12;
      }

      /* Active */
      &:active {
        opacity: 1;
        transform: scale(0);
        transition: transform 0s, opacity 0s;
      }

      &:checked+span::before {
        background-color: $black;
      }

      &:checked+span::after {
        background-color: $gray-600;
        transform: translateX(10px);
      }

      &:active+span::before {
        background-color: $gray-600;
      }

      &:checked:active+span::before {
        background-color: $black;
      }

      /* Disabled */
      &:disabled {
        opacity: 0;
      }

      &:disabled+span::before {
        background-color: $gray-300;
      }

      &:checked:disabled+span::before {
        background-color: #bfdbda;
      }

      &:checked:disabled+span::after {
        background-color: $black;
      }
    }

    /* Track */
    >span::before {
      content: "";
      display: inline-block;
      margin: 5px 0 5px 10px;
      border-radius: 7px;
      width: 18px;
      height: 9px;
      background-color: rgb(0, 0, 0, 0.38);
      vertical-align: top;
      transition: background-color 0.2s, opacity 0.2s;
    }

    /* Thumb */
    >span::after {
      content: "";
      position: absolute;
      top: 4px;
      right: 10px;
      border-radius: 50%;
      width: 11px;
      height: 11px;
      background-color: #fff;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      transition: background-color 0.2s, transform 0.2s;
    }

    /* Hover, Focus */
    &:hover>input {
      opacity: 0.04;

      &:focus {
        opacity: 0.16;
      }
    }
  }

  #share-button-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    margin-top: 1em;
    margin-bottom: 1em;

    .profile,
    .share-buttons {
      flex: 1;
      flex-basis: 300px;
      justify-content: left;

      >.btn-link>span {
        margin-right: 0.2em;
        font-size: 14px;
      }
    }

    .profile {
      text-align: left;
    }

    .link-container {
      min-width: 150px;
      height: 3em;
      margin-left: 0.6em;
      margin-right: auto;

      >input {
        text-overflow: ellipsis;
        border-radius: 5px 0 0 5px;
        height: inherit;
      }

      >span {
        height: inherit;

        >button {
          height: inherit;
          border-radius: 0 5px 5px 0;
          line-height: 1em;

          >svg {
            font-size: 1.5em;
          }
        }
      }
    }
  }

  input[type="color"] {
    padding: 0;
    max-width: 5em;
  }

  .input-group {
    flex-wrap: nowrap;

    .input-group-text {
      font-size: 1.4rem;
    }
  }
}