.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: $gray-600;
  border-radius: 16px;
  width: 42px;
  height: 14px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}

.toggle-switch:before,
.toggle-switch:after {
  content: "";
}

.toggle-switch:before {
  display: block;
  background: #d9d9d9;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 20px;
  height: 20px;
  position: absolute;
  top: -3px;
  left: 0px;
  transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
  background: #d9d9d9;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.toggle-checkbox:checked + .toggle-switch {
  background: $gray-900;
}

.toggle-checkbox:checked + .toggle-switch:before {
  left: 23px;
  background: $gray-600;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 10px;
  position: relative;
  font-weight: 400;
  vertical-align: middle;
}

.theme-toggle-btn {
  background: none;
  border: none;
  width: 100%;
  text-align: right;

  padding: 0px;
  margin-top: 4px;
  margin-bottom: 2px;

  font-size: 14px;
  font-weight: 500;
  color: var(--bs-body-color);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  transition: background-color 0.15s ease, color 0.15s ease;

  &:focus {
    outline: none;
  }
}
