{% extends 'base.html' %}

{% block title %}Delete listens - ListenBrainz{% endblock %}

{% block content %}
<h3 class="page-title">Delete your listens</h3>
<p>Hi {{ user.musicbrainz_id }}, are you sure you want to delete listens imported into your ListenBrainz account? </p>

<p>
    Once deleted, all your listens data will be removed PERMANENTLY.
</p>

<p> Note: you can export your ListenBrainz data before deleting your listens. </p>

<form action="{{url_for("profile.export_data")}}" method='POST'>
    <button class="btn btn-warning btn-lg" type="submit" style="width: 250px">Export my listens.</button>
</form>
<br>
<p>
    Yes, I am sure I want to erase my entire listening history
</p>
<form method="post">
    {{ form.hidden_tag() }}
    <button id="btn-delete-listens" class="btn btn-danger btn-lg" style="width: 250px">Delete my listens.</button>
</form>
{% endblock %}