{% extends 'base.html' %}

{% block title %}User "{{ user.musicbrainz_id }}" - ListenBrainz{% endblock %}

{% block content %}
  <div id="user-profile">
    <h2 class="page-title">{{ user.musicbrainz_id }}</h2>

    <h3> Delete your account </h3>

    <p>
      <a href="{{ url_for("profile.delete") }}" style="color: white;"><span class="btn btn-info btn-lg" style="width: 300px">Delete your account</span></a>
    </p>

    <h3> Reset Last.FM Import timestamp </h3>
    <p>
      If you think that a partial import has somehow missed some listens, you may reset your previous
      import timestamp. This will cause your next import to be a complete import which should add any
      missing listens while still avoiding adding duplicates to your history.
    </p>

    <p>If you want to reset your previous import timestamp, click below</p>
    <p>
      <span class="btn btn-info btn-lg" style="width: 300px"><a href="{{ url_for("profile.reset_latest_import_timestamp") }}" style="color: white;">Reset Import Timestamp</a></span>
    </p>

    <h3>User token</h3>
    <p>
      If you would like to use an external program to submit data to ListenBrainz you will need the following
      user token:
    </p>

    <div class="form-inline form-group">
      <input class="form-control" id="auth-token" type="text" size="36" value="{{ user.auth_token }}" readonly>
      <button class="btn btn-info btn-sm glyphicon glyphicon-copy" id="copy-token" title="Copy token to clipboard"></button>
    </div>

    <p>If you want to reset your token, click below</p>
    <p>
      <span class="btn btn-info btn-lg" style="width: 200px"><a href="{{ url_for("profile.reset_token") }}" style="color: white;">Reset token</a></span>
    </p>

    <h3> Request Statistics Calculation </h3>

    {% if in_stats_queue %}
      <p>
        You are already present in our statistics calculation queue. We are trying to calculate
        your statistics as quickly as possible. Please wait!
      </p>
    {% elif stats_exist %}
      <p>
        Your statistics were calculated in the latest statistics calculation interval. Please wait until our next batch of statistics calculation. We update user statistics every Monday at 00:00 UTC automatically.
      </p>
    {% else %}
      <p>
        You can make a request to get your statistics calculated. This will put you into a queue
        that tracks users whose stats need to be calculated. We will then calculate your statistics
        as soon as possible.
      </p>
      <p>
        <span class="btn btn-info btn-lg" style="width: 200px"><a href="{{ url_for("profile.request_stats") }}" style="color: white;">Request stats</a></span>
      </p>
    {% endif %}

  </div>

{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/info.js') }}"></script>
{% endblock %}
