{% extends 'base.html' %}

{% block title %}User "{{ user.musicbrainz_id }}" - ListenBrainz{% endblock %}

{% block content %}
  <div id="user-profile">
    <h2 class="page-title">{{ user.musicbrainz_id }}</h2>

    <h3>User token</h3>
    <p>
      If you would like to use an external program to submit data to ListenBrainz, you will need the following user token:
    </p>

    <p>
    <form class="form-inline">
      <input type="password" class="form-control" id="auth-token" style="width: 400px; height:30px;" value="{{ user.auth_token }}" readonly />
      <button type="button" class="btn btn-info glyphicon glyphicon-eye-open" id="show-hide-token" style="width: 50px; height:30px; top: 0px;" title="Show user token"></button>
      <button type="button" class="btn btn-info" id="copy-token" style="width: 90px; height:30px;" title="Copy user token">Copy</button>
    </form>
    </p>

    <p>If you want to reset your token, click below</p>
    <p>
      <span class="btn btn-info btn-lg" style="width: 200px"><a href="{{ url_for("profile.reset_token") }}" style="color: white;">Reset token</a></span>
    </p>

    <h3>Select Timezone</h3>
    <p>
      Your current timezone is <b>{{ user_setting.timezone_name }}</b>.
      <br>Please select an appropriate timezone so that we may associate a timezone with your listens and know when to generate recommendations for you.
    </p>

    <p>
      <span class="btn btn-info btn-lg" style="width: 300px"><a href="{{ url_for("profile.select_timezone") }}" style="color: white;">Select Timezone</a></span>
    </p>

    <h3>Playlist Preferences</h3>
    <p>You can configure your playlist preferences like exporting playlists to external music services etc.</p>

    <p>
      <span class="btn btn-info btn-lg" style="width: 300px"><a href="{{ url_for("profile.set_troi_prefs") }}" style="color: white;">Playlist Preferences</a></span>
    </p>

    <h3> Reset Last.FM Import timestamp </h3>
    <p>
      If you think that a partial import has somehow missed some listens, you may reset your previous
      import timestamp. This will cause your next import to be a complete import which should add any
      missing listens while still avoiding adding duplicates to your history.
    </p>

    <p>If you want to reset your previous import timestamp, click below</p>
    <p>
      <span class="btn btn-info btn-lg" style="width: 300px"><a href="{{ url_for("profile.reset_latest_import_timestamp") }}" style="color: white;">Reset Import Timestamp</a></span>
    </p>

    <h3> Delete your listens </h3>
    <p>
      This will delete all your listens imported into Listenbrainz.
    </p>

    <p>
      <a href="{{ url_for("profile.delete_listens") }}" style="color: white;"><span class="btn btn-info btn-lg" style="width: 300px">Delete your listens</span></a>
    </p>

    <h3> Delete your account </h3>
  </div>

<a href="{{ url_for("profile.delete") }}">
<button id="delete-account"
        class="btn btn-info btn-lg" style="width: 300px; position: relative; z-index: 2">
  Delete my account
</button>
</a>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/info.js') }}"></script>
{% endblock %}
