{% extends 'user/settings.html' %}

{% block title %}User "{{ user.musicbrainz_id }}" - ListenBrainz{% endblock %}

{% block settings_content %}
  <div id="user-profile">
    <h2 class="page-title">{{ user.musicbrainz_id }}</h2>

    <h3>User token</h3>
    <p>
      If you would like to use an external program to submit data to ListenBrainz, you will need the following user token:
    </p>

    <p>
    <form class="form-inline">
      <input type="password" class="form-control" id="auth-token" style="width: 400px; height:30px;" value="{{ user.auth_token }}" readonly />
      <button type="button" class="btn btn-info glyphicon glyphicon-eye-open" id="show-hide-token" style="width: 50px; height:30px; top: 0px;" title="Show user token"></button>
      <button type="button" class="btn btn-info" id="copy-token" style="width: 90px; height:30px;" title="Copy user token">Copy</button>
    </form>
    </p>

    <p>If you want to reset your token, click below</p>
    <p>
      <span class="btn btn-info btn-lg" style="width: 200px"><a href="{{ url_for("profile.reset_token") }}" style="color: white;">Reset token</a></span>
    </p>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/info.js') }}"></script>
{% endblock %}
