{% from 'macros.html' import print_message %}

<!DOCTYPE html>
<html>
<head>
  {%- block head -%}
    <meta charset="utf-8" />
    <title>{% block title %}ListenBrainz{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16.png') }}" type="image/png" />
    <link rel="icon" sizes="256x256" href="{{ url_for('static', filename='img/favicon-256.png') }}" type="image/png" />
    <link rel="icon" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32.png') }}" type="image/png" />

    {% if config.COMPILE_LESS %}
      <link href="{{ url_for('static', filename='css/main.less') }}" rel="stylesheet/less" type="text/css" />
      <script src="{{ url_for('static', filename='js/lib/less.min.js') }}"></script>
    {% else %}
      <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" media="screen" />
    {% endif %}
  {%- endblock -%}
</head>

<body>
  {%- include 'navbar.html' -%}

  <div class="container">

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% for category, message in messages %}
        {{ print_message(message, category) }}
      {% endfor %}
    {% endwith %}

    {%- block wrapper -%}
    <div class ="wrapper">

      {%- block content -%}
      <!-- Page content -->
      {%- endblock -%}
    </div>
    {%- endblock -%}

    {%- block footer -%}
    <div class="footer">
      <hr />
        <ul class="list-inline pull-left">
          <li><a href="http://blog.musicbrainz.org/category/listenbrainz/">Blog</a></li>
          <li><a href="https://twitter.com/ListenBrainz">Twitter</a></li>
          <li><a href="https://github.com/metabrainz/listenbrainz-server/">GitHub</a></li>
          <li><a href="http://tickets.musicbrainz.org/browse/LB">Bug Tracker</a></li>
          <li><a href="{{ url_for("index.current_status") }}">Status</a></li>
        </ul>
        <ul class="list-inline pull-right">
          <li><a href="https://metabrainz.org" title="MetaBrainz"><img src="{{ url_for('static', filename='img/MetaBrainz_logo_no_text.svg') }}" /></a></li>
        </ul>
      </div>
    {%- endblock -%}
  </div>

  {%- block scripts -%}
    <script src="{{ url_for('static', filename='js/lib/jquery-2.1.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
  {%- endblock -%}
</body>
</html>
