<section class="footer border-top">
    <div class="container-fluid">
        <div class="row mb-4 mt-2 pt-2">
            <div class="col-md-6">
                <h3 class="ms-3">
                    <img src="{{ url_for('static', filename='img/listenbrainz-logo.svg') }}" width="196" alt="ListenBrainz"/>
                </h3>
                <br />
                <p class="ms-3">
                    You can use ListenBrainz to track your listening habits, discover new music with personalized recommendations, and share your musical taste with others using our visualizations.
                </p>
                <ul class="list-unstyled ms-3">
                    <li>
                <span>
                  Development IRC:
                </span>
                        <a
                                class="fw-bold ms-1"
                                href="https://kiwiirc.com/nextclient/irc.libera.chat/?#metabrainz"
                                rel="noopener noreferrer"
                                target="_blank"
                        >
                            #metabrainz
                        </a>
                    </li>
                <span>
                  Forums:
                </span>
                        <a
                                class="fw-bold  ms-1"
                                href="https://community.metabrainz.org"
                                rel="noreferrer"
                                target="_blank"
                        >
                            community.metabrainz.org
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3">
                <h3 class="ms-3">
                    Fellow Projects
                </h3>
                <ul class="list-style-type">
                    <li class="pt-2 pb-2">
                        <img
                                alt="MusicBrainz"
                                class="me-1"
                                height="24"
                                src="{{ url_for('static', filename='img/meb-icons/MusicBrainz.svg') }}"
                                width="24"
                        />
                        <a
                                class="fw-bold "
                                href="https://musicbrainz.org/"
                                rel="noopener noreferrer"
                                target="_blank"
                        >
                            MusicBrainz
                        </a>
                    </li>
                    <li class="pb-2">
                        <img
                                alt="CritiqueBrainz"
                                class="me-1"
                                height="24"
                                src="{{ url_for('static', filename='img/meb-icons/CritiqueBrainz.svg') }}"
                                width="24"
                        />
                        <a
                                class="fw-bold "
                                href="https://critiquebrainz.org/"
                                rel="noopener noreferrer"
                                target="_blank"
                        >
                            CritiqueBrainz
                        </a>
                    </li>
                    <li class="pb-2">
                        <img
                                alt="Picard"
                                class="me-1"
                                height="24"
                                src="{{ url_for('static', filename='img/meb-icons/Picard.svg') }}"
                                width="24"
                        />
                        <a
                                class="fw-bold "
                                href="https://picard.musicbrainz.org/"
                                rel="noopener noreferrer"
                                target="_blank"
                        >
                            Picard
                        </a>
                    </li>
                    <li class="pb-2">
                        <img
                                alt="BookBrainz"
                                class="me-1"
                                height="24"
                                src="{{ url_for('static', filename='img/meb-icons/BookBrainz.svg') }}"
                                width="24"
                        />
                        <a
                                class="fw-bold "
                                href="https://bookbrainz.org/"
                                rel="noopener noreferrer"
                                target="_blank"
                        >
                            BookBrainz
                        </a>
                    </li>
                    <li>
                        <img
                                alt="CoverArtArchive"
                                class="me-1"
                                height="24"
                                src="{{ url_for('static', filename='img/meb-icons/CoverArtArchive.svg') }}"
                                width="24"
                        />
                        <a
                                class="fw-bold "
                                href="https://coverartarchive.org"
                                rel="noopener noreferrer"
                                target="_blank"
                        >
                            Cover Art Archive
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-2">
                <h3 class="ms-3">
                    Useful Links
                </h3>
                <ul class="list-style-type">
                    <li class="pt-2 pb-2">
                        <a
                                class="fw-bold "
                                href="https://metabrainz.org/donate"
                                rel="noopener noreferrer"
                                target="_blank"
                        >
                            Donate
                        </a>
                    </li>
                    <li class="pb-2">
                        <a
                                class="fw-bold "
                                href="https://wiki.musicbrainz.org/Main_Page"
                                rel="noopener noreferrer"
                                target="_blank"
                        >
                            Wiki
                        </a>
                    </li>
                    <li class="pb-2">
                        <a
                                class="fw-bold"
                                href="https://blog.metabrainz.org/"
                                rel="noopener noreferrer"
                                target="_blank"
                        >
                            Blog
                        </a>
                    </li>
                    <li class="pb-2">
                        <a
                                class="fw-bold "
                                href="https://www.redbubble.com/people/metabrainz/shop"
                                rel="noopener noreferrer"
                                target="_blank"
                        >
                            Shop
                        </a>
                    </li>
                    <li>
                        <a
                                class="fw-bold "
                                href="https://metabrainz.org/contact"
                                rel="noopener noreferrer"
                                target="_blank"
                        >
                            Contact us
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mt-4 ms-3 me-3">
            <div class="col-md-3 border-top pt-4 d-none d-md-block">
                <p>
                    OSS Geek?
                    <a
                            href="https://github.com/metabrainz/musicbrainz-server"
                            rel="noopener noreferrer"
                            target="_blank"
                    >
                <span>
                  Contribute here
                </span>
                    </a>
                </p>
            </div>
            <div class="col-md-6 border-top pt-4 text-center">
                Brought to you by <img src="{{ url_for('static', filename='img/meb-icons/MetaBrainz.svg') }}" width="30" height="30" alt="MetaBrainz"/> <span> MetaBrainz Foundation </span>
            </div>
            <div class="col-md-3 border-top pt-4 d-none d-md-block">
                <p>
                    Found an Issue?
                    <a
                            class="ms-1"
                            href="https://tickets.metabrainz.org/"
                            rel="noopener noreferrer"
                            target="_blank"
                    >
                <span>
                  Report it here
                </span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>
