{% macro print_message(message, category) %}
  {% if category == "error" %}
    {% set alert_class="alert-danger" %}
  {% elif category == "warning" %}
    {% set alert_class="alert-warning" %}
  {% elif category == "success" %}
    {% set alert_class="alert-success" %}
  {% else %} {# info & default #}
    {% set alert_class="alert-info" %}
  {% endif %}

  <div class="alert {{ alert_class }}">{{ message }}</div>
{% endmacro %}

{% macro service_permission_button(user, connect_link, disconnect_link, text, current) %}
    <p class="text-center">
        {% if not user %}
            <button type="button" onclick="connect('{{ connect_link }}')" class="btn btn-lg btn-block btn-info">
                {{ text }}
            </button>
        {% elif user["current_permission"] == current %}
            <button type="button" onclick="disconnect('{{ disconnect_link }}')" class="btn btn-lg btn-block btn-success">
                {{ text }}
            </button>
        {% else %}
            <button type="button" onclick="reconnect('{{ disconnect_link }}', '{{ connect_link }}')" class="btn btn-lg btn-block btn-info">
                {{ text }}
            </button>
        {% endif %}
    </p>
{% endmacro %}
