<nav role="navigation">
  
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#side-nav,#side-nav-overlay">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-logo" href="{{ url_for('user.profile', user_name=current_user.musicbrainz_id) if current_user.is_authenticated else url_for('index.index') }}">
      <img src="{{ url_for('static', filename='img/navbar_logo.svg') }}" alt="ListenBrainz" height="31"/>
    </a>
  </div>
  
  {#- Collect the nav links, forms, and other content for toggling -#}
  
  {% if not hide_navbar_user_menu %}
  <div id="side-nav" class="collapse">
    <a class="navbar-logo" href="{{ url_for('user.profile', user_name=current_user.musicbrainz_id) if current_user.is_authenticated else url_for('index.index') }}">
      <img src="{{ url_for('static', filename='img/listenbrainz_logo_icon.svg') }}" alt="ListenBrainz" />
    </a>
    <div class="main-nav">
      {% if current_user.is_authenticated %}
      <a href="{{ url_for('index.feed') }}" {{ 'class=active' if active_page == 'feed'}}>Feed</a>
      <a href="{{ url_for('user.profile', user_name=current_user.musicbrainz_id) }}"  {{ 'class=active' if active_page=='profile' and my_profile }}>Profile</a>
      {% else %}
      <a href="{{ url_for('index.recent_listens') }}" {{ 'class=active' if active_page == 'feed'}}>Feed</a>
      <a href="{{ url_for('index.stats') }}"  {{ 'class=active' if active_page=='profile' }}>Profile</a>
      {% endif %}
      <a href="{{ url_for('explore.index') }}"  {{ 'class=active' if active_page=='explore' }}>Explore</a>
    </div>

    <div class="navbar-bottom">
      {% if current_user.is_authenticated and not current_user.is_anonymous %}
      <a href="{{ url_for('login.logout') }}">Logout</a>
      <a href="{{ url_for('profile.info') }}">
        Preferences
      </a>
        {% else %}
        <a href="{{ url_for('login.index') }}">Sign in</a>
      {%- endif -%}
      <a href="{{ url_for('index.about') }}">About</a>
      <a href="https://community.metabrainz.org/c/listenbrainz" target="_blank" rel="noopener noreferrer">Community</a>
      <form class="search-bar" role="search" method="GET" action="/search">
          <input type="text" name="search_term" class="form-control input-sm" placeholder="Search" required>
        <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
      </form>
    </div>
  </div>
  <div id="side-nav-overlay" class="collapse" data-toggle="collapse" data-target="#side-nav,#side-nav-overlay"></div>
  {% endif %}
  </div>
</nav>
