.user-icon-container {
    width: 5%;
    height: 35px;
    align-items: center;
    justify-content: center;
    background-color: #342f6c;
    color: white;
    border-radius: 5px;
    margin-right: 5px;
    outline: none;
    border: none;
}

.profile-container {
    width: 42%;
}

.borderless-dropdown-list {
    height: 35px;
    background: transparent;
    width: 30%;
    border: none;
    color: black;
    font-weight: bold;
}

.icon-bar {
    width: 50%;
    overflow: auto;
    justify-content: space-between;
}

.icon-tray {
    width: 55%;
    float: left;
    text-align: center;
    font-size: 15px;
    color: black;
    justify-content: space-evenly;
}

.icon-tray button {
    border: none;
    outline: none;
    background: transparent;
}

.icon-bar-item {
    float: left;
    text-align: center;
    font-size: 15px;
    color: black;
    width: 22px;
    height: 22px;
    padding: 9px;
    background-color: #342f6c;
    color: white;
    border-radius: 5px;
}

.link-container {
    width: 45%;
    text-align: center;
    font-size: 15px;
    color: black;
    float: left;
    border-radius: 5px;
}

.copy-link-container {
    width: 60%;
    height: 35px;
    align-items: center;
    justify-content: center;
    background-color: #342f6c;
    color: white;
    border: none;
}