<html>
  <head>
   <title>ListenBrainz Cover Art Grid demo</title>
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
  </head>
  <body style="margin: 2em">
     <h2>Custom layouts</h2>
       <h3>Vinyl on the floor</h3>
       <object data="/coverart/lps-on-the-floor/mr_monkey/week/750" width="{{ width }}" height="{{ height }}"></object>
       <p>/coverart/lps-on-floor/mr_monkey/week/750</p>

       <object data="/coverart/lps-on-the-floor/rob/week/750" width="{{ width }}" height="{{ height }}"></object>
       <p>/coverart/lps-on-floor/rob/week/750</p>

       <object data="/coverart/lps-on-the-floor/jukevox/week/750" width="{{ width }}" height="{{ height }}"></object>
       <p>/coverart/lps-on-floor/jukevox/week/750</p>

       <h3>Top Five Artists</h3>
       <object data="/coverart/designer-top-5/rob/week/750" width="{{ width }}" height="{{ height }}"></object>
       <p>/coverart/designer-top-5/rob/week/750</p>

       <h3>Top 10 Releases</h3>
       <object data="/coverart/designer-top-10/jukevox/week/750" width="{{ width }}" height="{{ height }}"></object>
       <p>/coverart/designer-top-10/jukevox/week/750</p>

       <object data="/coverart/designer-top-10-alt/zas/week/750" width="{{ width }}" height="{{ height }}"></object>
       <p>/coverart/designer-top-10-alt/zas/week/750</p>

     <h2>Grids of Dimension 2</h2>
       <h3>Layout 0</h3>
       <object data="/coverart/grid-stats/heyarne/week/2/0/750" width="{{ width }}" height="{{ height }}"></object>
       <p>/coverart/grid-stats/heyarne/week/2/0/750</p>

     <h2>Grids of Dimension 3</h2>
       <h3>Layout 0</h3>
       <object data="coverart/grid-stats/aerozol/week/3/0/750" width="{{ width }}" height="{{ height }}"></object>
       <p>/coverart/grid-stats/aerozol/week/3/0/750</p>

       <h3>Layout 1</h3>
       <object data="coverart/grid-stats/chinmaykunkikar/week/3/1/750" width="{{ width }}" height="{{ height }}"></object>
       <p>/coverart/grid-stats/chinmaykunkikar/week/3/1/750</p>

       <h3>Layout 2</h3>
       <object data="coverart/grid-stats/lucifer/week/3/2/750" width="{{ width }}" height="{{ height }}"></object>
       <p>/coverart/grid-stats/lucifer/week/3/2/750</p>

     <h2>Grids of Dimension 4</h2>
       <h3>Layout 0</h3>
       <object data="coverart/grid-stats/rob/week/4/0/750" width="{{ width }}" height="{{ height }}"></object>
       <p>/coverart/grid-stats/rob/week/4/750/0</p>
       
       <h3>Layout 1</h3>
       <object data="coverart/grid-stats/akshaaatt/week/4/1/750" width="{{ width }}" height="{{ height }}"></object>
       <p>/coverart/grid-stats/akshaaatt/week/4/1/750</p>
       
       <h3>Layout 2</h3>
       <object data="coverart/grid-stats/throwawaytest140/week/4/2/750" width="{{ width }}" height="{{ height }}"></object> 
       <p>/coverart/grid-stats/throwawaytest140/week/4/2/750</p>
       
       <h3>Layout 3</h3>
       <object data="coverart/grid-stats/damselfish/week/4/3/750" width="{{ width }}" height="{{ height }}"></object>
       <p>/coverart/grid-stats/damselfish/week/4/3/750</p>

     <h2>Grids of Dimension 5</h2>
       <h3>Layout 0</h3>
       <object data="coverart/grid-stats/zas/month/5/0/750" width="{{ width }}" height="{{ height }}"></object>
       <p>/coverart/grid-stats/zas/week/5/0/750</p>

       <h3>Layout 1</h3>
       <object data="coverart/grid-stats/outsidecontext/month/5/1/750" width="{{ width }}" height="{{ height }}"></object>
       <p>/coverart/grid-stats/outsidecontext/week/5/1/750</p>

  </body>
</html>
