{%- extends 'base.html' -%}
{%- block content -%}
   <h1>ListenBrainz Cover Art Grid demo</h1>
     <h2>Custom layouts</h2>
       <h3>Vinyl on the floor</h3>
       <object data="{{ url_for("art_api_v1.cover_art_custom_stats",
		                custom_name="lps-on-the-floor",
				image_size=750,
				time_range="week",
				user_name="rob") }}"
	       width="{{ width }}" height="{{ height }}"></object>
       <object data="{{ url_for("art_api_v1.cover_art_custom_stats",
		                custom_name="lps-on-the-floor",
				image_size=750,
				time_range="week",
				user_name="jukevox") }}"
	       width="{{ width }}" height="{{ height }}"></object>

       <h3>Top Five Artists</h3>
       <object data="{{ url_for("art_api_v1.cover_art_custom_stats",
		                custom_name="designer-top-5",
				image_size=750,
				time_range="week",
				user_name="rob") }}"
	       width="{{ width }}" height="{{ height }}"></object>
       <object data="{{ url_for("art_api_v1.cover_art_custom_stats",
		                custom_name="designer-top-10",
				image_size=750,
				time_range="week",
				user_name="jukevox") }}"
	       width="{{ width }}" height="{{ height }}"></object>
       <object data="{{ url_for("art_api_v1.cover_art_custom_stats",
		                custom_name="designer-top-10-alt",
				image_size=750,
				time_range="week",
				user_name="zas") }}"
	       width="{{ width }}" height="{{ height }}"></object>

     <h2>Grids of Dimension 2</h2>
       <h3>Layout 0</h3>
       <object data="{{ url_for("art_api_v1.cover_art_grid_stats",
				image_size=750,
				time_range="week",
				user_name="heyarne",
				dimension="2",
				layout="0") }}"
	       width="{{ width }}" height="{{ height }}"></object>

     <h2>Grids of Dimension 3</h2>
       <h3>Layout 0</h3>
       <object data="{{ url_for("art_api_v1.cover_art_grid_stats",
				image_size=750,
				time_range="week",
				user_name="aerozol",
				dimension="3",
				layout="0") }}"
	       width="{{ width }}" height="{{ height }}"></object>

       <h3>Layout 1</h3>
       <object data="{{ url_for("art_api_v1.cover_art_grid_stats",
				image_size=750,
				time_range="week",
				user_name="chinmaykunkikar",
				dimension="3",
				layout="1") }}"
	       width="{{ width }}" height="{{ height }}"></object>

       <h3>Layout 2</h3>
       <object data="{{ url_for("art_api_v1.cover_art_grid_stats",
				image_size=750,
				time_range="week",
				user_name="lucifer",
				dimension="3",
				layout="2") }}"
	       width="{{ width }}" height="{{ height }}"></object>

     <h2>Grids of Dimension 4</h2>
       <h3>Layout 0</h3>
       <object data="{{ url_for("art_api_v1.cover_art_grid_stats",
				image_size=750,
				time_range="week",
				user_name="rob",
				dimension="4",
				layout="0") }}"
	       width="{{ width }}" height="{{ height }}"></object>

       <h3>Layout 1</h3>
       <object data="{{ url_for("art_api_v1.cover_art_grid_stats",
				image_size=750,
				time_range="week",
				user_name="akshaaatt",
				dimension="4",
				layout="1") }}"
	       width="{{ width }}" height="{{ height }}"></object>

       <h3>Layout 2</h3>
       <object data="{{ url_for("art_api_v1.cover_art_grid_stats",
				image_size=750,
				time_range="week",
				user_name="throwawaytest140",
				dimension="4",
				layout="2") }}"
	       width="{{ width }}" height="{{ height }}"></object>

       <h3>Layout 3</h3>
       <object data="{{ url_for("art_api_v1.cover_art_grid_stats",
				image_size=750,
				time_range="week",
				user_name="damselfish",
				dimension="4",
				layout="2") }}"
	       width="{{ width }}" height="{{ height }}"></object>


     <h2>Grids of Dimension 5</h2>
       <h3>Layout 0</h3>
       <object data="{{ url_for("art_api_v1.cover_art_grid_stats",
				image_size=750,
				time_range="month",
				user_name="zas",
				dimension="5",
				layout="0") }}"
	       width="{{ width }}" height="{{ height }}"></object>

       <h3>Layout 1</h3>
       <object data="{{ url_for("art_api_v1.cover_art_grid_stats",
				image_size=750,
				time_range="month",
				user_name="outsidecontext",
				dimension="5",
				layout="1") }}"
	       width="{{ width }}" height="{{ height }}"></object>

{%- endblock content -%}
