{%- extends 'index.html' -%}
{%- block content -%}
    <h1>ListenBrainz Cover Art Grid demo</h1>
    <h2>Custom layouts</h2>
    <h3>Vinyl on the floor</h3>
    <object data="{{ api_url }}/1/art/lps-on-the-floor/rob/week/750" width="{{ width }}" height="{{ height }}"></object>
    <object data="{{ api_url }}/1/art/lps-on-the-floor/jukevox/week/750" width="{{ width }}" height="{{ height }}"></object>

    <h3>Top Five Artists</h3>
    <object data="{{ api_url }}/1/art/designer-top-5/rob/week/750" width="{{ width }}" height="{{ height }}"></object>
    <object data="{{ api_url }}/1/art/designer-top-10/jukevox/week/750" width="{{ width }}" height="{{ height }}"></object>
    <object data="{{ api_url }}/1/art/designer-top-10-alt/zas/week/750" width="{{ width }}" height="{{ height }}"></object>

    <h2>Grids of Dimension 2</h2>
    <h3>Layout 0</h3>
    <object data="{{ api_url }}/1/art/grid-stats/heyarne/week/2/0/750" width="{{ width }}" height="{{ height }}"></object>

    <h2>Grids of Dimension 3</h2>
    <h3>Layout 0</h3>
    <object data="{{ api_url }}/1/art/grid-stats/aerozol/week/3/0/750" width="{{ width }}" height="{{ height }}"></object>

    <h3>Layout 1</h3>
    <object data="{{ api_url }}/1/art/grid-stats/chinmaykunkikar/week/3/1/750" width="{{ width }}" height="{{ height }}"></object>

    <h3>Layout 2</h3>
    <object data="{{ api_url }}/1/art/grid-stats/lucifer/week/3/2/750" width="{{ width }}" height="{{ height }}"></object>

    <h2>Grids of Dimension 4</h2>
    <h3>Layout 0</h3>
    <object data="{{ api_url }}/1/art/grid-stats/rob/week/4/0/750" width="{{ width }}" height="{{ height }}"></object>

    <h3>Layout 1</h3>
    <object data="{{ api_url }}/1/art/grid-stats/akshaaatt/week/4/1/750" width="{{ width }}" height="{{ height }}"></object>

    <h3>Layout 2</h3>
    <object data="{{ api_url }}/1/art/grid-stats/throwawaytest140/week/4/2/750" width="{{ width }}" height="{{ height }}"></object>

    <h3>Layout 3</h3>
    <object data="{{ api_url }}/1/art/grid-stats/damselfish/week/4/3/750" width="{{ width }}" height="{{ height }}"></object>

    <h2>Grids of Dimension 5</h2>
    <h3>Layout 0</h3>
    <object data="{{ api_url }}/1/art/grid-stats/zas/month/5/0/750" width="{{ width }}" height="{{ height }}"></object>

    <h3>Layout 1</h3>
    <object data="{{ api_url }}/1/art/grid-stats/outsidecontext/month/5/1/750" width="{{ width }}" height="{{ height }}"></object>
{%- endblock content -%}
