{%- extends 'base.html' -%}

{%- block title -%}Detailed Statistics - AcousticBrainz{%- endblock -%}

{%- block content -%}
  <h2 class="page-title">Detailed Statistics Chart</h2>
  <p>Use the small chart below to select a smaller section of the graph to view.</p>
  <div id="chart"><svg style="height:500px; width:100%;"></svg></div>
{%- endblock -%}

{%- block scripts -%}
  {{ super() }}
  <script src="{{ url_for('static', filename="js/lib/highstock.js") }}"></script>
  <script>
    $(function () {
      $.getJSON('{{ url_for('stats.data') }}', function (data) {
        $("#chart").highcharts("StockChart", {
          rangeSelector: { selected: 5 },
          series: data,
          yAxis: { min: 0 },
          tooltip: { valueDecimals: 0 },
          credits: { enabled: false }
        });
      });
    });
  </script>
{%- endblock -%}
