name: ListenBrainz Build Production Image

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ '*' ]
    types: [ opened, synchronize, reopened, ready_for_review ]
    paths-ignore:
      - 'listenbrainz_spark/**'
      - 'requirements_spark.txt'
      - 'requirements_development.txt'
      - '**/Dockerfile.spark*'
      - '**.yml'
      - '**.md'
      - 'docs/**'

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:

  prod:

      runs-on: ubuntu-latest

      if: github.event.pull_request.draft == false

      steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: echo ${{ secrets.DOCKER_HUB_PASSWORD }} | docker login -u ${{ secrets.DOCKER_HUB_USERNAME }} --password-stdin
        continue-on-error: true

      - name: Build production image
        run: docker build --target listenbrainz-prod --build-arg GIT_COMMIT_SHA=HEAD .
