name: ListenBrainz Spark Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ '*' ]
    types: [ opened, synchronize, reopened, ready_for_review ]
    paths:
      - 'listenbrainz_spark/**'
      - 'requirements_spark.txt'
      - 'requirements_development.txt'
      - '**/Dockerfile.spark*'
      - 'docker/docker-compose.spark*.yml'
      - 'test.sh'

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:

  test:

    runs-on: ubuntu-latest

    if: github.event.pull_request.draft == false

    steps:
    - uses: actions/checkout@v4

    - name: Login to Docker Hub
      run: echo ${{ secrets.DOCKER_HUB_PASSWORD }} | docker login -u ${{ secrets.DOCKER_HUB_USERNAME }} --password-stdin
      continue-on-error: true

    - name: Pull spark base docker image
      run: docker pull metabrainz/listenbrainz-spark-base:latest

    - name: Build spark containers
      run: ./test.sh spark -b

    - name: Run tests
      run: ./test.sh spark
